<loading-spinner *ngIf="loading | async"></loading-spinner>
<div *ngIf="!(loading | async)" style="height:100%;display:flex;flex-direction:column;overflow-x:hidden;overflow-y:auto;padding:10px 20px 10px 20px">
	<ng-container *ngIf="forum | async;let forumItem">
		<div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap;margin-bottom:10px">
			<div style="flex:none;display:flex;flex-direction:column;align-items:center;margin-right:10px">
				<ng-container *ngIf="defaultForumImage | async; then showdefaultforumimage"></ng-container>
				<ng-template #showdefaultforumimage>
					<ng-container *ngIf="defaultForumImage | async;let image">
						<div style="flex:none;margin-right:5px">
							<ng-container *ngIf="image.url == '../../../assets/defaultThumbnail.jpg'; then noimage else showimage"></ng-container>
							<ng-template #showimage>
								<img [src]="image.url" [routerLink]="['/user/forum/image/list']" [queryParams]='{ userId: forumItem.uid, forumId: forumItem.forumId }' style="cursor:pointer">
							</ng-template>
							<ng-template #noimage>
								<img [src]="image.url">
							</ng-template>
						</div>
					</ng-container>
				</ng-template>
			</div>
			<div style="flex:none;margin-right:5px">
				<h4 matTooltip="{{ forumItem.title }}">{{ forumItem.title }}</h4>
			</div>
			<div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end;align-items:center">
				<div class="label label-default" matTooltip="{{ forumItem.creationDate.toDate() | date: 'MMM d, y, h:mm:ss a' }}" style="flex:none;padding:5px">
					{{ forumItem.creationDate.toDate() | amTimeAgo }}
				</div>
				<div *ngIf="forumItem.uid == auth.uid" style="flex:none;margin-right:5px">
					<mat-icon *ngIf="forumItem.type == 'Public'" onclick="event.stopPropagation()" (click)="changeType(forumItem)" style="cursor:pointer;color:#1B1B1B" matTooltip="Public">lock_open</mat-icon>
					<mat-icon *ngIf="forumItem.type == 'Private'" onclick="event.stopPropagation()" (click)="changeType(forumItem)" style="cursor:pointer;color:#1B1B1B" matTooltip="Private">lock</mat-icon>
				</div>
				<div *ngIf="forumItem.uid == auth.uid" style="flex:none;margin-right:5px">
					<mat-icon [routerLink]="['/user/forum/edit']" [queryParams]="{ userId: forumItem.uid, forumId: forumItem.forumId }" style="cursor:pointer;color:#1B1B1B" matTooltip="Edit">edit</mat-icon>
				</div>
				<div *ngIf="forumItem.uid == auth.uid" style="flex:none;margin-right:5px">
					<mat-icon [routerLink]="['/user/forum/detail']" [queryParams]="{ userId: forumItem.uid, forumId: forumItem.forumId }" style="cursor:pointer;color:#1B1B1B" matTooltip="View details">description</mat-icon>
				</div>
				<div *ngIf="forumItem.uid == auth.uid" style="flex:none;margin-right:5px">
					<mat-icon onclick="event.stopPropagation()" (click)="delete(forumItem)" style="cursor:pointer;color:#1B1B1B" matTooltip="Delete">delete</mat-icon>
				</div>
				<div *ngIf="forumItem.uid == auth.uid" style="flex:none;margin-right:5px">
					<mat-checkbox *ngIf="forumItem.title.length > 0" matTooltip="Index" [checked]="forumItem.indexed" (change)="indexDeindexForum(forumItem)"></mat-checkbox>
					<mat-checkbox *ngIf="forumItem.title.length == 0" matTooltip="Index" [checked]="forumItem.indexed" disabled="true"></mat-checkbox>
				</div>
				<ng-container *ngIf="id | async; then fromeditpage else backtohistorypage"></ng-container>
				<ng-template #fromeditpage>
					<ng-container *ngIf="id | async as id">
						<ng-container *ngIf="returnUserId | async; then showuser"></ng-container>
						<ng-template #showuser>
							<ng-container *ngIf="returnUserId | async as returnUserId">
								<ng-container *ngIf="returnType | async; then showreturntype"></ng-container>
								<ng-template #showreturntype>
									<ng-container *ngIf="returnType | async as returnTypeItem">
										<mat-icon *ngIf="returnTypeItem=='Service'" [routerLink]="['/user/service/edit']" [queryParams]='{ userId: returnUserId, serviceId: id }' style="flex:none;font-size:2em;cursor:pointer">keyboard_backspace</mat-icon>
										<mat-icon *ngIf="returnTypeItem=='Forum'" [routerLink]="['/user/forum/edit']" [queryParams]='{ userId: returnUserId, forumId: id }' style="flex:none;font-size:2em;cursor:pointer">keyboard_backspace</mat-icon>
										<mat-icon *ngIf="returnTypeItem==''" (click)="navigateBack()" style="flex:none;font-size:2em;cursor:pointer">keyboard_backspace</mat-icon>
									</ng-container>
								</ng-template>
							</ng-container>
						</ng-template>
					</ng-container>
				</ng-template>
				<ng-template #backtohistorypage>
					<mat-icon onclick="event.stopPropagation()" (click)="navigateBack()" style="flex:none;font-size:2em;cursor:pointer">keyboard_backspace</mat-icon>
				</ng-template>
			</div>
		</div>
		<ng-container *ngIf="breadcrumbs | async;let breadcrumbItems">
			<ng-container *ngIf="breadcrumbItems.length > 0; then showbreadcrumbs else nobreadcrumbs"></ng-container>
			<ng-template #showbreadcrumbs>
				<div style="display:flex;flex-direction:row;flex-wrap: wrap;margin-bottom:10px">
					<div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap" *ngFor="let breadcrumb of breadcrumbItems; trackBy: trackBreadcrumbs">
						<ng-container *ngIf="breadcrumb.forum | async; then showforum"></ng-container>
						<ng-template #showforum>
							<ng-container *ngIf="breadcrumb.forum | async;let forum">
								<mat-icon style="flex:none;color:#999">keyboard_arrow_right</mat-icon>
								<div style="flex:none;margin-right:3px">
									<ng-container *ngIf="forum.defaultRegistrant | async; then showbreadcrumbdefaultregistrant else nobreadcrumbdefaultregistrant"></ng-container>
									<ng-template #showbreadcrumbdefaultregistrant>
										<a [routerLink]="['/user/forum/view']" [queryParams]="{ userId: forum.uid, forumId: forum.forumId }" style="color:#1B1B1B" matTooltip="{{ forum.title }}{{ forum.description.length > 0 ? (' - ' + forum.description | truncate: 80) : '' }}">{{ forum.title | truncate: 35 }}</a>
									</ng-template>
									<ng-template #nobreadcrumbdefaultregistrant>
										<a *ngIf="forum.type == 'Private'" [routerLink]="['/user/forum/detail']" [queryParams]="{ userId: forum.uid, forumId: forum.forumId }" style="word-break: break-all;color:#1B1B1B" matTooltip="{{ forum.title }}{{ forum.description.length > 0 ? (' - ' + forum.description | truncate: 80) : '' }}">{{ forum.title | truncate: 35 }} </a>
										<a *ngIf="forum.type == 'Public'" [routerLink]="['/forum/detail']" [queryParams]="{ forumId: forum.forumId }" style="word-break: break-all;color:#1B1B1B" matTooltip="{{ forum.title }}{{ forum.description.length > 0 ? (' - ' + forum.description | truncate: 80) : '' }}">{{ forum.title | truncate: 35 }} </a>
									</ng-template>
								</div>
							</ng-container>
						</ng-template>
					</div>
				</div>
			</ng-template>
			<ng-template #nobreadcrumbs></ng-template>
		</ng-container>
		<div style="flex:none;display:flex;flex-direction:row;margin-bottom:10px">
			<ng-container *ngIf="forumTags | async;let forumTagItems">
				<ng-container *ngIf="forumTagItems.length > 0; then showtags else noforumtags"></ng-container>
				<ng-template #showtags>
					<div style="flex:none;display:flex;flex-direction:row">
						<ng-container *ngFor="let forumTag of forumTagItems; trackBy: trackForumTags">
							<span class="label label-danger" style="flex:none;margin-right:5px;padding:5px">{{ forumTag.tag }}</span>
						</ng-container>
					</div>
				</ng-template>
				<ng-template #noforumtags></ng-template>
			</ng-container>
		</div>
		<mat-expansion-panel #descriptionPanel
			(opened)="descriptionPanelEvent('expanded')"
			(closed)="descriptionPanelEvent('contracted')"
			class="mat-elevation-z0"
			*ngIf="forumItem.description.length > 0"
			style="margin-bottom:10px">
			<mat-expansion-panel-header style="display:flex;flex-direction:row">
				<mat-panel-title #descriptionPanelTitle style="flex:none">
					{{ forumItem.description | truncate: 80 }}
				</mat-panel-title>
			</mat-expansion-panel-header>
			<p style="margin:0px;padding:0px;white-space:pre-wrap">
				<span [innerHTML]="forumItem.description | linky: { newWindow: true, className: 'viewPageLinkyClass' }"></span>
			</p>
		</mat-expansion-panel>
		<div style="flex:none;margin-bottom:10px">
			Posts(<ng-container *ngIf="postCount | async as t"><ng-container [ngSwitch]="t"><ng-container *ngSwitchCase="-1">0</ng-container><ng-container *ngSwitchDefault>{{ t }}</ng-container></ng-container></ng-container>)
		</div>
		<div #scrollMe class="bs-example" id="posts" ngx-auto-scroll observe-attributes>
			<ng-container *ngIf="posts | async; let postItems">
				<ng-container *ngIf="postItems.length > 0; then showposts else noposts"></ng-container>
				<ng-template #showposts>
					<div class="bubble" [class.you]="isYou(post.serviceUid)" [class.me]="isMe(post.serviceUid)"
						*ngFor="let post of postItems; trackBy: trackPosts">
						<ng-container *ngIf="post.service | async;let service">
							<ng-container *ngIf="service; then showservice"></ng-container>
							<ng-template #showservice>
								<div style="display:flex;flex-direction:row;align-items:center">
									<ng-container *ngIf="post.forumUid == auth.uid || post.serviceUid == auth.uid; then editablepost else noeditablepost"></ng-container>
									<ng-template #editablepost>
										<!-- contenteditable="true" [textContent]="post.message" (blur)="changePostMessage(post, $event.target.textContent)" -->
										<div style="flex:1" [innerHTML]="post.message | linky: { newWindow: true, className: 'viewPageLinkyClass' }"></div>
									</ng-template>
									<ng-template #noeditablepost>
										<div style="flex:1" [innerHTML]="post.message | linky: { newWindow: true, className: 'viewPageLinkyClass' }"></div>
									</ng-template>
									<ng-container *ngIf="auth.uid == forumItem.uid || auth.uid == service.uid">
										<div style="flex:none">
											<mat-icon onclick="event.stopPropagation()" (click)="removePost(post)" style="cursor:pointer;color:#999" matTooltip="Remove">close</mat-icon>
										</div>
									</ng-container>
								</div>
								<div style="display:flex;flex-direction:row;align-items:center">
									<div [ngClass]="service.paymentType == 'Free' ? 'alert alert-success' : 'alert alert-info'" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin-right:5px">
										<ng-container *ngIf="service.defaultServiceImage | async; then showdefaultserviceimage"></ng-container>
										<ng-template #showdefaultserviceimage>
											<ng-container *ngIf="service.defaultServiceImage | async;let image">
												<div style="flex:none;margin-right:10px">
													<img [src]="image.url">
												</div>
											</ng-container>
										</ng-template>
										<a *ngIf="service.type == 'Private'" style="flex:1;color:#1B1B1B;font-size:0.9em" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: service.uid, serviceId: service.serviceId }" matTooltip="{{ service.title }}{{ service.description.length > 0 ? (' - ' + service.description | truncate: 80) : '' }}">{{ service.title | truncate: 35 }}</a>
										<a *ngIf="service.type == 'Public'" style="flex:1;color:#1B1B1B;font-size:0.9em" [routerLink]="['/service/detail']" [queryParams]="{ serviceId: service.serviceId }" matTooltip="{{ service.title }}{{ service.description.length > 0 ? (' - ' + service.description | truncate: 80) : '' }}">{{ service.title | truncate: 35 }}</a>
									</div>
									<div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
										<p style="flex:none;background-color:rgb(131, 122, 122);border-radius:2px;padding:3px;color:#FFFDD0;font-size:0.8em" matTooltip="{{ post.creationDate | date: 'MMM d, y, h:mm:ss a' }}">{{ post.creationDate | amTimeAgo }}</p>
									</div>
								</div>
							</ng-template>
						</ng-container>
					</div>
				</ng-template>
				<ng-template #noposts>
					<p style="flex:none;color:#999;font-size:90%">
						<i>No Posts</i>
					</p>
				</ng-template>
			</ng-container>
		</div>
		<div style="flex:none;margin-bottom:5px">
			<mat-accordion>
				<mat-expansion-panel hideToggle="true">
					<mat-expansion-panel-header style="display:flex;flex-direction:row">
						<mat-panel-title style="flex:none">
							Services(<ng-container *ngIf="registrantCount | async as t"><ng-container [ngSwitch]="t"><ng-container *ngSwitchCase="-1">0</ng-container><ng-container *ngSwitchDefault>{{ t }}</ng-container></ng-container></ng-container>)
						</mat-panel-title>
						<div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
							<mat-icon style="flex:none;margin-right:5px;cursor:pointer;color:#999" [routerLink]="['/user/forum/service/new']" [queryParams]='{ userId: forumItem.uid, forumId: forumItem.forumId }' matTooltip="Create service">add</mat-icon>
							<mat-icon style="flex:none;margin-right:5px;cursor:pointer;color:#999" [routerLink]="['/user/forum/service/add']" [queryParams]='{ userId: forumItem.uid, forumId: forumItem.forumId }' matTooltip="Add service">add_box</mat-icon>
						</div>
					</mat-expansion-panel-header>
					<div style="display:flex;flex-direction:row;overflow-x:auto;margin-bottom:10px">
						<ng-container *ngIf="registrants | async;let registrantItems">
							<ng-container *ngIf="registrantItems.length > 0; then showregistrants else noregistrants"></ng-container>
							<ng-template #showregistrants>
								<ng-container *ngFor="let registrant of registrantItems; trackBy: trackRegistrants">
									<ng-container *ngIf="registrant.service | async; then showservice"></ng-container>
									<ng-template #showservice>
										<ng-container *ngIf="registrant.service | async;let service">
											<div [ngClass]="service.paymentType == 'Free' ? 'alert alert-success' : 'alert alert-info'" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin:0 5px 0 0;flex-wrap:nowrap">
												<ng-container *ngIf="service.defaultServiceImage | async; then showdefaultserviceimage"></ng-container>
												<ng-template #showdefaultserviceimage>
													<ng-container *ngIf="service.defaultServiceImage | async;let image">
														<div style="flex:none;margin-right:5px">
															<img [src]="image.url">
														</div>
													</ng-container>
												</ng-template>
												<div style="flex:none;margin-right:5px">
													<a *ngIf="service.type == 'Private'" [routerLink]="['/user/service/detail']" style="flex:none;color:#1B1B1B" [queryParams]="{ userId: service.uid, serviceId: service.serviceId }" matTooltip="{{ service.title }}{{ service.description.length > 0 ? (' - ' + service.description | truncate: 80) : '' }}">{{ service.title | truncate: 35 }}</a>
													<a *ngIf="service.type == 'Public'" [routerLink]="['/service/detail']" style="flex:none;color:#1B1B1B" [queryParams]="{ serviceId: service.serviceId }" matTooltip="{{ service.title }}{{ service.description.length > 0 ? (' - ' + service.description | truncate: 80) : '' }}">{{ service.title | truncate: 35 }}</a>
												</div>
												<ng-container *ngIf="auth.uid == forumItem.uid || auth.uid == registrant.uid">
													<ng-container *ngIf="auth.uid == forumItem.uid; then showforumowner else showregistrantowner"></ng-container>
													<ng-template #showforumowner>
														<div style="flex:none">
															<ng-container *ngIf="auth.uid != service.uid; then showblockcontrol else noblockcontrol"></ng-container>
															<ng-template #showblockcontrol>
																<mat-select #select="matSelect" placeholder="" (selectionChange)="blockRegistrant($event, registrant)">
																	<mat-option *ngFor="let t of blockTypes" [value]="t">{{ t }}</mat-option>
																</mat-select>
															</ng-template>
															<ng-template #noblockcontrol>
																<mat-icon onclick="event.stopPropagation()" (click)="removeRegistrant(registrant)" style="cursor:pointer;color:#1B1B1B" matTooltip="Remove">close</mat-icon>
															</ng-template>
														</div>
													</ng-template>
													<ng-template #showregistrantowner>
														<div style="flex:none">
															<mat-icon onclick="event.stopPropagation()" (click)="removeRegistrant(registrant)" style="cursor:pointer;color:#1B1B1B" matTooltip="Remove">close</mat-icon>
														</div>
													</ng-template>
												</ng-container>
											</div>
										</ng-container>
									</ng-template>
								</ng-container>
							</ng-template>
							<ng-template #noregistrants>
								<p style="flex:none;color:#999;font-size:90%">
									<i>No Services</i>
								</p>
							</ng-template>
						</ng-container>
					</div>
				</mat-expansion-panel>
			</mat-accordion>
		</div>
		<div style="flex:none;margin-bottom:5px">
			<mat-accordion>
				<mat-expansion-panel hideToggle="true">
					<mat-expansion-panel-header style="display:flex;flex-direction:row">
						<mat-panel-title style="flex:none">
							Forums(<ng-container *ngIf="forumCount | async as t"><ng-container [ngSwitch]="t"><ng-container *ngSwitchCase="-1">0</ng-container><ng-container *ngSwitchDefault>{{ t }}</ng-container></ng-container></ng-container>)
						</mat-panel-title>
						<div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
							<mat-icon style="flex:none;margin-right:5px;cursor:pointer;color:#999" [routerLink]="['/user/forum/forum/new']" [queryParams]='{ userId: forumItem.uid, forumId: forumItem.forumId }' matTooltip="Create forum">add</mat-icon>
						</div>
					</mat-expansion-panel-header>
					<div style="display:flex;flex-direction:row;overflow-x:auto;margin-bottom:10px">
						<ng-container *ngIf="forumForums | async;let forumForumItems">
							<ng-container *ngIf="forumForumItems.length > 0; then showforumforums else noforumforums"></ng-container>
							<ng-template #showforumforums>
								<ng-container *ngFor="let forumForum of forumForumItems; trackBy: trackForumForums">
									<div class="alert alert-danger" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin:0 5px 0 0;flex-wrap:nowrap">
										<ng-container *ngIf="forumForum.defaultForumImage | async; then showdefaultforumimage"></ng-container>
										<ng-template #showdefaultforumimage>
											<ng-container *ngIf="forumForum.defaultForumImage | async;let image">
												<div style="flex:none;margin-right:5px">
													<img [src]="image.url">
												</div>
											</ng-container>
										</ng-template>
										<div style="flex:1;margin-right:5px">
											<ng-container *ngIf="forumForum.defaultRegistrant | async; then showdefaultregistrant else nodefaultregistrant"></ng-container>
											<ng-template #showdefaultregistrant>
												<a [routerLink]="['/user/forum/view']" [queryParams]="{ userId: forumForum.uid, forumId: forumForum.forumId }" style="color:#1B1B1B" matTooltip="{{ forumForum.title }}{{ forumForum.description.length > 0 ? (' - ' + forumForum.description | truncate: 80) : '' }}">{{ forumForum.title | truncate: 35 }}</a>
											</ng-template>
											<ng-template #nodefaultregistrant>
												<a *ngIf="forumForum.type == 'Private'" [routerLink]="['/user/forum/detail']" [queryParams]="{ userId: forumForum.uid, forumId: forumForum.forumId }" style="word-break: break-all;color:#1B1B1B" matTooltip="{{ forumForum.title }}{{ forumForum.description.length > 0 ? (' - ' + forumForum.description | truncate: 80) : '' }}">{{ forumForum.title | truncate: 35 }}</a>
												<a *ngIf="forumForum.type == 'Public'" [routerLink]="['/forum/detail']" [queryParams]="{ forumId: forumForum.forumId }" style="word-break: break-all;color:#1B1B1B" matTooltip="{{ forumForum.title }}{{ forumForum.description.length > 0 ? (' - ' + forumForum.description | truncate: 80) : '' }}">{{ forumForum.title | truncate: 35 }}</a>
											</ng-template>
										</div>
										<div style="flex:none;margin-right:5px">
											<ng-container *ngIf="forumForum.type == 'Public'; then showpublictype else showprivatetype"></ng-container>
											<ng-template #showpublictype>
												<ng-container *ngIf="forumForum.uid == auth.uid; then showpublicenabledtype else showpublicdisabledtype"></ng-container>
												<ng-template #showpublicenabledtype>
													<mat-icon onclick="event.stopPropagation()" (click)="changeType(forumForum)" style="cursor:pointer;color:#1B1B1B" matTooltip="Public">lock_open</mat-icon>
												</ng-template>
												<ng-template #showpublicdisabledtype>
													<mat-icon style="color:lightgrey" matTooltip="Public">lock_open</mat-icon>
												</ng-template>
											</ng-template>
											<ng-template #showprivatetype>
												<ng-container *ngIf="forumForum.uid == auth.uid; then showprivateenabledtype else showprivatedisabledtype"></ng-container>
												<ng-template #showprivateenabledtype>
													<mat-icon onclick="event.stopPropagation()" (click)="changeType(forumForum)" style="cursor:pointer;color:#1B1B1B" matTooltip="Private">lock</mat-icon>
												</ng-template>
												<ng-template #showprivatedisabledtype>
													<mat-icon style="color:lightgrey" matTooltip="Private">lock</mat-icon>
												</ng-template>
											</ng-template>
										</div>
										<ng-container *ngIf="auth.uid == forumItem.uid || auth.uid == forumForum.uid">
											<div style="flex:none">
												<mat-icon onclick="event.stopPropagation()" (click)="removeForumForum(forumForum)" style="cursor:pointer;color:#1B1B1B" matTooltip="Remove">close</mat-icon>
											</div>
										</ng-container>
									</div>
								</ng-container>
							</ng-template>
							<ng-template #noforumforums>
								<p style="flex:none;color:#999;font-size:90%">
									<i>No Forums</i>
								</p>
							</ng-template>
						</ng-container>
					</div>
				</mat-expansion-panel>
			</mat-accordion>
		</div>
		<div style="flex:none;display:flex;flex-direction:row;align-items:center;margin-bottom:10px">
			<div style="flex:1;margin-right:10px;padding-top:5px;">
				<input type="text"
					style="width:100%;font-size:1.2em;padding:5px;color:#333;word-break:break-all;word-wrap:break-word;background-color:#f5f5f5;border:1px solid #ccc;border-radius:3px"
					placeholder="Your message"
					[formControl]="newMessageCtrl"
					(keyup.enter)="sendMessage()" />
			</div>
			<ng-container *ngIf="userRegistrants | async;let userRegistrantItems">
				<ng-container *ngIf="userRegistrantItems.length > 0; then showregistrants"></ng-container>
				<ng-template #showregistrants>
					<div style="flex:none;margin-right:10px">
						<mat-form-field>
							<mat-select #select="matSelect" [compareWith]="userRegistrantsCompareFn" (selectionChange)="changeUserRegistrant($event)" [formControl]="userRegistrantsCtrl">
								<mat-option *ngFor="let registrant of userRegistrantItems; trackBy: trackUserRegistrants" [value]="registrant">
									<ng-container *ngIf="registrant.service | async;let service">
										<ng-container *ngIf="service; then showservice"></ng-container>
										<ng-template #showservice>
											<p matTooltip="{{ service.title }}">{{ service.title | truncate: 35 }}</p>
										</ng-template>
									</ng-container>
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</ng-template>
			</ng-container>
			<div style="flex:none">
				<button class="send-message" (click)="sendMessage()" >SEND</button>
			</div>
		</div>
	</ng-container>
</div>
<audio #audioSound>
	<source src='../../../../assets/intricate.mp3' type="audio/mp3">
</audio>
