<loading-spinner *ngIf="loading | async"></loading-spinner>
<div *ngIf="!(loading | async)" style="height:100%;display:flex;flex-direction:column;overflow-x:hidden;overflow-y:auto;padding:10px 20px 10px 20px">
	<div style="flex:none;display:flex;flex-direction:row;align-items:center">
		<h4 style="flex:none">Settings</h4>
		<div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
			<back></back>
		</div>
	</div>
	<div style="flex:1">
		<!-- START OF USER DETAILS SECTION -->
		<form [formGroup]="userGroup" novalidate>
			<ng-container *ngIf="auth.user | async;let userItem">
				<div *ngIf="userItem.receivePushNotifications == false" class="alert alert-warning" style="padding:0px;margin-bottom:10px">
					<div class="panel-body"><b>Please note:</b> If you are using chrome and have previously blocked Eleutherios from sending you push notifications, then you must unblock Eleutherios in your Chrome settings to receive push notifications again (chrome://settings/content/notifications).</div>
				</div>
				<div style="margin-bottom:10px">
					<mat-form-field style="width:100%">
						<input
							matInput
							#displayNameRef
							placeholder="Display Name"
							formControlName="displayName"
							(change)="saveChanges()">
						<mat-error *ngIf="!userGroup.get('displayName').valid || userGroup.get('displayName').touched">
							Display name is required
						</mat-error>
					</mat-form-field>
				</div>
				<div style="margin-bottom:10px">
					<mat-form-field style="width:100%">
						<input
							matInput
							#usernameRef
							placeholder="Username"
							formControlName="username"
							(change)="saveChanges()">
						<mat-error *ngIf="!userGroup.get('username').valid || userGroup.get('username').touched">
							User name is required
						</mat-error>
					</mat-form-field>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" style="display:flex;flex-direction:row">
						<div style="flex:1">
							Push Notifications
						</div>
						<div style="flex:none">
							<mat-checkbox formControlName="receivePushNotifications" (change)="pushNotificationSave()"></mat-checkbox>
						</div>
					</div>
					<div class="panel-body">
						<div style="display:flex;flex-direction:row;align-items:center;margin-bottom:10px">
							<div style="flex:1">
								<p>Forum Alerts</p>
							</div>
							<div style="flex:none">
								<mat-checkbox formControlName="receiveForumAlertNotifications" (change)="saveChanges()"></mat-checkbox>
							</div>
						</div>
						<div style="display:flex;flex-direction:row;align-items:center;margin-bottom:10px">
							<div style="flex:1">
								<p>Service Alerts</p>
							</div>
							<div style="flex:none">
								<mat-checkbox formControlName="receiveServiceAlertNotifications" (change)="saveChanges()"></mat-checkbox>
							</div>
						</div>
						<div style="display:flex;flex-direction:row;align-items:center">
							<div style="flex:1">
								<p>Forum Posts</p>
							</div>
							<div style="flex:none">
								<mat-checkbox formControlName="receiveForumPostNotifications" (change)="saveChanges()"></mat-checkbox>
							</div>
						</div>
					</div>
				</div>
				<div style="display:flex;flex-direction:row;justify-content:flex-end">
					<!-- <button (click)="updateAccount()" type="button" class="btn btn-success" style="margin-right:5px">Update Account</button> -->
					<button (click)="delete()" type="button" class="btn btn-danger">Remove Account</button>
				</div>
			</ng-container>
		</form>
	</div>
</div>