<loading-spinner *ngIf="loading | async"></loading-spinner>
<div *ngIf="!(loading | async)" style="display:flex;flex-direction:column;height:100%">
  <ng-container *ngIf="publicForums | async;let publicForumItems">
    <ng-container *ngIf="publicForumItems.length > 0; then showpublicforums else nopublicforums"></ng-container>
    <ng-template #showpublicforums>
      <h4 style="flex:none;margin-left:10px;margin-bottom:0px">Forums</h4>
      <div style="flex:50%;flex-grow:1;display:flex;flex-direction:column;padding:10px;overflow-x:hidden;overflow-y:auto">
        <div *ngFor="let forum of publicForumItems; trackBy: trackPublicForums" style="flex:none;display:flex;flex-direction:column;background-color:rgb(250, 113, 108);border:1px solid #ac2c2c;margin-bottom:5px">
          <div style="flex:none;display:flex;flex-direction:row;padding:5px 5px 5px 10px;align-items:center;flex-wrap:wrap">
            <ng-container *ngIf="forum.defaultForumImage | async; then showdefaultforumimage"></ng-container>
            <ng-template #showdefaultforumimage>
              <ng-container *ngIf="forum.defaultForumImage | async;let image">
                <div style="flex:none;margin-right:10px">
                  <ng-container *ngIf="image.url == '../../../assets/defaultThumbnail.jpg'; then noimage else showimage"></ng-container>
                  <ng-template #showimage>
                    <img [src]="image.url" [routerLink]="['/anonymous/forum/detail']" [queryParams]='{ forumId: forum.forumId }' style="cursor:pointer">
                  </ng-template>
                  <ng-template #noimage>
                    <img [src]="image.url">
                  </ng-template>
                </div>
              </ng-container>
            </ng-template>
            <div style="flex:1;margin-right:5px">
              <a [routerLink]="['/anonymous/forum/detail']" [queryParams]="{ forumId: forum.forumId }" style="word-break: break-all;color:#1B1B1B" matTooltip="{{ forum.title }}">{{ forum.title | noTitle | truncate: 35 }} <i *ngIf="forum.description.length > 0">- {{ forum.description | truncate: 80 }}</i></a>
            </div>
            <div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
              <!-- other button controls -->
              <div style="flex:none;margin-right:5px">							
                <p style="background-color:rgb(131, 122, 122);border-radius:2px;padding:4px;color:#FFFDD0" matTooltip="{{ forum.creationDate.toDate() | date: 'MMM d, y, h:mm:ss a' }}">{{ forum.creationDate.toDate() | amTimeAgo }}</p>
              </div>
              <div style="flex:none">
                <mat-icon [routerLink]="['/anonymous/forum/detail']" [queryParams]="{ forumId: forum.forumId }" style="cursor:pointer" matTooltip="View Details">description</mat-icon>
              </div>
            </div>
          </div>
          <ng-container *ngIf="forum.forumTags | async;let forumTagItems">
            <ng-container *ngIf="forumTagItems.length > 0; then showtags"></ng-container>
            <ng-template #showtags>
              <div style="flex:none;display:flex;flex-direction:row;padding:0px 5px 5px 10px">
                <ng-container *ngFor="let forumTag of forumTagItems">
                  <div style="flex:none;border:1px solid #ac2c2c;background-color:rgb(250, 155, 152);padding:3px;margin-right:5px;font-size:0.85em">
                    <p style="margin:0 3px 0 3px">{{ forumTag.tag }}</p>
                  </div>
                </ng-container>
              </div>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </ng-template>
    <ng-template #nopublicforums>
      <h4 style="flex:none;color:#999;font-size:90%;margin-left:10px;margin-bottom:0px">
        <i>No Forums</i>
      </h4>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="publicServices | async;let publicServiceItems">
    <ng-container *ngIf="publicServiceItems.length > 0; then showpublicservices else nopublicservices"></ng-container>
    <ng-template #showpublicservices>
      <h4 style="flex:none;margin-left:10px;margin-bottom:0px">Services</h4>
      <div style="flex:50%;flex-grow:1;display:flex;flex-direction:column;padding:10px;overflow-x:hidden;overflow-y:auto">
        <ng-container *ngFor="let service of publicServiceItems; trackBy: trackPublicServices">
          <div class="service" style="flex:none;display:flex;flex-direction:column;margin-bottom:5px">
            <div style="flex:none;display:flex;flex-direction:row;padding:5px 5px 5px 10px;align-items:center;flex-wrap:wrap">
              <ng-container *ngIf="service.defaultServiceImage | async; then showdefaultserviceimage"></ng-container>
              <ng-template #showdefaultserviceimage>
                <ng-container *ngIf="service.defaultServiceImage | async;let image">
                  <div style="flex:none;margin-right:10px">
                    <ng-container *ngIf="image.url == '../../../assets/defaultThumbnail.jpg'; then noimage else showimage"></ng-container>
                    <ng-template #showimage>
                      <img [src]="image.url" [routerLink]="['/anonymous/service/detail']" [queryParams]='{ serviceId: service.serviceId }' style="cursor:pointer">
                    </ng-template>
                    <ng-template #noimage>
                      <img [src]="image.url">
                    </ng-template>
                  </div>
                </ng-container>
              </ng-template>
              <div style="flex:1;margin-right:5px">
                <p style="word-break: break-all">
                  <a [routerLink]="['/anonymous/service/detail']" [queryParams]="{ serviceId: service.serviceId }" style="color:#1B1B1B" matTooltip="{{ service.title }}{{ service.description.length > 0 ? (' - ' + service.description | truncate: 80) : '' }}">{{ service.title | noTitle | truncate: 35 }} <i *ngIf="service.description.length > 0">- {{ service.description | truncate: 80 }}</i></a>
                </p>
              </div>
              <div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
                <!-- other button controls -->
                <div style="flex:none;margin-right:5px">							
                  <p style="background-color:rgb(131, 122, 122);border-radius:2px;padding:4px;color:#FFFDD0" matTooltip="{{ service.creationDate.toDate() | date: 'MMM d, y, h:mm:ss a' }}">{{ service.creationDate.toDate() | amTimeAgo }}</p>
                </div>
                <div style="flex:none">
                  <mat-icon [routerLink]="['/anonymous/service/detail']" [queryParams]="{ serviceId: service.serviceId }" style="cursor:pointer" matTooltip="View Details">description</mat-icon>
                </div>
              </div>
            </div>
            <ng-container *ngIf="service.serviceTags | async;let serviceTagItems">
              <ng-container *ngIf="serviceTagItems.length > 0; then showtags"></ng-container>
              <ng-template #showtags>
                <div style="flex:none;display:flex;flex-direction:row;padding:0px 5px 5px 10px">
                  <ng-container *ngFor="let serviceTag of serviceTagItems">
                    <div style="flex:none;background-color:rgb(188, 194, 202);border:1px solid #007FFF;padding:3px;margin-right:5px;font-size:0.85em">
                      <p style="margin:0 3px 0 3px">{{ serviceTag.tag }}</p>
                    </div>
                  </ng-container>
                </div>
              </ng-template>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </ng-template>
    <ng-template #nopublicservices>
      <h4 style="flex:none;color:#999;font-size:90%;margin-left:10px;margin-bottom:0px">
        <i>No Services</i>
      </h4>
    </ng-template>
  </ng-container>
</div>