<div style="display:flex;flex-direction:column;overflow-y:auto;padding:10px 20px 10px 20px">
	<!-- header -->
	<div style="flex:none;display:flex;flex-direction:row">
		<h4 style="flex:1">Service Forum Blocks(<ng-container *ngIf="total | async as t"><ng-container [ngSwitch]="t"><ng-container *ngSwitchCase="-1">0</ng-container><ng-container *ngSwitchDefault>{{ t }}</ng-container></ng-container></ng-container>)</h4>
		<back></back>
	</div>
	<!-- search results -->
	<loading-spinner *ngIf="loading | async"></loading-spinner>
	<div *ngIf="!(loading | async)" style="flex:1">
		<ng-container *ngIf="serviceForumBlocks | async;let serviceForumBlockItems">
			<ng-container *ngIf="serviceForumBlockItems.length > 0; then showserviceforumblocks else noserviceforumblocks"></ng-container>
			<ng-template #showserviceforumblocks>
				<ng-container *ngFor="let serviceForumBlock of serviceForumBlockItems; trackBy: trackServiceForumBlocks">
					<ng-container *ngIf="serviceForumBlock.service | async; then showservice"></ng-container>
					<ng-template #showservice>
						<ng-container *ngIf="serviceForumBlock.service | async as service">
							<div [ngClass]="service.paymentType == 'Free' ? 'label label-success' : 'label label-info'" style="margin-bottom:5px">
								<div style="display:flex;flex-direction:row">
									<ng-container *ngIf="service.defaultServiceImage | async; then showdefaultserviceimage"></ng-container>
									<ng-template #showdefaultserviceimage>
										<ng-container *ngIf="service.defaultServiceImage | async;let image">
											<div style="flex:none;margin-right:10px">
												<ng-container *ngIf="image.url == '../../../assets/defaultTiny.jpg'; then noimage else showimage"></ng-container>
												<ng-template #showimage>
													<img *ngIf="service.type == 'Private'" [src]="image.url" [routerLink]="['/user/service/detail']" [queryParams]='{ userId: service.uid, serviceId: service.serviceId }' style="cursor:pointer">
													<img *ngIf="service.type == 'Public'" [src]="image.url" [routerLink]="['/service/detail']" [queryParams]='{ serviceId: service.serviceId }' style="cursor:pointer">
												</ng-template>
												<ng-template #noimage>
													<img [src]="image.url">
												</ng-template>
											</div>
										</ng-container>
									</ng-template>
									<a *ngIf="service.type == 'Private'" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: service.uid, serviceId: service.serviceId }" style="flex:1;color:#1B1B1B" matTooltip="{{ service.title }}">{{ service.title | truncate: 35 }} <i *ngIf="service.description.length > 0">- {{ service.description | truncate: 80 }}</i></a>
									<a *ngIf="service.type == 'Public'" [routerLink]="['/service/detail']" [queryParams]="{ serviceId: service.serviceId }" style="flex:1;color:#1B1B1B" matTooltip="{{ service.title }}">{{ service.title | truncate: 35 }} <i *ngIf="service.description.length > 0">- {{ service.description | truncate: 80 }}</i></a>
									<mat-icon onclick="event.stopPropagation()" (click)="delete(serviceForumBlock)" style="flex:none;margin-left:5px;cursor:pointer;color:#1B1B1B" matTooltip="Delete">delete</mat-icon>
								</div>
								<div style="display:flex;flex-direction:row">
									<ng-container *ngIf="service.forum | async; then showforum"></ng-container>
									<ng-template #showforum>
										<ng-container *ngIf="service.forum | async as forum">
											<div class="alert alert-danger" style="flex:none;display:flex;flex-direction:row;align-items:center;margin-right:10px">
												<ng-container *ngIf="forum.defaultForumImage | async; then showdefaultforumimage"></ng-container>
												<ng-template #showdefaultforumimage>
													<ng-container *ngIf="forum.defaultForumImage | async;let image">
														<div style="flex:none;margin-right:5px">
															<img [src]="image.url">
														</div>
													</ng-container>
												</ng-template>
												<div style="flex:1;margin-right:5px">
													<ng-container *ngIf="forum.defaultRegistrant | async; then showdefaultregistrant else nodefaultregistrant"></ng-container>
													<ng-template #showdefaultregistrant>
														<p style="word-break: break-all">
															<a [routerLink]="['/user/forum/view']" [queryParams]="{ userId: forum.uid, forumId: forum.forumId }" style="color:#1B1B1B" matTooltip="{{ forum.title }}">{{ forum.title | noTitle | truncate: 35 }} <i *ngIf="forum.description.length > 0">- {{ forum.description | truncate: 80 }}</i></a>
														</p>
													</ng-template>
													<ng-template #nodefaultregistrant>
														<a *ngIf="forum.type == 'Private'" [routerLink]="['/user/forum/detail']" [queryParams]="{ userId: forum.uid, forumId: forum.forumId }" style="word-break: break-all;color:#1B1B1B" matTooltip="{{ forum.title }}">{{ forum.title | noTitle | truncate: 35 }} <i *ngIf="forum.description.length > 0">- {{ forum.description | truncate: 80 }}</i></a>
														<a *ngIf="forum.type == 'Public'" [routerLink]="['/forum/detail']" [queryParams]="{ forumId: forum.forumId }" style="word-break: break-all;color:#1B1B1B" matTooltip="{{ forum.title }}">{{ forum.title | noTitle | truncate: 35 }} <i *ngIf="forum.description.length > 0">- {{ forum.description | truncate: 80 }}</i></a>
													</ng-template>
												</div>
											</div>
										</ng-container>
									</ng-template>
								</div>
							</div>
						</ng-container>
					</ng-template>
				</ng-container>
			</ng-template>
			<ng-template #noserviceforumblocks>
				<p style="color:#999;font-size:90%">
					<i>No Service Forum Blocks</i>
				</p>
			</ng-template>
		</ng-container>
	</div>
	<!-- paging -->
	<div *ngIf='prevKeys?.length || nextKey' style="flex:none;padding:5px;display:flex;flex-direction:row;justify-content:flex-end">		 
		<button class="btn" style="flex:none" (click)="onPrev()" *ngIf='prevKeys?.length'>Prev</button>
		<button class="btn" style="flex:none" (click)="onNext()" *ngIf='nextKey'>Next</button>
	</div>
</div>