<div style="height:100%;display:flex;flex-direction:column;overflow-x:hidden;overflow-y:auto;padding:10px 20px 10px 20px">
  <div style="flex:none;display:flex;flex-direction:row;align-items:center">
    <h4 style="flex:none">About</h4>
    <div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
      <back></back>
    </div>
  </div>
  <div style="flex:1">
    <!-- START OF PRIVACY POLICY SECTION -->
    <p style="margin-bottom:10px">Eleutherios is a platform that provides services (people or business) with the tools to create a self-sustainable, human community on earth.</p>
    <p style="margin-bottom:5px">It does this by operating as a two-way communications network to enable service providers to cooperate or serve one another online.</p>
    <img src="../../assets/1b.png" style="margin-bottom:5px" />
    <p style="margin-bottom:5px">Eleutherios decouples or scales the customer request, forum or conversation, that the vertical domain or service layer is having with one another.</p>
    <img src="../../assets/2b.png" style="margin-bottom:5px" />
    <p style="margin-bottom:5px">Such as an individual buying a can of corn from a retailer.</p>
    <img src="../../assets/3b.png" style="margin-bottom:5px" />
    <p style="margin-bottom:5px">Or a manufacturer buying a ton of corn from a farmer.</p>
    <img src="../../assets/4b.png" style="margin-bottom:5px" />
    <p style="margin-bottom:5px">Unfortunately this way of serving customer requests, doesn't scale or the request can only travel in one direction.</p>
    <img src="../../assets/5b.png" style="margin-bottom:5px" />
    <p style="margin-bottom:5px">Eleutherios changes this behavior by decoupling the customer request from the services layer and turning it into a forum or conversation, that can travel in both directions.</p>
    <p style="margin-bottom:5px">Now, if Mary Smith and the Retailer needed the help of the farmer?  Then they could scale their forum and invite the farmer to join their conversation.  Likewise if the farmer and manufacturer needed the help of the retailer, then they could scale their forum and invite the retailer to join their conversation.</p>
    <p style="margin-bottom:5px">Eleutherios provides basic features, but will evolve to provide a governance layer, B2B API to enable service providers to run services or provide data from their own servers.  AI, Analytics + Reporting, book-keeping etc.</p>
    <h5>Features:</h5>
    <ul>
      <li>Tags for filtering forums or services</li>
      <li>Forum in forum</li>
      <li>Blocking to prevent unwanted services or users from serving in forums, they have been asked not to serve in or for requesting services, they have been asked not to request</li>
      <li>Service ratings/reviews</li>
      <li>B2B Payments</li>
    </ul>
    <h5>Contribute</h5>
    <p>Help fix bugs or resolve issues.</p>
    <p style="margin-bottom:25px"><a href="https://github.com/aletheon/eleutherios-website/issues" style="text-decoration:underline;color:#1B1B1B" target="_blank">https://github.com/aletheon/eleutherios-website/issues</a></p>
    <p>Make a donation to the Eleutherios open source project.</p>
    <p style="margin-bottom:50px"><a href="https://opencollective.com/eleutherios" style="text-decoration:underline;color:#1B1B1B" target="_blank">https://opencollective.com/eleutherios</a></p>
  </div>
</div>
