<div style="height:100%;display:flex;flex-direction:column;overflow-x:hidden;overflow-y:auto;padding:10px 20px 10px 20px">
  <div style="flex:none;display:flex;flex-direction:row;align-items:center">
    <h4 style="flex:none">About</h4>
    <div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
      <back></back>
    </div>
  </div>
  <div style="flex:1">
    <!-- START OF PRIVACY POLICY SECTION -->
    <img src="../../assets/futureOverview.jpg" width="80%" height="auto" style="margin-bottom:15px" />
    <p style="margin-bottom:6px">Eleutherios is a global cooperative forum or digital sociopolitical or economic system, that enables humankind to self-organize with one another at scale through the internet.</p>
    <p style="margin-bottom:15px">It does this by scaling the request layer (customer) horizontally over the service layer (business) to enable, more than one service provider to be able to participate in the same forum or request (B2B).</p>
    <img src="../../assets/currentOverview.jpg" width="80%" height="auto" style="margin-bottom:15px" />
    <p style="margin-bottom:6px">In the old school analogue sociopolitical or economic system it's the opposite.  Only one service provider can participate in the forum or request (B2C).</p>
    <p style="margin-bottom:15px">There are many problems that can occur from this type of behavior. Such as competition among service providers; an inherent cost to acquire customers; and the inability for service providers to able to share data or policies with one another.</p>
    <img src="../../assets/subforum.jpg" width="80%" height="auto" style="margin-bottom:15px" />
    <p style="margin-bottom:6px">Eleutherios changes this behavior by making the forum or request scalable.  In this example Hire My Farmer wants to use the Barley yield data, that they're getting from GYGA to share with another service provider.</p>
    <p style="margin-bottom:15px">They can click on the plus button to create a sub-forum in the Barley yield data forum and include the service provider they want to share the data with.</p>
    <img src="../../assets/breadcrumb.jpg" width="80%" height="auto" style="margin-bottom:15px" />
    <p style="margin-bottom:6px">The main advantage to doing this is that it separates the concerns of each service provider. Service providers are able to take the responsibility for managing their request or concerns of their customers.</p>
    <p style="margin-bottom:15px">In the above example, the Barley yield farming forum is a child of the Barley yield data forum.  Service providers can navigate their way through the conversation using a virtual breadcrumb.</p>
    <img src="../../assets/priskaService.jpg" width="80%" height="auto" style="margin-bottom:15px" />
    <p style="margin-bottom:6px">The current version of Eleutherios provides basic tooling such as creating a forum, creating a sub-forum, creating a service, searching for forums or services, and purchasing services.</p>
    <p style="margin-bottom:6px">Over-time Eleutherios will evolve into a PAAS (Platform-as-a-service) or cloud architecture, enabling service providers to operate their business at scale.</p>
    <h5>Current features:</h5>
    <ul>
      <li>Tags for filtering forums or services</li>
      <li>Forum in forum</li>
      <li>Blocking to prevent unwanted services or users from serving in forums, they have been asked not to serve in or for requesting services, they have been asked not to request</li>
      <li>Service ratings/reviews</li>
      <li>B2B Payments</li>
    </ul>
    <h5>Contribute</h5>
    <p>Help fix bugs or resolve issues.</p>
    <p style="margin-bottom:25px"><a href="https://github.com/aletheon/eleutherios-website/issues" style="text-decoration:underline;color:#1B1B1B" target="_blank">https://github.com/aletheon/eleutherios-website/issues</a></p>
    <p>Make a donation to the Eleutherios open source project.</p>
    <p style="margin-bottom:50px"><a href="https://opencollective.com/eleutherios" style="text-decoration:underline;color:#1B1B1B" target="_blank">https://opencollective.com/eleutherios</a></p>
  </div>
</div>
