<div style="height:100%;display:flex;flex-direction:column;overflow-x:hidden;overflow-y:auto;padding:10px 20px 10px 20px">
  <div style="flex:none;display:flex;flex-direction:row;align-items:center">
    <h4 style="flex:none">About</h4>
    <div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
      <back></back>
    </div>
  </div>
  <div style="flex:1">
    <!-- START OF PRIVACY POLICY SECTION -->
    <p>Eleutherios is a global cooperative forum or circular economy, that enables people or businesses to serve (give or recieve from) one another at scale, via the internet.</p>
    <br />
    <p>People or businesses, sign up with Eleutherios and add their product or service to the site. Other people or businesses (customers) search or get notified, whenever a new product or service is added and can order them, by creating a forum or chat with the person or business, providing it.</p>
    <br />
    <p>For example, if a person is hungry and isolated at home.  They could register with Eleutherios and create a forum, for some food. A grocery store owner, could register as a service and subscribe to the forum and ask the person, what food they wanted? The grocery store owner, could gather the food, from their store and scale the forum, by creating a sub-forum, for a healthcare worker to help with the delivery of the food. The healthcare worker, could scale the sub-forum again and create another sub-forum, for a delivery service and accompany the delivery service and be the person, that delivers the food to the person.</p>
    <br />
<pre>Forum (Food)
    Service (Person or customer)  
    Service (Grocery store owner)
    Forum (Healthcare worker to deliver food)
        Service (Healthcare worker)
        Forum (Delivery service to deliver food)
            Service (Healthcare worker)
            Service (Delivery service)</pre>
    <p>In this example, Eleutherios is scaling or serializing the forum or conversation (<b>food/healthcare worker to deliver food/delivery service to deliver food</b>), that people or businesses are having.  Not the service or work, that they are trying to perform. People or businesses, still provide the same product or service in the world, but within the same forum or conversation.</p>
    <br />
    <h5>Features:</h5>
    <ul>
      <li>Forum in forum (redundancy/resilience)</li>
      <li>Tags for filtering forums or services (search)</li>
      <li>Alerts to keep end users informed when new forums or services are created in the system (notifications)</li>
      <li>Blocking to prevent unwanted services or users from serving in forums, they have been asked not to serve in or for requesting services, they have been asked not to request (accountability)</li>
      <li>Service ratings/reviews (accountability)</li>
      <li>B2B or shared manifest (scalability)</li>
      <li>AI (automation)</li>
    </ul>
    <h5>Contribute</h5>
    <p style="margin-bottom:5px">Discuss or provide feedback.</p>
    <p style="margin-bottom:5px"><a href="https://www.facebook.com/groups/2982366048442234/" target="_blank">https://www.facebook.com/groups/2982366048442234/</a></p>
    <p style="margin-bottom:5px">Help fix bugs or resolve issues.</p>
    <p><a href="https://github.com/aletheon/eleutherios-alpha/issues" target="_blank">https://github.com/aletheon/eleutherios-alpha/issues</a></p>
    <p style="margin-bottom:5px">Make a donation to the Eleutherios open source project.</p>
    <p style="margin-bottom:5px"><a href="https://opencollective.com/eleutherios" target="_blank">https://opencollective.com/eleutherios</a></p>
  </div>
</div>