<loading-spinner *ngIf="loading | async"></loading-spinner>
<ng-container *ngIf="forum | async;let forumItem">
  <ng-container *ngIf="service | async;let serviceItem">
    <div *ngIf="!(loading | async)" style="height:100%;display:flex;flex-direction:column;overflow-x:hidden;overflow-y:auto;padding:10px 20px 10px 20px">
      <div style="flex:none;display:flex;flex-direction:row;align-items:center">
        <h4 style="flex:none;margin-right:5px">Create service in </h4>
        <div style="flex:none;display:flex;flex-direction:row;padding:3px 10px 3px 5px;background-color:rgb(250, 113, 108);border:1px solid #ac2c2c;align-items:center;margin-right:5px;flex-wrap:nowrap">
          <div style="flex:none;display:flex;flex-direction:row;align-items:center">
            <ng-container *ngIf="defaultForumImage | async; then showdefaultforumimage"></ng-container>
            <ng-template #showdefaultforumimage>
              <ng-container *ngIf="defaultForumImage | async;let image">
                <div style="flex:none;margin-right:5px">
                  <img [src]="image.url">
                </div>
              </ng-container>
            </ng-template>
            <p style="flex:1;margin-right:5px">
              <a [routerLink]="['/user/forum/view']" [queryParams]='{ userId: forumItem.uid, forumId: forumItem.forumId }' style="flex:none;color:#1B1B1B" matTooltip="{{ forumItem.title }}{{ forumItem.description.length > 0 ? (' - ' + forumItem.description | truncate: 80) : '' }}">{{ forumItem.title | truncate: 35 }}</a>
            </p>
          </div>
        </div>
        <div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
          <back></back>
        </div>
      </div>
      <div style="flex:1">
        <!-- START OF SERVICE DETAILS -->
        <form [formGroup]="serviceGroup" novalidate>
          <div style="display:flex;flex-direction:row;align-items:center">
            <ng-container *ngIf="defaultServiceImage | async; then showdefaultserviceimage"></ng-container>
            <ng-template #showdefaultserviceimage>
              <ng-container *ngIf="defaultServiceImage | async;let image">
                <div style="flex:none;margin-right:10px">
                  <img [src]="image.url">
                </div>
              </ng-container>
            </ng-template>
            <div style="flex:1">
              {{ serviceGroup.get('title').value }}
            </div>
            <div style="flex:none">
              <mat-slide-toggle
                formControlName="indexed"
                matTooltip="Index"
                (change)="saveChanges()">
              </mat-slide-toggle>
            </div>
          </div>
          <div style="display:flex;flex-direction:row;align-items:center">
            <div style="flex:1">
              <mat-form-field style="width:150px">
                <mat-select formControlName="type" #select="matSelect" (selectionChange)="saveChanges()">
                  <!-- <mat-select-trigger>{{ select.selected?.value }}</mat-select-trigger> -->
                  <mat-option *ngFor="let t of types" [value]="t">{{ t }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div>
            <mat-form-field style="width:100%">
              <input
                matInput
                #main
                placeholder="Title"
                formControlName="title"
                (change)="saveChanges()">
              <mat-error *ngIf="!serviceGroup.get('title').valid || serviceGroup.get('title').touched">
                Title is required
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field style="width:100%">
              <textarea 
                matInput
                placeholder="Description"
                formControlName="description"
                (change)="saveChanges()">
              </textarea>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field style="width:100%">
              <input
                matInput
                placeholder="Website"
                formControlName="website"
                (change)="saveChanges()">
            </mat-form-field>
          </div>
          <!-- START OF TAGS SECTION -->
          <div style="margin-bottom:20px">
            <h5 style="padding:0px">Tags(<ng-container *ngIf="tagCount | async as t"><ng-container [ngSwitch]="t"><ng-container *ngSwitchCase="-1">0</ng-container><ng-container *ngSwitchDefault>{{ t }}</ng-container></ng-container></ng-container>)</h5>
            <div style="display:flex;flex-direction:row;align-items:center">
              <div style="flex:1;margin-right:20px">
                <mat-form-field style="width:100%">
                  <input matInput placeholder="Type a tag" [matAutocomplete]="autoServiceTags" [formControl]="tagServiceCtrl">
                  <mat-autocomplete #autoServiceTags="matAutocomplete" [displayWith]="autoServiceTagsDisplayFn">
                    <mat-option *ngFor="let tag of matAutoCompleteServiceTags | async" (onSelectionChange)="serviceTagsSelectionChange(tag)" [value]="tag">
                      <p>{{ tag.tag }}</p>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div style="flex:none">
                <i class="material-icons" (click)="createTag()" style="cursor:pointer" matTooltip="Create tag">add</i>
              </div>
            </div>
            <ng-container *ngIf="serviceTags | async;let serviceTagItems">
              <ng-container *ngIf="serviceTagItems.length > 0">
                <div style="display:flex;flex-direction:row;justify-content:flex-start;overflow-x:auto;margin-bottom:10px">
                  <div style="flex:none;display:flex;flex-direction:row;margin-right:5px;padding:3px;background-color:rgb(188, 194, 202);border:1px solid #007FFF;align-items:center"
                    *ngFor="let serviceTag of serviceTagItems; trackBy: trackServiceTags">
                    <p style="margin:0 3px 0 3px">{{ serviceTag.tag }}</p>
                    <i class="material-icons" (click)="removeServiceTag(serviceTag)" style="cursor:pointer" matTooltip="Remove tag">close</i>
                  </div>
                </div>
              </ng-container>
              <ng-template #noforumtags>
                <p style="color:#999;font-size:90%">
                  <i>No Tags</i>
                </p>
              </ng-template>
            </ng-container>
          </div>
          <!-- START OF IMAGES SECTION -->
          <div style="margin-bottom:20px">
            <h5 style="padding:0px">Images(<ng-container *ngIf="imageCount | async as t"><ng-container [ngSwitch]="t"><ng-container *ngSwitchCase="-1">0</ng-container><ng-container *ngSwitchDefault>{{ t }}</ng-container></ng-container></ng-container>)</h5>
            <!-- service images -->
            <div style="display:flex;flex-direction:row;overflow-x:auto;margin-bottom:10px">
              <ng-container *ngIf="serviceImages | async;let serviceImageItems">
                <ng-container *ngIf="serviceImageItems.length > 0; then showserviceimages else noserviceimages"></ng-container>
                <ng-template #showserviceimages>
                  <div style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin:0 5px 5px 0;flex-wrap:nowrap"
                    *ngFor="let serviceImage of serviceImageItems; trackBy: trackServiceImages">
                    <div style="flex:none;display:flex;flex-direction:row;align-items:center">
                      <div style="flex:none;margin-right:5px">
                        <img [src]="serviceImage.url" matTooltip="{{ serviceImage.name }}">
                      </div>
                    </div>
                    <div style="flex:none;display:flex;flex-direction:column;align-items:center">
                      <div style="flex:none">
                        <mat-icon onclick="event.stopPropagation()" (click)="removeServiceImage(serviceImage)" style="cursor:pointer" matTooltip="Remove">close</mat-icon>
                      </div>
                      <div style="flex:none">
                        <mat-checkbox matTooltip="Set Default" matTooltipPosition="above" [checked]="serviceImage.default" (change)="setDefaultServiceImage(serviceImage)"></mat-checkbox>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template #noserviceimages>
                  <p style="flex:none;color:#999;font-size:90%">
                    <i>No Images</i>
                  </p>
                </ng-template>
              </ng-container>
            </div>
            <!-- images -->
            <div style="border:1px solid rgb(160, 160, 160);padding:10px;border-radius:2px">
              <div style="display:flex;flex-direction:row">
                <ng-container *ngIf="images | async;let imageItems">
                  <ng-container *ngIf="imageItems.length > 0; then showimages else noimages"></ng-container>
                  <ng-template #showimages>
                    <div style="flex:1;display:flex;flex-direction:row;overflow-x:auto">
                      <div style="flex:none;display:flex;flex-direction:row;align-items:flex-start;padding:5px;margin:0 5px 0 0;flex-wrap:nowrap"
                        *ngFor="let image of imageItems; trackBy: trackImages">
                        <div style="flex:none;display:flex;flex-direction:row;align-items:center">
                          <div style="flex:none;margin-right:5px">
                            <img [src]="image.url">
                          </div>
                        </div>
                        <div style="flex:none">
                          <mat-icon onclick="event.stopPropagation()" (click)="addImage(image)" style="cursor:pointer" matTooltip="Add">add</mat-icon>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template #noimages>
                    <div style="flex:1;display:flex;flex-direction:row;align-items:center">
                      <div style="flex:1;color:#999;font-size:90%">
                        <i>No Results</i>
                      </div>
                    </div>
                  </ng-template>
                </ng-container>
              </div>
            </div>
          </div>			
          <div style="display:flex;flex-direction:row;justify-content:flex-end;margin:20px 0 50px 0">
            <button (click)="cancel()" type="button">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
</ng-container>