<loading-spinner *ngIf="loading | async"></loading-spinner>
<ng-container *ngIf="notification | async;let notificationItem">
	<div *ngIf="!(loading | async)" style="height:100%;display:flex;flex-direction:column;overflow-x:hidden;overflow-y:auto;padding:10px 20px 10px 20px">
		<div style="flex:none;display:flex;flex-direction:row;align-items:center">
			<h4 style="flex:none">Create Notification</h4>
			<div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
				<back></back>
			</div>
		</div>
		<div style="flex:1">
			<!-- START OF notification DETAILS SECTION -->
			<form [formGroup]="notificationGroup" novalidate>
				<div style="display:flex;flex-direction:row;align-items:center">
					<div style="flex:1">
						<mat-form-field style="width:150px">
							<mat-select formControlName="type" #select="matSelect" (selectionChange)="changeType()">
								<mat-option *ngFor="let t of types" [value]="t">{{ t }}</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div style="flex:none">
						<mat-slide-toggle
							formControlName="active"
							matTooltip="Activate"
							(change)="saveChanges()">
						</mat-slide-toggle>
					</div>
				</div>
				<ng-container *ngIf="notificationGroup.get('type').value == 'Service'">
					<div style="display:flex;flex-direction:row;align-items:center">
						<div style="flex:1">
							<mat-form-field style="width:150px">
								<mat-select formControlName="paymentType" #select="matSelect" (selectionChange)="saveChanges()">
									<mat-option *ngFor="let t of paymentTypes" [value]="t">{{ t }}</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>
					<div style="margin-bottom:10px;display:flex;flex-direction:row;align-items:center" *ngIf="notificationGroup.get('paymentType').value == 'Payment'">
						<div style="flex:none;margin-right:5px">
							<mat-form-field>
								<input
									matInput
									#startAmount
									placeholder="Start amount"
									formControlName="startAmount"
									(change)="saveChanges()"/>
								<mat-error *ngIf="notificationGroup.get('startAmount').hasError('pattern')">
									Amount required
								</mat-error>
								<mat-error *ngIf="notificationGroup.get('startAmount').hasError('min')">
									Start amount must be greater than 0.49
								</mat-error>
								<mat-error *ngIf="notificationGroup.get('startAmount').hasError('max')">
									Start amount must be less than 999999.99
								</mat-error>
								<mat-error *ngIf="notificationGroup.get('startAmount').hasError('max')">
									Start amount must be less than 999999.99
								</mat-error>
							</mat-form-field>
						</div>
						<div style="flex:none;margin-right:5px">To</div>
						<div style="flex:none">
							<mat-form-field>
								<input
									matInput
									#endAmount
									placeholder="End amount"
									formControlName="endAmount"
									(change)="saveChanges()"/>
								<mat-error *ngIf="notificationGroup.get('endAmount').hasError('pattern')">
									Amount required
								</mat-error>
								<mat-error *ngIf="notificationGroup.get('endAmount').hasError('min')">
									End amount must be greater than 0.49
								</mat-error>
								<mat-error *ngIf="notificationGroup.get('endAmount').hasError('max')">
									End amount must be less than 999999.99
								</mat-error>
							</mat-form-field>
						</div>
						<mat-error style="flex:none" *ngIf="notificationGroup.errors?.range">
							End amount must be greater than start amount
						</mat-error>
					</div>
				</ng-container>
				<div>
					<mat-form-field style="width:100%">
						<input
							matInput
							#main
							placeholder="Title"
							formControlName="title"
							(change)="saveChanges()">
						<mat-error *ngIf="!notificationGroup.get('title').valid || notificationGroup.get('title').touched">
							Title is required
						</mat-error>
					</mat-form-field>
				</div>
				<!-- START OF TAGS SECTION -->
				<div style="margin-bottom:20px">
					<h5 style="padding:0px">Tags(<ng-container *ngIf="tagCount | async as t"><ng-container [ngSwitch]="t"><ng-container *ngSwitchCase="-1">0</ng-container><ng-container *ngSwitchDefault>{{ t }}</ng-container></ng-container></ng-container>)</h5>
					<ng-container *ngIf="notificationTags | async;let notificationTagItems">
						<div *ngIf="notificationTagItems.length > 0">
							<ng-container *ngIf="notificationItem.type == 'Forum'; then showforumtags else showservicetags"></ng-container>
							<ng-template #showforumtags>
								<div style="display:flex;flex-direction:row;justify-content:flex-start;overflow-x:auto;margin-bottom:10px">
									<div class="label label-danger" style="flex:none;display:flex;flex-direction:row;align-items:center;margin-right:5px"
										*ngFor="let notificationTag of notificationTagItems; trackBy: trackNotificationTags">
										<span>{{ notificationTag.tag }}</span>
										<i class="material-icons" (click)="removeTag(notificationTag)" style="cursor:pointer" matTooltip="Remove">close</i>
									</div>
								</div>
							</ng-template>
							<ng-template #showservicetags>
								<div style="display:flex;flex-direction:row;justify-content:flex-start;overflow-x:auto;margin-bottom:10px">
									<div [ngClass]="notificationItem.paymentType == 'Free' ? 'label label-success' : 'label label-info'" style="flex:none;display:flex;flex-direction:row;align-items:center;margin-right:5px"
										*ngFor="let notificationTag of notificationTagItems; trackBy: trackNotificationTags">
										<span>{{ notificationTag.tag }}</span>
										<i class="material-icons" (click)="removeTag(notificationTag)" style="cursor:pointer" matTooltip="Remove">close</i>
									</div>
								</div>
							</ng-template>
						</div>
					</ng-container>
					<div style="display:flex;flex-direction:row;align-items:center">
						<div style="flex:1;margin-right:20px">
							<mat-form-field style="width:100%">
								<input matInput placeholder="Type a tag" [matAutocomplete]="autoTag" [formControl]="tagSearchCtrl">
								<mat-autocomplete #autoTag="matAutocomplete" [displayWith]="autoTagDisplayFn">
									<mat-option *ngFor="let tag of matAutoCompleteTags | async" (onSelectionChange)="tagSearchSelectionChange(tag)" [value]="tag">
										<p>{{ tag.tag }}</p>
									</mat-option>
								</mat-autocomplete>
							</mat-form-field>
						</div>
						<div style="flex:none">
							<i class="material-icons" (click)="createTagSearchTag()" style="cursor:pointer" matTooltip="Create tag">add</i>
						</div>
					</div>
				</div>
				<!-- search results -->
				<loading-spinner *ngIf="searchLoading | async"></loading-spinner>
				<div *ngIf="!(searchLoading | async)" style="flex:1;display:flex;flex-direction:column">
					<ng-container *ngIf="searchResults | async;let searchResultItems">
						<ng-container *ngIf="searchResultItems.length > 0; then showsearchresults else nosearchresults"></ng-container>
						<ng-template #showsearchresults>
							<ng-container *ngFor="let result of searchResultItems; trackBy: trackResults">
								<ng-container *ngIf="notificationItem.type == 'Forum'; then showforumresult else showserviceresult"></ng-container>
								<ng-template #showforumresult>
									<div class="alert alert-danger" style="flex:none;display:flex;flex-direction:column;margin-bottom:5px">
										<div style="flex:none;display:flex;flex-direction:row;margin-bottom:5px;align-items:center;flex-wrap:wrap">
											<ng-container *ngIf="result.defaultForumImage | async; then showdefaultforumimage"></ng-container>
											<ng-template #showdefaultforumimage>
												<ng-container *ngIf="result.defaultForumImage | async;let image">
													<div style="flex:none;margin-right:10px">
														<img [src]="image.url">
													</div>
												</ng-container>
											</ng-template>
											<div style="flex:1">
												<a [routerLink]="['/forum/detail']" [queryParams]="{ forumId: result.forumId, notificationId: notificationGroup.get('notificationId').value, notificationUserId: notificationGroup.get('uid').value }" style="word-break: break-all;color:#1B1B1B" matTooltip="{{ result.title }}">{{ result.title | truncate: 35 }} <i *ngIf="result.description.length > 0">- {{ result.description | truncate: 80 }}</i></a>
											</div>
											<div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
												<!-- other button controls -->
												<div class="label label-default" matTooltip="{{ result.creationDate.toDate() | date: 'MMM d, y, h:mm:ss a' }}" style="flex:none;padding:5px">
													{{ result.creationDate.toDate() | amTimeAgo }}
												</div>
												<div style="flex:none">
													<mat-icon [routerLink]="['/forum/detail']" [queryParams]="{ forumId: result.forumId, notificationId: notificationGroup.get('notificationId').value, notificationUserId: notificationGroup.get('uid').value }" style="cursor:pointer;color:#1B1B1B" matTooltip="View details">description</mat-icon>
												</div>
											</div>
										</div>
										<ng-container *ngIf="result.forumTags | async">
											<div style="flex:none">
												<ng-container *ngIf="result.forumTags | async;let forumTagItems">
													<ng-container *ngIf="forumTagItems.length > 0; then showtags"></ng-container>
													<ng-template #showtags>
														<div style="display:flex;flex-direction:row">
															<ng-container *ngFor="let forumTag of forumTagItems">
																<div class="label label-danger" style="flex:none;margin-right:5px;font-size:0.85em">
																	<span>{{ forumTag.tag }}</span>
																</div>
															</ng-container>
														</div>
													</ng-template>
												</ng-container>
											</div>
										</ng-container>
									</div>
								</ng-template>
								<ng-template #showserviceresult>
									<div [ngClass]="notificationItem.paymentType == 'Free' ? 'alert alert-success' : 'alert alert-info'" style="flex:none;display:flex;flex-direction:column;margin-bottom:5px">
										<div style="flex:none;display:flex;flex-direction:row;margin-bottom:5px;align-items:center;flex-wrap:wrap">
											<ng-container *ngIf="result.defaultServiceImage | async; then showdefaultserviceimage"></ng-container>
											<ng-template #showdefaultserviceimage>
												<ng-container *ngIf="result.defaultServiceImage | async;let image">
													<div style="flex:none;margin-right:10px">
														<img [src]="image.url">
													</div>
												</ng-container>
											</ng-template>
											<div style="flex:1;margin-right:5px">
												<p style="word-break: break-all">
													<a [routerLink]="['/service/detail']" [queryParams]="{ serviceId: result.serviceId, notificationId: notificationGroup.get('notificationId').value, notificationUserId: notificationGroup.get('uid').value }" style="flex:none;color:#1B1B1B" matTooltip="{{ result.title }}">{{ result.title | truncate: 35 }} <i *ngIf="result.description.length > 0">- {{ result.description | truncate: 80 }}</i></a>
												</p>
											</div>
											<div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
												<!-- other button controls -->
												<div style="flex:none;margin-right:5px">
													<star-rating-control
															[rating]="result.rate"
															[showHalfStars]="true"
															[starType]="'svg'"
															[readOnly]="true">
														</star-rating-control>
												</div>
												<div class="label label-default" matTooltip="{{ result.creationDate.toDate() | date: 'MMM d, y, h:mm:ss a' }}" style="flex:none;padding:5px">
													{{ result.creationDate.toDate() | amTimeAgo }}
												</div>
												<div style="flex:none;margin-right:5px">
													<mat-icon [routerLink]="['/service/detail']" [queryParams]="{ serviceId: result.serviceId, notificationId: notificationGroup.get('notificationId').value, notificationUserId: notificationGroup.get('uid').value }" style="cursor:pointer" matTooltip="View details">description</mat-icon>
												</div>
												<div style="flex:none;margin-right:5px">
													<mat-icon [routerLink]="['/service/detail']" [queryParams]="{ serviceId: result.serviceId, notificationId: notificationGroup.get('notificationId').value, notificationUserId: notificationGroup.get('uid').value }" style="cursor:pointer" matTooltip="Add forum">add_box</mat-icon>
												</div>
												<div style="flex:none;margin-right:5px">
													<mat-icon [routerLink]="['/user/forum/new']" [queryParams]="{ userId: result.uid, serviceId: result.serviceId }" style="cursor:pointer;color:#1B1B1B" matTooltip="Create forum">add_circle</mat-icon>
												</div>
											</div>
										</div>
										<ng-container *ngIf="result.serviceTags | async">
											<div style="flex:none">
												<ng-container *ngIf="result.serviceTags | async;let serviceTagItems">
													<ng-container *ngIf="serviceTagItems.length > 0; then showtags"></ng-container>
													<ng-template #showtags>
														<div style="display:flex;flex-direction:row">
															<ng-container *ngFor="let serviceTag of serviceTagItems">
																<div [ngClass]="notificationItem.paymentType == 'Free' ? 'label label-success' : 'label label-info'" style="flex:none;margin-right:5px;font-size:0.85em">
																	<span>{{ serviceTag.tag }}</span>
																</div>
															</ng-container>
														</div>
													</ng-template>
												</ng-container>
											</div>
										</ng-container>
									</div>
								</ng-template>
							</ng-container>
						</ng-template>
						<ng-template #nosearchresults>
							<p style="flex:none;color:#999;font-size:90%">
								<i>No Results</i>
							</p>
						</ng-template>
					</ng-container>
				</div>
				<!-- paging -->
				<div *ngIf='prevKeys?.length || nextKey' style="flex:none;padding:5px;display:flex;flex-direction:row;justify-content:flex-end">		 
					<button style="flex:none" (click)="onPrev()" *ngIf='prevKeys?.length'>Prev</button>
					<button style="flex:none" (click)="onNext()" *ngIf='nextKey'>Next</button>
				</div>
			</form>
		</div>
	</div>
</ng-container>