.forum {
  background-color:rgb(250, 113, 108);border:1px solid #ac2c2c
}

.forumTag {
  background-color:rgb(250, 155, 152);border:1px solid #ac2c2c
}

.service {
  background-color:#A9C4EB;border:1px solid #007FFF
}

.serviceTag {
  background-color:rgb(188, 194, 202);border:1px solid #007FFF
}