<div style="display:flex;flex-direction:column;overflow-y:auto;padding:10px 20px 10px 20px">
	<form [formGroup]="notificationGroup" novalidate>
		<!-- header -->
		<div style="flex:none">
			<div style="display:flex;flex-direction:row;align-items:center">
				<h4 style="flex:none">Notifications(<ng-container *ngIf="total | async as t"><ng-container [ngSwitch]="t"><ng-container *ngSwitchCase="-1">0</ng-container><ng-container *ngSwitchDefault>{{ t }}</ng-container></ng-container></ng-container>)</h4>
				<div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end;align-items:center">
					<div style="flex:none;margin-right:5px">
						<mat-form-field style="width:150px">
							<mat-select formControlName="type" #select="matSelect" (selectionChange)="changeType()">
								<!-- <mat-select-trigger>{{ select.selected?.value }}</mat-select-trigger> -->
								<mat-option *ngFor="let t of types" [value]="t">{{ t }}</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div style="flex:none;margin-right:5px">
						<mat-checkbox formControlName="includeTagsInSearch" matTooltip="Include Tags" matTooltipPosition="above" (change)="includeTagsInSearchClick()"></mat-checkbox>
					</div>
					<back></back>
				</div>
			</div>
			<div style="border:1px solid #a0a0a0;padding:10px;margin-bottom:10px;border-radius:2px">
				<!-- notification search -->
				<div>
					<mat-form-field style="width:100%">
						<input matInput placeholder="Type a notification" [formControl]="searchNotificationCtrl">
					</mat-form-field>
				</div>
				<!-- tag search -->
				<div>
					<mat-form-field style="width:100%">
						<input matInput placeholder="Type a tag" [matAutocomplete]="autoSearchTag" [formControl]="notificationSearchTagCtrl">
						<mat-autocomplete #autoSearchTag="matAutocomplete" [displayWith]="autoSearchTagDisplayFn">
							<mat-option *ngFor="let tag of matAutoCompleteSearchTags | async" (onSelectionChange)="searchTagsSelectionChange(tag)" [value]="tag">
								<p>{{ tag.tag }}</p>
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
				</div>
				<!-- show tags -->
				<ng-container *ngIf="searchTags.length > 0; else nosearchtags">
					<div style="display:flex;flex-direction:row;justify-content:flex-start;overflow-x:auto;margin-bottom:10px">
						<div class="label label-default" style="flex:none;display:flex;flex-direction:row;margin-right:5px;align-items:center"
							*ngFor="let tag of searchTags; trackBy: trackSearchTags">
							<span>{{ tag.tag }}</span>
							<i class="material-icons" (click)="removeSearchTag(tag)" style="cursor:pointer" matTooltip="Remove">close</i>
						</div>
					</div>
				</ng-container>
				<ng-template #nosearchtags>
					<p style="color:#999;font-size:90%">
						<i>No Tags</i>
					</p>
				</ng-template>
			</div>
		</div>
		<!-- search results -->
		<loading-spinner *ngIf="loading | async"></loading-spinner>
		<div *ngIf="!(loading | async)" style="flex:1;display:flex;flex-direction:column">
			<ng-container *ngIf="notifications | async;let notificationItems">
				<ng-container *ngIf="notificationItems.length > 0; then shownotifications else nonotifications"></ng-container>
				<ng-template #shownotifications>
					<ng-container *ngFor="let notification of notificationItems; trackBy: trackNotifications">
						<ng-container *ngIf="notification.type == 'Forum'; then showforumresult else showserviceresult"></ng-container>
						<ng-template #showforumresult>
							<div class="alert alert-danger" style="flex:none;display:flex;flex-direction:column;margin-bottom:5px">
								<div style="flex:none;display:flex;flex-direction:row;justify-content:center;flex-wrap:wrap">
									<div style="flex:1;margin-right:5px">
										<p style="word-break: break-all">
											<a [routerLink]="['/user/notification/edit']" [queryParams]="{ userId: notification.uid, notificationId: notification.notificationId }" style="color:#1B1B1B" matTooltip="{{ notification.title }}">{{ notification.title | noTitle | truncate: 35 }}</a>
										</p>
									</div>
									<div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
										<div class="label label-default" matTooltip="{{ notification.creationDate.toDate() | date: 'MMM d, y, h:mm:ss a' }}" style="flex:none;padding:5px">
											{{ notification.creationDate.toDate() | amTimeAgo }}
										</div>
										<div style="flex:none;margin-right:5px">
											<mat-icon onclick="event.stopPropagation()" (click)="edit(notification)" style="cursor:pointer;color:#1B1B1B" matTooltip="Edit">edit</mat-icon>
										</div>
										<div style="flex:none;margin-right:5px">
											<mat-icon onclick="event.stopPropagation()" (click)="delete(notification)" style="cursor:pointer;color:#1B1B1B" matTooltip="Delete">delete</mat-icon>
										</div>
										<div style="flex:none">
											<mat-checkbox *ngIf="notification.title.length > 0" matTooltip="Activate" [checked]="notification.active" (change)="activateDeactivateNotification(notification)"></mat-checkbox>
											<mat-checkbox *ngIf="notification.title.length == 0" matTooltip="Activate" [checked]="notification.active" disabled="true"></mat-checkbox>
										</div>
									</div>
								</div>
								<ng-container *ngIf="notification.notificationTags | async">
									<ng-container *ngIf="notification.notificationTags | async;let notificationTagItems">
										<ng-container *ngIf="notificationTagItems.length > 0; then showforumtags"></ng-container>
										<ng-template #showforumtags>
											<div style="flex:none;display:flex;flex-direction:row">
												<ng-container *ngFor="let notificationTag of notificationTagItems">
													<div class="label label-danger" style="flex:none;margin-right:5px">
														<span>{{ notificationTag.tag }}</span>
													</div>
												</ng-container>
											</div>
										</ng-template>
									</ng-container>
								</ng-container>
							</div>
						</ng-template>
						<ng-template #showserviceresult>
							<div [ngClass]="notification.paymentType == 'Free' ? 'alert alert-success' : 'alert alert-info'" style="flex:none;display:flex;flex-direction:column;margin-bottom:5px">
								<div style="flex:none;display:flex;flex-direction:row;flex-wrap:wrap;align-items:center">
									<div style="flex:1;margin-right:5px">
										<p style="word-break: break-all">
											<a [routerLink]="['/user/notification/edit']" [queryParams]="{ userId: notification.uid, notificationId: notification.notificationId }" style="color:#1B1B1B" matTooltip="{{ notification.title }}">{{ notification.title | noTitle | truncate: 35 }}</a>
										</p>
									</div>
									<div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
										<div class="label label-default" matTooltip="{{ notification.creationDate.toDate() | date: 'MMM d, y, h:mm:ss a' }}" style="flex:none;padding:5px">
											{{ notification.creationDate.toDate() | amTimeAgo }}
										</div>
										<div style="flex:none;margin-right:5px">
											<mat-icon onclick="event.stopPropagation()" (click)="edit(notification)" style="cursor:pointer;color:#1B1B1B" matTooltip="Edit">edit</mat-icon>
										</div>
										<div style="flex:none;margin-right:5px">
											<mat-icon onclick="event.stopPropagation()" (click)="delete(notification)" style="cursor:pointer;color:#1B1B1B" matTooltip="Delete">delete</mat-icon>
										</div>
										<div style="flex:none">
											<mat-checkbox *ngIf="notification.title.length > 0" matTooltip="Activate" [checked]="notification.active" (change)="activateDeactivateNotification(notification)"></mat-checkbox>
											<mat-checkbox *ngIf="notification.title.length == 0" matTooltip="Activate" [checked]="notification.active" disabled="true"></mat-checkbox>
										</div>
									</div>
								</div>
								<ng-container *ngIf="notification.notificationTags | async;let notificationTagItems">
									<div style="flex:none;display:flex;flex-direction:row;align-items:center">
										<ng-container *ngIf="notificationTagItems.length > 0; then showtags"></ng-container>
										<ng-template #showtags>
											<div style="flex:1;display:flex;flex-direction:row;margin-top:5px">
												<ng-container *ngFor="let notificationTag of notificationTagItems">
													<span [ngClass]="notification.paymentType == 'Free' ? 'label label-success' : 'label label-info'" style="flex:none;margin-right:5px;padding:5px">{{ notificationTag.tag }}</span>
												</ng-container>
											</div>
										</ng-template>
										<ng-container *ngIf="notification.paymentType == 'Payment'">
											<ng-container *ngIf="notificationTagItems.length > 0; then showtagswithpayment else showtagswithoutpayment"></ng-container>
											<ng-template #showtagswithpayment>
												<div style="flex:none;color:#1B1B1B">
													{{ notification.currency.toUpperCase() }} {{ notification.startAmount }} To {{ notification.endAmount }}
												</div>
											</ng-template>
											<ng-template #showtagswithoutpayment>
												<div style="flex:1;text-align:right;color:#1B1B1B">
													{{ notification.currency.toUpperCase() }} {{ notification.startAmount }} To {{ notification.endAmount }}
												</div>
											</ng-template>
										</ng-container>
									</div>
								</ng-container>
							</div>
						</ng-template>
					</ng-container>
				</ng-template>
				<ng-template #nonotifications>
					<p style="flex:none;color:#999;font-size:90%">
						<i>No Notifications</i>
					</p>
				</ng-template>
			</ng-container>
		</div>
		<!-- paging -->
		<div *ngIf='prevKeys?.length || nextKey' style="flex:none;padding:5px;display:flex;flex-direction:row;justify-content:flex-end">		 
			<button class="btn" style="flex:none" (click)="onPrev()" *ngIf='prevKeys?.length'>Prev</button>
			<button class="btn" style="flex:none" (click)="onNext()" *ngIf='nextKey'>Next</button>
		</div>
	</form>
</div>