<div style="display:flex;flex-direction:row">
  <p style="flex:1;padding:5px;cursor:pointer" onclick="event.stopPropagation()" (click)="changeActivitySideBar()"></p>
</div>
<ng-container *ngIf="activities | async;let activityItems">
  <ng-container *ngIf="activityItems.length > 0; then showactivity"></ng-container>
  <ng-template #showactivity>
    <div style="display:flex;flex-direction:column;align-items:flex-start;padding:0 3px 0 3px">
      <ng-container *ngFor="let activity of activityItems; trackBy: trackActivities">
        <div [ngClass]="activity.highlight == true ? 'alert alert-danger highlight' : 'alert alert-danger'" style="flex:none;display:flex;flex-direction:column;padding:5px;margin-bottom:6px">
          <!-- forum image -->
          <div style="flex:none;display:flex;flex-direction:row;align-items:center">
            <ng-container *ngIf="activity.defaultForumImage | async; then showdefaultforumimage"></ng-container>
            <ng-template #showdefaultforumimage>
              <ng-container *ngIf="activity.defaultForumImage | async;let image">
                <div style="flex:none">
                  <a [routerLink]="['/user/forum/view']" [queryParams]='{ userId: activity.uid, forumId: activity.forumId }' matTooltipPosition="after"><img [src]="image.tinyDownloadUrl" matTooltip="{{ activity.fullTitle }}" matTooltipPosition="right" (load)="setActivityHighlight(activity)" style="margin:1px"></a>
                </div>
              </ng-container>
            </ng-template>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-template>
</ng-container>
<audio #audioSound>
	<source src='../../../assets/stealthy-beep.mp3' type="audio/mp3">
</audio>
