<ng-container *ngIf="userTotal | async as total">
  <div style="display:flex;flex-direction:row;justify-content:center">
    <p style="flex:none;margin:0 5px 5px 5px;cursor:pointer;color:#818181" onclick="event.stopPropagation()" (click)="changeActivitySideBar()">
      ({{ total.activityCount }})
    </p>   
  </div>
</ng-container>
<ng-container *ngIf="activities | async;let activityItems">
  <ng-container *ngIf="activityItems.length > 0; then showactivity else noactivity"></ng-container>
  <ng-template #showactivity>
    <div style="display:flex;flex-direction:column;align-items:flex-start;padding:0 3px 0 3px">
      <ng-container *ngFor="let activity of activityItems; trackBy: trackActivities">
        <div [ngClass]="activity.highlight == true ? 'alert alert-danger highlight' : 'alert alert-danger'" style="flex:none;display:flex;flex-direction:column;padding:5px;margin-bottom:6px">
          <!-- forum image -->
          <div style="flex:none;display:flex;flex-direction:row;align-items:center">
            <ng-container *ngIf="activity.defaultForumImage | async; then showdefaultforumimage"></ng-container>
            <ng-template #showdefaultforumimage>
              <ng-container *ngIf="activity.defaultForumImage | async;let image">
                <div style="flex:none">
                  <a [routerLink]="['/user/forum/view']" [queryParams]='{ userId: activity.uid, forumId: activity.forumId }' matTooltipPosition="after"><img [src]="image.url" matTooltip="{{ activity.fullTitle }}" matTooltipPosition="right" (load)="setActivityHighlight(activity)" style="margin:1px"></a>
                </div>
              </ng-container>
            </ng-template>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-template>
  <ng-template #noactivity>
    <!-- <p style="width:20px"></p> -->
  </ng-template>
</ng-container>
<audio #audioSound>
	<source src='../../../assets/stealthy-beep.mp3' type="audio/mp3">
</audio>