<loading-spinner *ngIf="loading | async"></loading-spinner>
<div *ngIf="!(loading | async)" style="height:100%;display:flex;flex-direction:column;overflow-x:hidden;overflow-y:auto;padding:10px 20px 10px 20px">
  <ng-container *ngIf="parentForum | async;let parentForumItem">
    <div style="flex:none;display:flex;flex-direction:row;align-items:center">
      <h4 [routerLink]="['/user/forum/view']" [queryParams]="{ userId: parentForumItem.uid, forumId: parentForumItem.forumId }" style="flex:none;cursor:pointer" matTooltip="Create service in {{ parentForumItem.title }} ">Create forum in {{ parentForumItem.title }}</h4>
      <div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
        <back></back>
      </div>
    </div>
    <div style="flex:1">
      <form [formGroup]="forumGroup" novalidate>
        <!-- START OF DETAILS SECTION -->
        <div style="display:flex;flex-direction:row;align-items:center">
          <ng-container *ngIf="defaultForumImage | async; then showdefaultforumimage"></ng-container>
          <ng-template #showdefaultforumimage>
            <ng-container *ngIf="defaultForumImage | async;let image">
              <div style="flex:none;margin-right:10px">
                <img [src]="image.url">
              </div>
            </ng-container>
          </ng-template>
          <div style="flex:1">
            {{ forumGroup.get('title').value }}
          </div>
          <div style="flex:none">
            <mat-slide-toggle
              formControlName="indexed"
              matTooltip="Index"
              (change)="saveChanges()">
            </mat-slide-toggle>
          </div>
        </div>
        <div style="display:flex;flex-direction:row;align-items:center">
          <div style="flex:1">
            <mat-form-field style="width:150px">
              <mat-select formControlName="type" #select="matSelect" (selectionChange)="saveChanges()">
                <!-- <mat-select-trigger>{{ select.selected?.value }}</mat-select-trigger> -->
                <mat-option *ngFor="let t of types" [value]="t">{{ t }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div>
          <mat-form-field style="width:100%">
            <input
              matInput
              #main
              placeholder="Title"
              formControlName="title"
              (change)="saveChanges()">
            <mat-error *ngIf="!forumGroup.get('title').valid || forumGroup.get('title').touched">
              Title is required
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width:100%">
            <textarea 
              matInput
              placeholder="Description"
              formControlName="description"
              (change)="saveChanges()">
            </textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width:100%">
            <input
              matInput
              placeholder="Website"
              formControlName="website"
              (change)="saveChanges()">
          </mat-form-field>
        </div>
        <!-- START OF TAGS SECTION -->
        <div style="margin-bottom:20px">
          <h5 style="padding:0px">Tags(<ng-container *ngIf="tagCount | async as t"><ng-container [ngSwitch]="t"><ng-container *ngSwitchCase="-1">0</ng-container><ng-container *ngSwitchDefault>{{ t }}</ng-container></ng-container></ng-container>)</h5>
          <div style="display:flex;flex-direction:row;align-items:center">
            <div style="flex:1;margin-right:20px">
              <mat-form-field style="width:100%">
                <input matInput placeholder="Type a tag" [matAutocomplete]="autoForumTags" [formControl]="tagForumCtrl">
                <mat-autocomplete #autoForumTags="matAutocomplete" [displayWith]="autoForumTagsDisplayFn">
                  <mat-option *ngFor="let tag of matAutoCompleteForumTags | async" (onSelectionChange)="forumTagsSelectionChange(tag)" [value]="tag">
                    <p>{{ tag.tag }}</p>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div style="flex:none">
              <i class="material-icons" (click)="createForumTag()" style="cursor:pointer" matTooltip="Create tag">add</i>
            </div>
          </div>
          <ng-container *ngIf="forumTags | async;let forumTagItems">
            <ng-container *ngIf="forumTagItems.length > 0">
              <div style="display:flex;flex-direction:row;justify-content:flex-start;overflow-x:auto;margin-bottom:10px">
                <div class="label label-danger" style="flex:none;display:flex;flex-direction:row;align-items:center;margin-right:5px"
                  *ngFor="let forumTag of forumTagItems; trackBy: trackForumTags">
                  <span>{{ forumTag.tag }}</span>
                  <i class="material-icons" (click)="removeForumTag(forumTag)" style="cursor:pointer" matTooltip="Remove">close</i>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <!-- START OF IMAGES SECTION -->
        <div style="margin-bottom:20px">
          <h5 style="padding:0px">Images(<ng-container *ngIf="imageCount | async as t"><ng-container [ngSwitch]="t"><ng-container *ngSwitchCase="-1">0</ng-container><ng-container *ngSwitchDefault>{{ t }}</ng-container></ng-container></ng-container>)</h5>
          <!-- forum images -->
          <div style="display:flex;flex-direction:row;overflow-x:auto;margin-bottom:10px">
            <ng-container *ngIf="forumImages | async;let forumImageItems">
              <ng-container *ngIf="forumImageItems.length > 0; then showforumimages else noforumimages"></ng-container>
              <ng-template #showforumimages>
                <div style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin:0 5px 5px 0;flex-wrap:nowrap"
                  *ngFor="let forumImage of forumImageItems; trackBy: trackForumImages">
                  <div style="flex:none;display:flex;flex-direction:row;align-items:center">
                    <div style="flex:none;margin-right:5px">
                      <img [src]="forumImage.url" matTooltip="{{ forumImage.name }}">
                    </div>
                  </div>
                  <div style="flex:none;display:flex;flex-direction:column;align-items:center">
                    <div style="flex:none">
                      <mat-icon onclick="event.stopPropagation()" (click)="removeForumImage(forumImage)" style="cursor:pointer" matTooltip="Remove">close</mat-icon>
                    </div>
                    <div style="flex:none">
                      <mat-checkbox matTooltip="Set Default" matTooltipPosition="above" [checked]="forumImage.default" (change)="setDefaultForumImage(forumImage)"></mat-checkbox>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template #noforumimages>
                <p style="flex:none;color:#999;font-size:90%">
                  <i>No Images</i>
                </p>
              </ng-template>
            </ng-container>
          </div>
          <!-- images -->
          <div style="border:1px solid rgb(160, 160, 160);padding:10px;border-radius:2px">
            <div style="display:flex;flex-direction:row;overflow-x:auto">
              <ng-container *ngIf="images | async;let imageItems">
                <ng-container *ngIf="imageItems.length > 0; then showimages else noimages"></ng-container>
                <ng-template #showimages>
                  <div style="flex:none;display:flex;flex-direction:row;align-items:flex-start;padding:5px;margin:0 5px 0 0;flex-wrap:nowrap"
                    *ngFor="let image of imageItems; trackBy: trackImages">
                    <div style="flex:none;display:flex;flex-direction:row;align-items:center">
                      <div style="flex:none;margin-right:5px">
                        <img [src]="image.url">
                      </div>
                    </div>
                    <div style="flex:none">
                      <mat-icon onclick="event.stopPropagation()" (click)="addImage(image)" style="cursor:pointer" matTooltip="Add image">add</mat-icon>
                    </div>
                  </div>
                </ng-template>
                <ng-template #noimages>
                  <div style="flex:1;display:flex;flex-direction:row;align-items:center">
                    <div style="flex:1;color:#999;font-size:90%">
                      <i>No Results</i>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>
        <!-- START OF SERVICES SECTION -->
        <div style="margin-bottom:20px">
          <h5 style="padding:0px">Services(<ng-container *ngIf="registrantCount | async as t"><ng-container [ngSwitch]="t"><ng-container *ngSwitchCase="-1">0</ng-container><ng-container *ngSwitchDefault>{{ t }}</ng-container></ng-container></ng-container>)</h5>
          <!-- registrants -->
          <div style="display:flex;flex-direction:row;overflow-x:auto;margin-bottom:10px">
            <ng-container *ngIf="registrants | async;let registrantItems">
              <ng-container *ngIf="registrantItems.length > 0; then showregistrants else noregistrants"></ng-container>
              <ng-template #showregistrants>
                <ng-container *ngFor="let registrant of registrantItems; trackBy: trackRegistrants">
                  <ng-container *ngIf="registrant.service | async; then showservice"></ng-container>
                  <ng-template #showservice>
                    <ng-container *ngIf="registrant.service | async;let service">
                      <div [ngClass]="service.paymentType == 'Free' ? 'alert alert-success' : 'alert alert-info'" style="flex:none;display:flex;flex-direction:row;align-items:center;margin-right:5px;flex-wrap:nowrap">
                        <ng-container *ngIf="service.defaultServiceImage | async; then showdefaultserviceimage"></ng-container>
                        <ng-template #showdefaultserviceimage>
                          <ng-container *ngIf="service.defaultServiceImage | async;let image">
                            <div style="flex:none;margin-right:5px">
                              <img [src]="image.url">
                            </div>
                          </ng-container>
                        </ng-template>
                        <p style="flex:1;margin-right:5px">
                          <a *ngIf="service.type == 'Private'" [routerLink]="['/user/service/detail']" [queryParams]='{ userId: service.uid, serviceId: service.serviceId, forumUserId: forumGroup.get("uid").value, forumId: forumGroup.get("forumId").value }' style="flex:none;color:#1B1B1B" matTooltip="{{ service.title }}{{ service.description.length > 0 ? (' - ' + service.description | truncate: 80) : '' }}">{{ service.title | truncate: 35 }}</a>
                          <a *ngIf="service.type == 'Public'" [routerLink]="['/service/detail']" [queryParams]='{ serviceId: service.serviceId, forumUserId: forumGroup.get("uid").value, forumId: forumGroup.get("forumId").value }' style="flex:none;color:#1B1B1B" matTooltip="{{ service.title }}{{ service.description.length > 0 ? (' - ' + service.description | truncate: 80) : '' }}">{{ service.title | truncate: 35 }}</a>
                        </p>
                        <div style="flex:none">
                          <ng-container *ngIf="auth.uid != service.uid; then showblockcontrol else noblockcontrol"></ng-container>
                          <ng-template #showblockcontrol>
                            <mat-select #select="matSelect" placeholder="" (selectionChange)="blockRegistrant($event, registrant)">
                              <mat-option *ngFor="let t of blockTypes" [value]="t">{{ t }}</mat-option>
                            </mat-select>
                          </ng-template>
                          <ng-template #noblockcontrol>
                            <mat-icon onclick="event.stopPropagation()" (click)="removeRegistrant(registrant)" style="cursor:pointer" matTooltip="Remove">close</mat-icon>
                          </ng-template>
                        </div>
                      </div>
                    </ng-container>
                  </ng-template>
                </ng-container>
              </ng-template>
              <ng-template #noregistrants>
                <p style="flex:none;color:#999;font-size:90%">
                  <i>No Services</i>
                </p>
              </ng-template>
            </ng-container>
          </div>
          <!-- search service -->
          <div style="border:1px solid rgb(160, 160, 160);padding:10px;border-radius:2px">
            <div style="text-align:right">
              <mat-checkbox formControlName="searchPrivateServices" matTooltip="Private" matTooltipPosition="above" (change)="searchPrivateServicesClick()" style="margin-right:10px"></mat-checkbox>
              <mat-checkbox formControlName="searchServiceIncludeTagsInSearch" matTooltip="Include Tags" matTooltipPosition="above" (change)="searchServiceIncludeTagsInSearchClick()"></mat-checkbox>
            </div>
            <div>
              <mat-form-field style="width:100%">
                <input matInput placeholder="Type a service" [matAutocomplete]="autoSearchServices" [formControl]="searchServiceCtrl">
                <mat-autocomplete #autoSearchServices="matAutocomplete" [displayWith]="autoSearchServiceDisplayFn">
                  <mat-option *ngFor="let service of matAutoCompleteSearchServices | async" [value]="service">
                    <p matTooltip="{{ service.title }}">{{ service.title | truncate: 35 }}</p>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <!-- tag -->
            <div style="display:flex;flex-direction:row;align-items:center">
              <div style="flex:1">
                <mat-form-field style="width:100%">
                  <input matInput placeholder="Type a tag" [matAutocomplete]="autoSearchServiceTags" [formControl]="serviceSearchTagCtrl">
                  <mat-autocomplete #autoSearchServiceTags="matAutocomplete" [displayWith]="autoSearchServiceTagsDisplayFn">
                    <mat-option *ngFor="let tag of matAutoCompleteSearchServiceTags | async" (onSelectionChange)="searchServiceTagsSelectionChange(tag)" [value]="tag">
                      <p>{{ tag.tag }}</p>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <!-- tag results -->
            <div style="display:flex;flex-direction:row;overflow-x:auto;margin-bottom:10px">
              <ng-container *ngIf="searchServiceTags.length > 0">
                <div [ngClass]="service.paymentType == 'Free' ? 'label label-success' : 'label label-info'" style="flex:none;display:flex;flex-direction:row;margin-right:5px;align-items:center"
                  *ngFor="let tag of searchServiceTags; trackBy: trackSearchServiceTags">
                  <span>{{ tag.tag }}</span>
                  <i class="material-icons" (click)="removeSearchServiceTag(tag)" style="cursor:pointer" matTooltip="Remove">close</i>
                </div>
              </ng-container>
            </div>
            <!-- search results -->
            <div style="display:flex;flex-direction:column">
              <ng-container *ngIf="searchServiceResults | async;let searchServiceResultItems">
                <div *ngIf="searchServiceResultItems.length > 0; then showsearchserviceresults else nosearchserviceresults"></div>
                <ng-template #showsearchserviceresults>
                  <ng-container *ngFor="let service of searchServiceResultItems; trackBy: trackSearchServiceResults">
                    <div [ngClass]="service.paymentType == 'Free' ? 'alert alert-success' : 'alert alert-info'" style="flex:none;display:flex;flex-direction:column;margin-bottom:5px">
                      <div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
                        <ng-container *ngIf="service.defaultServiceImage | async; then showdefaultserviceimage"></ng-container>
                        <ng-template #showdefaultserviceimage>
                          <ng-container *ngIf="service.defaultServiceImage | async;let image">
                            <div style="flex:none;margin-right:10px">
                              <img [src]="image.url">
                            </div>
                          </ng-container>
                        </ng-template>
                        <p style="flex:1;margin-right:5px">
                          <a *ngIf="service.type == 'Private'" [routerLink]="['/user/service/detail']" [queryParams]='{ userId: service.uid, serviceId: service.serviceId, forumUserId: forumGroup.get("uid").value, forumId: forumGroup.get("forumId").value }' style="flex:none;color:#1B1B1B" matTooltip="{{ service.title }}{{ service.description.length > 0 ? (' - ' + service.description | truncate: 200) : '' }}">{{ service.title | noTitle | truncate: 50 }}</a>
                          <a *ngIf="service.type == 'Public'" [routerLink]="['/service/detail']" [queryParams]='{ serviceId: service.serviceId, forumUserId: forumGroup.get("uid").value, forumId: forumGroup.get("forumId").value }' style="flex:none;color:#1B1B1B" matTooltip="{{ service.title }}{{ service.description.length > 0 ? (' - ' + service.description | truncate: 200) : '' }}">{{ service.title | noTitle | truncate: 50 }}</a>
                        </p>
                        <div style="flex:none">
                          <mat-icon onclick="event.stopPropagation()" (click)="addService(service)" style="cursor:pointer;color:#1B1B1B" matTooltip="Add service">add</mat-icon>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-template>
                <ng-template #nosearchserviceresults>
                  <p style="flex:none;color:#999;font-size:90%">
                    <i>No Results</i>
                  </p>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>
        <div style="display:flex;flex-direction:row;justify-content:flex-end;margin:20px 0 50px 0">
          <button (click)="cancel()" type="button">Cancel</button>
        </div>
      </form>
    </div>
  </ng-container>
</div>