<div style="display:flex;flex-direction:column;overflow-y:auto;padding:10px 20px 10px 20px">
	<!-- header -->
	<div style="flex:none">
		<div style="display:flex;flex-direction:row;align-items:center">
			<h4 style="flex:1">Images(<ng-container *ngIf="total | async as t"><ng-container [ngSwitch]="t"><ng-container *ngSwitchCase="-1">0</ng-container><ng-container *ngSwitchDefault>{{ t }}</ng-container></ng-container></ng-container>)</h4>
			<back></back>
		</div>
		<div style="border:1px solid #a0a0a0;padding:10px;margin-bottom:10px;border-radius:2px">
			<div *ngIf="currentUpload">
				<div style="display:flex;flex-direction:row">
					<div style="flex:1">
						<div class="progress">
							<div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
						</div>
					</div>
					<div style="flex:none">
						<mat-icon onclick="event.stopPropagation()" (click)="clearUpload()" style="cursor:pointer" matTooltip="Clear">clear</mat-icon>
					</div>
				</div>
        <div>Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete</div>
      </div>
      <div style="display:flex;flex-direction:row">
        <label style="flex:1">
          <input #uploadFile type="file" (change)="detectFiles($event)" accept="image/*">
        </label>
        <button style="flex:none" [disabled]="disableButton" (click)="uploadSingle()">Upload</button>
      </div>
		</div>
	</div>
	<!-- search results -->
	<loading-spinner *ngIf="loading | async"></loading-spinner>
	<div *ngIf="!(loading | async)" style="flex:1">
		<ng-container *ngIf="images | async;let imageItems">
			<ng-container *ngIf="imageItems.length > 0; then showimages else noimages"></ng-container>
			<ng-template #showimages>
				<div style="min-height:30px;border:1px solid rgb(153, 153, 153);margin-bottom:5px;padding-bottom:5px"
					*ngFor="let image of imageItems; trackBy: trackImages">
					<div style="display:flex;flex-direction:row;padding:5px 5px 3px 10px;align-items: center">
						<div style="flex:none;margin-right:10px">
							<ng-container *ngIf="image.url == '../../../assets/defaultThumbnail.jpg'; then noimage else showimage"></ng-container>
								<ng-template #showimage>
									<img [src]="image.url" [routerLink]="['/user/image/view']" [queryParams]="{ userId: image.uid, imageId: image.imageId }" style="cursor:pointer">
								</ng-template>
								<ng-template #noimage>
									<img [src]="image.url">
								</ng-template>
						</div>
            <div style="flex:1;margin-right:5px" contenteditable="true" [textContent]="image.name" (blur)="changeImageName(image, $event.target.textContent)"></div>
						<div style="flex:none;margin-right:5px">
							<span class="btn btn-circle" style="cursor:default;background-color:rgb(250, 113, 108);border:1px solid #ac2c2c" matTooltip="Forums">{{ image.forumCount }}</span>
						</div>
						<div style="flex:none;margin-right:5px">
							<span class="btn btn-circle" style="cursor:default;background-color:#A9C4EB;border:1px solid #007FFF" matTooltip="Services">{{ image.serviceCount }}</span>
						</div>
            <mat-icon onclick="event.stopPropagation()" (click)="delete(image)" style="flex:none;margin-left:5px;cursor:pointer" matTooltipPosition="before" matTooltip="Delete">delete</mat-icon>
          </div>
				</div>
			</ng-template>
			<ng-template #noimages>
				<p style="color:#999;font-size:90%">
					<i>No Images</i>
				</p>
			</ng-template>
		</ng-container>
	</div>
	<!-- paging -->
	<div *ngIf='prevKeys?.length || nextKey' style="flex:none;padding:5px;display:flex;flex-direction:row;justify-content:flex-end">		 
		<button style="flex:none" (click)="onPrev()" *ngIf='prevKeys?.length'>Prev</button>
		<button style="flex:none" (click)="onNext()" *ngIf='nextKey'>Next</button>
	</div>
</div>