<div style="display:flex;flex-direction:column;overflow-y:auto;padding:10px 20px 10px 20px">
  <!-- header -->
  <div style="flex:none;display:flex;flex-direction:row;align-items:center">
    <h4 style="flex:1">Payments(<ng-container *ngIf="total | async as t"><ng-container [ngSwitch]="t"><ng-container *ngSwitchCase="-1">0</ng-container><ng-container *ngSwitchDefault>{{ t }}</ng-container></ng-container></ng-container>)</h4>
    <back></back>
  </div>
  <!-- search results -->
  <loading-spinner *ngIf="loading | async"></loading-spinner>
  <div *ngIf="!(loading | async)" style="flex:1;display:flex;flex-direction:column">
    <ng-container *ngIf="payments | async;let paymentItems">
      <ng-container *ngIf="paymentItems.length > 0; then showpayments else nopayments"></ng-container>
      <ng-template #showpayments>
        <ng-container *ngFor="let payment of paymentItems; trackBy: trackPayments">
          <div [ngClass]="payment.sellerPaymentType == 'Free' ? 'alert alert-success' : 'alert alert-info'" style="flex:none;display:flex;flex-direction:column;padding:10px;margin-bottom:5px">
            <div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
              <ng-container *ngIf="payment.sellerDefaultServiceImage | async; then showsellerdefaultserviceimage"></ng-container>
              <ng-template #showsellerdefaultserviceimage>
                <ng-container *ngIf="payment.sellerDefaultServiceImage | async;let image">
                  <div style="flex:none;margin-right:10px">
                    <ng-container *ngIf="image.url == '../../../assets/defaultThumbnail.jpg'; then noimage else showimage"></ng-container>
                    <ng-template #showimage>
                      <img *ngIf="payment.sellerType == 'Private'" [src]="image.url" [routerLink]="['/user/service/detail']" [queryParams]='{ userId: payment.sellerUid, serviceId: payment.sellerServiceId }' style="cursor:pointer">
                      <img *ngIf="payment.sellerType == 'Public'" [src]="image.url" [routerLink]="['/service/detail']" [queryParams]='{ serviceId: payment.sellerServiceId }' style="cursor:pointer">
                    </ng-template>
                    <ng-template #noimage>
                      <img [src]="image.url">
                    </ng-template>
                  </div>
                </ng-container>
              </ng-template>
              <div style="flex:1;margin-right:5px">
                <p style="word-break: break-all">
                  <a *ngIf="payment.sellerType == 'Private'" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: payment.sellerUid, serviceId: payment.sellerServiceId }" style="color:#1B1B1B" matTooltip="{{ payment.sellerTitle }}{{ payment.sellerDescription.length > 0 ? (' - ' + payment.sellerDescription | truncate: 80) : '' }}">{{ payment.sellerTitle | noTitle | truncate: 35 }} <i *ngIf="payment.sellerDescription.length > 0">- {{ payment.sellerDescription | truncate: 80 }}</i></a>
                  <a *ngIf="payment.sellerType == 'Public'" [routerLink]="['/service/detail']" [queryParams]="{ serviceId: payment.sellerServiceId }" style="color:#1B1B1B" matTooltip="{{ payment.sellerTitle }}{{ payment.sellerDescription.length > 0 ? (' - ' + payment.sellerDescription | truncate: 80) : '' }}">{{ payment.sellerTitle | noTitle | truncate: 35 }} <i *ngIf="payment.sellerDescription.length > 0">- {{ payment.sellerDescription | truncate: 80 }}</i></a>
                </p>
              </div>
              <div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
                <!-- other button controls -->
                <span style="padding:5px;margin-right:5px" class="label label-default" matTooltip="Payment Id">{{ payment.paymentId }}</span>
                <div style="flex:none;margin-right:5px">
                  <ng-container *ngIf="payment.status == 'Pending'">
                    <span style="padding:5px" class="label label-warning">Pending</span>
                  </ng-container>
                  <ng-container *ngIf="payment.status == 'Success'">
                    <span style="padding:5px" class="label label-success">Success</span>
                  </ng-container>
                  <ng-container *ngIf="payment.status == 'Failed'">
                    <span style="padding:5px" class="label label-danger">Failed</span>
                  </ng-container>
                </div>
                <div class="label label-default" matTooltip="{{ payment.creationDate.toDate() | date: 'MMM d, y, h:mm:ss a' }}" style="flex:none;padding:5px;margin-right:5px">
                  {{ payment.creationDate.toDate() | amTimeAgo }}
                </div>
                <mat-icon [routerLink]="['/user/payment/view']" [queryParams]="{ paymentId: payment.paymentId }" style="flex:none;color:#1B1B1B;cursor:pointer" matTooltip="View details">description</mat-icon>
              </div>
            </div>
            <ng-container *ngIf="payment.sellerServiceTags | async;let sellerServiceTagItems">
              <div style="flex:none;display:flex;flex-direction:row;align-items:center">
                <ng-container *ngIf="sellerServiceTagItems.length > 0; then showtags"></ng-container>
                <ng-template #showtags>
                  <div style="flex:1;display:flex;flex-direction:row;margin-top:5px">
                    <ng-container *ngFor="let serviceTag of sellerServiceTagItems">
                      <span class="label label-info" style="flex:none;margin-right:5px;padding:5px">{{ serviceTag.tag }}</span>
                    </ng-container>
                  </div>
                </ng-template>
                <ng-container *ngIf="sellerServiceTagItems.length > 0; then showtagswithpayment else showtagswithoutpayment"></ng-container>
                <ng-template #showtagswithpayment>
                  <div [ngClass]="payment.buyerPaymentType == 'Free' ? 'alert alert-success' : 'alert alert-info'" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin-right:5px;flex-wrap:wrap">
                    <ng-container *ngIf="payment.buyerDefaultServiceImage | async; then showbuyerdefaultserviceimage"></ng-container>
                    <ng-template #showbuyerdefaultserviceimage>
                      <ng-container *ngIf="payment.buyerDefaultServiceImage | async;let image">
                        <div style="flex:none;margin-right:10px">
                          <ng-container *ngIf="image.url == '../../../assets/defaultTiny.jpg'; then noimage else showimage"></ng-container>
                          <ng-template #showimage>
                            <img *ngIf="payment.buyerType == 'Private'" [src]="image.url" [routerLink]="['/user/service/detail']" [queryParams]='{ userId: payment.buyerUid, serviceId: payment.buyerServiceId }' style="cursor:pointer">
                            <img *ngIf="payment.buyerType == 'Public'" [src]="image.url" [routerLink]="['/service/detail']" [queryParams]='{ serviceId: payment.buyerServiceId }' style="cursor:pointer">
                          </ng-template>
                          <ng-template #noimage>
                            <img [src]="image.url">
                          </ng-template>
                        </div>
                      </ng-container>
                    </ng-template>
                    <div style="flex:1;margin-right:5px">
                      <p style="word-break: break-all">
                        <a *ngIf="payment.buyerType == 'Private'" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: payment.buyerUid, serviceId: payment.buyerServiceId }" style="color:#1B1B1B" matTooltip="{{ payment.buyerTitle }}{{ payment.buyerDescription.length > 0 ? (' - ' + payment.buyerDescription | truncate: 80) : '' }}">{{ payment.buyerTitle | noTitle | truncate: 35 }} <i *ngIf="payment.buyerDescription.length > 0">- {{ payment.buyerDescription | truncate: 80 }}</i></a>
                        <a *ngIf="payment.buyerType == 'Public'" [routerLink]="['/service/detail']" [queryParams]="{ serviceId: payment.buyerServiceId }" style="color:#1B1B1B" matTooltip="{{ payment.buyerTitle }}{{ payment.buyerDescription.length > 0 ? (' - ' + payment.buyerDescription | truncate: 80) : '' }}">{{ payment.buyerTitle | noTitle | truncate: 35 }} <i *ngIf="payment.buyerDescription.length > 0">- {{ payment.buyerDescription | truncate: 80 }}</i></a>
                      </p>
                    </div>
                  </div>
                </ng-template>
                <ng-template #showtagswithoutpayment>
                  <div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
                    <div [ngClass]="payment.buyerPaymentType == 'Free' ? 'alert alert-success' : 'alert alert-info'" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin:0 5px 0 0;flex-wrap:wrap">
                      <ng-container *ngIf="payment.buyerDefaultServiceImage | async; then showbuyerdefaultserviceimage"></ng-container>
                      <ng-template #showbuyerdefaultserviceimage>
                        <ng-container *ngIf="payment.buyerDefaultServiceImage | async;let image">
                          <div style="flex:none;margin-right:10px">
                            <ng-container *ngIf="image.url == '../../../assets/defaultTiny.jpg'; then noimage else showimage"></ng-container>
                            <ng-template #showimage>
                              <img *ngIf="payment.buyerType == 'Private'" [src]="image.url" [routerLink]="['/user/service/detail']" [queryParams]='{ userId: payment.buyerUid, serviceId: payment.buyerServiceId }' style="cursor:pointer">
                              <img *ngIf="payment.buyerType == 'Public'" [src]="image.url" [routerLink]="['/service/detail']" [queryParams]='{ serviceId: payment.buyerServiceId }' style="cursor:pointer">
                            </ng-template>
                            <ng-template #noimage>
                              <img [src]="image.url">
                            </ng-template>
                          </div>
                        </ng-container>
                      </ng-template>
                      <div style="flex:1;margin-right:5px">
                        <p style="word-break: break-all">
                          <a *ngIf="payment.buyerType == 'Private'" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: payment.buyerUid, serviceId: payment.buyerServiceId }" style="color:#1B1B1B" matTooltip="{{ payment.buyerTitle }}{{ payment.buyerDescription.length > 0 ? (' - ' + payment.buyerDescription | truncate: 80) : '' }}">{{ payment.buyerTitle | noTitle | truncate: 35 }} <i *ngIf="payment.buyerDescription.length > 0">- {{ payment.buyerDescription | truncate: 80 }}</i></a>
                          <a *ngIf="payment.buyerType == 'Public'" [routerLink]="['/service/detail']" [queryParams]="{ serviceId: payment.buyerServiceId }" style="color:#1B1B1B" matTooltip="{{ payment.buyerTitle }}{{ payment.buyerDescription.length > 0 ? (' - ' + payment.buyerDescription | truncate: 80) : '' }}">{{ payment.buyerTitle | noTitle | truncate: 35 }} <i *ngIf="payment.buyerDescription.length > 0">- {{ payment.buyerDescription | truncate: 80 }}</i></a>
                        </p>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <div style="flex:none;padding:5px;color:#1B1B1B">{{ payment.currency.toUpperCase() }} {{ payment.amount.toFixed(2) }}</div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </ng-template>
      <ng-template #nopayments>
        <p style="flex:none;color:#999;font-size:90%">
          <i>No Payments</i>
        </p>
      </ng-template>
    </ng-container>
  </div>
  <!-- paging -->
  <div *ngIf='prevKeys?.length || nextKey' style="flex:none;padding:5px;display:flex;flex-direction:row;justify-content:flex-end">		 
    <button class="btn" style="flex:none" (click)="onPrev()" *ngIf='prevKeys?.length'>Prev</button>
    <button class="btn" style="flex:none" (click)="onNext()" *ngIf='nextKey'>Next</button>
  </div>
</div>