<loading-spinner *ngIf="loading | async"></loading-spinner>
<ng-container *ngIf="service | async;let serviceItem">
	<div *ngIf="!(loading | async)" style="height:100%;display:flex;flex-direction:column;overflow-x:hidden;overflow-y:auto;padding:10px 20px 10px 20px">
		<div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap;margin-bottom:5px">
			<div style="flex:none;display:flex;flex-direction:column;align-items:center;margin-right:10px">
				<ng-container *ngIf="defaultServiceImage | async; then showdefaultserviceimage"></ng-container>
				<ng-template #showdefaultserviceimage>
					<ng-container *ngIf="defaultServiceImage | async;let image">
						<div style="flex:none">
							<ng-container *ngIf="image.smallDownloadUrl == '../../../../assets/defaultThumbnail.jpg'; then noimage else showimage"></ng-container>
							<ng-template #showimage>
								<img [src]="image.smallDownloadUrl" [routerLink]="['/anonymous/service/image/list']" [queryParams]='{ serviceId: serviceItem.serviceId }' style="cursor:pointer">
							</ng-template>
							<ng-template #noimage>
								<img [src]="image.smallDownloadUrl">
							</ng-template>
						</div>
					</ng-container>
				</ng-template>
			</div>
			<div style="flex:none">
				<h4>{{ serviceItem.title | noTitle }}</h4>
			</div>
			<div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end;align-items:center">
				<div *ngIf="serviceItem.creationDate" class="label label-default" matTooltip="{{ serviceItem.creationDate.toDate() | date: 'MMM d, y, h:mm:ss a' }}" style="flex:none;padding:5px">
					{{ serviceItem.creationDate.toDate() | amTimeAgo }}
				</div>
				<back></back>
			</div>
		</div>
		<div style="flex:1">
			<form [formGroup]="serviceGroup" novalidate>
				<div style="display:flex;flex-direction:column">
					<!-- tags -->
					<ng-container *ngIf="serviceTags | async;let serviceTagItems">
						<div style="flex:none;display:flex;flex-direction:row">
							<ng-container *ngIf="serviceTagItems.length > 0; then showtags"></ng-container>
							<ng-template #showtags>
								<div style="flex:1;display:flex;flex-direction:row">
									<ng-container *ngFor="let serviceTag of serviceTagItems">
										<span [ngClass]="serviceItem.paymentType == 'Free' ? 'label label-success' : 'label label-info'" style="flex:none;margin-right:5px;padding:5px">{{ serviceTag.tag }}</span>
									</ng-container>
								</div>
							</ng-template>
							<ng-container *ngIf="serviceItem.paymentType == 'Payment'">
								<ng-container *ngIf="serviceTagItems.length > 0; then showtagswithpayment else showtagswithoutpayment"></ng-container>
								<ng-template #showtagswithpayment>
									<div style="flex:none;display:flex;flex-direction:row;align-items:center;justify-content:flex-end">
										<div class="label label-danger" *ngIf="serviceItem.paymentId && serviceItem.paymentId.length > 0" style="flex:none;padding:5px;margin-right:5px">Sold</div>
										<a [routerLink]="['/login']" [queryParams]='{ serviceId: serviceItem.serviceId }' style="flex:none;color:#1B1B1B" matTooltip="Buy">{{ serviceItem.currency.toUpperCase() }} {{ serviceItem.amount.toFixed(2) }}</a>
									</div>
								</ng-template>
								<ng-template #showtagswithoutpayment>
									<div style="flex:1;display:flex;flex-direction:row;align-items:center;justify-content:flex-end">
										<div class="label label-danger" *ngIf="serviceItem.paymentId && serviceItem.paymentId.length > 0" style="flex:none;padding:5px;margin-right:5px">Sold</div>
										<a [routerLink]="['/login']" [queryParams]='{ serviceId: serviceItem.serviceId }' style="flex:none;color:#1B1B1B" matTooltip="Buy">{{ serviceItem.currency.toUpperCase() }} {{ serviceItem.amount.toFixed(2) }}</a>
									</div>
								</ng-template>
							</ng-container>
						</div>
					</ng-container>
					<!-- description -->
					<mat-expansion-panel #descriptionPanel
						(opened)="descriptionPanelEvent('expanded')"
						(closed)="descriptionPanelEvent('contracted')"
						class="mat-elevation-z0"
						*ngIf="serviceItem.description.length > 0"
						style="margin:5px 0 10px 0">
						<mat-expansion-panel-header style="display:flex;flex-direction:row">
							<mat-panel-title #descriptionPanelTitle style="flex:none">
								{{ serviceItem.description | truncate: 200 }}
							</mat-panel-title>
						</mat-expansion-panel-header>
						<p style="margin:0px;padding:0px;white-space:pre-wrap">
							<span [innerHTML]="serviceItem.description | linky: { newWindow: true, className: 'viewPageLinkyClass' }"></span>
						</p>
					</mat-expansion-panel>
					<!-- website -->
					<div *ngIf="serviceItem.website.length > 0" style="flex:none;display:flex;flex-direction:row;margin-bottom:10px">
						<mat-icon style="flex:none;margin-right:5px">link</mat-icon>
						<span style="flex:none" [innerHTML]="serviceItem.website | linky: { newWindow: true, className: 'viewPageLinkyClass' }"></span>
					</div>
          <div style="flex:none;display:flex;flex-direction:row;justify-content:flex-end;align-items:center;margin-bottom:5px">
            <a [routerLink]="['/login']" [queryParams]='{ serviceId: serviceItem.serviceId }' style="flex:none;color:#1B1B1B;margin-right:5px" matTooltip="Add forum">Add forum</a>
            <a [routerLink]="['/login']" [queryParams]='{ serviceId: serviceItem.serviceId }' style="flex:none;color:#1B1B1B;text-decoration:none" class="material-icons" matTooltipPosition="left" matTooltip="Add forum">keyboard_arrow_right</a>
					</div>
          <div style="flex:none;display:flex;flex-direction:row;justify-content:flex-end;align-items:center;margin-bottom:5px">
            <a [routerLink]="['/login']" [queryParams]='{ serviceId: serviceItem.serviceId }' style="flex:none;color:#1B1B1B;margin-right:5px" matTooltip="Create forum">Create forum</a>
            <a [routerLink]="['/login']" [queryParams]='{ serviceId: serviceItem.serviceId }' style="flex:none;color:#1B1B1B;text-decoration:none" class="material-icons" matTooltipPosition="left" matTooltip="Create forum">keyboard_arrow_right</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</ng-container>
