<div style="height:100%;display:flex;flex-direction:column;overflow-x:hidden;overflow-y:auto;padding:10px 20px 10px 20px">
  <div style="flex:none;display:flex;flex-direction:row;align-items:center">
    <h4 style="flex:none">Terms of Service</h4>
    <div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
      <back></back>
    </div>
  </div>
  <div style="flex:1">
    <p style="margin-bottom:8px">These terms of service are effective from 12/20/2020.</p>
    <p style="font-weight:bold;margin-top:8px;margin-bottom:8px">By using Eleutherios you agree not to misuse the Eleutherios services ("Services") or help anyone else to do so. For example, you must not even try to do any of the following in connection with the Services:</p>
    <p>- breach or otherwise circumvent any security or authentication measures</p>
    <p>- access, tamper with, or use non-public areas or parts of the Services, or shared areas of the Services you haven't been invited to</p>
    <p>- interfere with or disrupt any user, host, or network, for example by sending a virus, overloading, flooding, spamming, or mail-bombing any part of the Services</p>
    <p>- access, search, or create accounts for the Services by any means other than our publicly supported interfaces (for example, "scraping" or creating accounts in bulk)</p>
    <p>- send unsolicited communications, promotions or advertisements, or spam</p>
    <p>- send altered, deceptive or false source-identifying information, including "spoofing" or "phishing"</p>
    <p>- promote or advertise products or services other than your own without appropriate authorization</p>
    <p>- publish or share materials that are unlawfully pornographic or indecent, or that contain extreme acts of violence or terrorist activity, including terror propaganda</p>
    <p>- advocate bigotry or hatred against any person or group of people based on their race, religion, ethnicity, sex, gender identity, sexual orientation, disability, or impairment</p>
    <p>- harass or abuse Eleutherios personnel or representatives or agents performing services on behalf of Eleutherios</p>
    <p>- violate the law in any way, including storing, publishing or sharing material that's fraudulent, defamatory, or misleading</p>
    <p>- violate the privacy or infringe the rights of others</p>
  </div>
</div>