<loading-spinner *ngIf="loading | async"></loading-spinner>
<ng-container *ngIf="auth.user | async;let userItem">
  <div *ngIf="!(loading | async)" style="height:100%;display:flex;flex-direction:column;overflow-x:hidden;overflow-y:auto;padding:10px 20px 10px 20px">
		<div style="flex:none;display:flex;flex-direction:row;align-items:center">
			<h4 style="flex:none">New Payment</h4>
			<div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
				<back></back>
			</div>
    </div>
    <form [formGroup]="serviceGroup" novalidate>
      <div style="flex:1;display:flex;flex-direction:column">
        <div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-flow:wrap">
          <div class="alert alert-info" style="flex:none;width:100%;display:flex;flex-direction:column">
            <div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
              <ng-container *ngIf="defaultServiceImage | async; then showdefaultserviceimage"></ng-container>
              <ng-template #showdefaultserviceimage>
                <ng-container *ngIf="defaultServiceImage | async;let image">
                  <div style="flex:none;margin-right:10px">
                    <ng-container *ngIf="image.url == '../../../assets/defaultThumbnail.jpg'; then noimage else showimage"></ng-container>
                    <ng-template #showimage>
                      <img *ngIf="serviceGroup.get('type').value == 'Private'" [src]="image.url" [routerLink]="['/user/service/image/list']" [queryParams]="{ userId: serviceGroup.get('uid').value, serviceId: serviceGroup.get('serviceId').value }" style="cursor:pointer">
                      <img *ngIf="serviceGroup.get('type').value == 'Public'" [src]="image.url" [routerLink]="['/service/image/list']" [queryParams]="{ serviceId: serviceGroup.get('serviceId').value }" style="cursor:pointer">
                    </ng-template>
                    <ng-template #noimage>
                      <img [src]="image.url">
                    </ng-template>
                  </div>
                </ng-container>
              </ng-template>
              <div style="flex:1;margin-right:5px">
                <p style="word-break: break-all">
                  <a *ngIf="serviceGroup.get('type').value == 'Private'" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: serviceGroup.get('uid').value, serviceId: serviceGroup.get('serviceId').value }" style="color:#1B1B1B" matTooltip="{{ serviceGroup.get('title').value }}">{{ serviceGroup.get('title').value | noTitle | truncate: 35 }} <i *ngIf="serviceGroup.get('description').value.length > 0">- {{ serviceGroup.get('description').value | truncate: 80 }}</i></a>
                  <a *ngIf="serviceGroup.get('type').value == 'Public'" [routerLink]="['/service/detail']" [queryParams]="{ serviceId: serviceGroup.get('serviceId').value }" style="color:#1B1B1B" matTooltip="{{ serviceGroup.get('title').value }}">{{ serviceGroup.get('title').value | noTitle | truncate: 35 }} <i *ngIf="serviceGroup.get('description').value.length > 0">- {{ serviceGroup.get('description').value | truncate: 80 }}</i></a>
                </p>
              </div>
              <ng-container *ngIf="serviceGroup.get('paymentType').value == 'Payment'">
                <div style="flex:none">
                  {{ serviceGroup.get('currency').value.toUpperCase() }}({{ serviceGroup.get('amount').value.toFixed(2) }})
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div style="flex:none;display:flex;flex-direction:row;align-items:center">
          <div style="flex:none;margin-right:10px">
            <ng-container *ngIf="userServices | async;let userServiceItems">
              <ng-container *ngIf="userServiceItems.length > 0; then showuserservices"></ng-container>
              <ng-template #showuserservices>
                <mat-form-field>
                  <mat-select #select="matSelect" (selectionChange)="selectService()" placeholder="Choose service" [formControl]="userServicesCtrl" style="margin-top:5px" matTooltip="Choose service to pay with">
                    <mat-option *ngFor="let service of userServiceItems; trackBy: trackUserServices" [value]="service">{{ service.title | truncate: 35 }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-template>
            </ng-container>
          </div>
          <div style="flex:1;margin-right:10px">
            <div id="card-element" class="field"></div>
          </div>
          <div style="flex:none">
            <button [disabled]="showPaymentButton" class="pay" (click)="pay()">PAY</button>
          </div>
        </div>
      </div>
    </form>
	</div>
</ng-container>