<loading-spinner *ngIf="loading | async"></loading-spinner>
<ng-container *ngIf="auth.user | async;let userItem">
	<div *ngIf="!(loading | async)" style="height:100%;display:flex;flex-direction:column;overflow-x:hidden;overflow-y:auto;padding:10px 20px 10px 20px">
		<div style="flex:none;display:flex;flex-direction:row;align-items:center">
			<h4 style="flex:none">New Payment</h4>
			<div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
				<back></back>
			</div>
		</div>
		<div style="flex:1">
      <!-- 1) select list for end user to choose service to pay with -->
      
		</div>
	</div>
</ng-container>