<loading-spinner *ngIf="loading | async"></loading-spinner>
<ng-container *ngIf="auth.user | async;let userItem">
	<div *ngIf="!(loading | async)" style="height:100%;display:flex;flex-direction:column;overflow-x:hidden;overflow-y:auto;padding:10px 20px 10px 20px">
		<div style="flex:none;display:flex;flex-direction:row;align-items:center">
			<h4 style="flex:none">New Payment</h4>
			<div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
				<back></back>
			</div>
    </div>
    <form [formGroup]="serviceGroup" novalidate>
      <div style="flex:1;display:flex;flex-direction:column">
        <div style="flex:none">
          <input formControlName="name" />
          <input formControlName="amount" />
          <ngx-stripe-card
            [options]="cardOptions"
            [elementsOptions]="elementsOptions">
          </ngx-stripe-card>
        </div>
        <div style="flex:none;display:flex;flex-direction:row">
          <div style="flex:1">
            <mat-form-field>
              <mat-select #select="matSelect" (selectionChange)="selectService()" placeholder="Choose service" [formControl]="userServicesCtrl" style="margin-top:5px" matTooltip="Choose service">
                <mat-option *ngFor="let service of userServiceItems; trackBy: trackUserServices" [value]="service">{{ service.title | truncate: 35 }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div style="flex:none">
            <button [disabled]="showPaymentButton" class="pay" (click)="pay()" >PAY</button>
          </div>
        </div>
      </div>
    </form>
	</div>
</ng-container>