<div style="display:flex;flex-direction:column;overflow-y:auto;padding:10px 20px 10px 20px">
	<!-- header -->
  <div style="flex:none">
    <div style="display:flex;flex-direction:row;align-items:center">
      <h4 style="flex:none">New Image</h4>
      <div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end;align-items:center">
        <back></back>
      </div>
    </div>
  </div>
  <!-- search results -->
  <loading-spinner *ngIf="loading | async"></loading-spinner>
  <div *ngIf="!(loading | async)" style="flex:1;display:flex;flex-direction:column">
    <div style="flex:none">
      <div *ngIf="currentUpload">
        <div class="progress">
          <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
        </div>
        Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
      </div>
      <div>
        <label>
          <input type="file" (change)="detectFiles($event)">
        </label>
        <button [disabled]="!selectedFiles" (click)="uploadSingle()">Upload</button>
      </div>
    </div>
  </div>
</div>