<div style="height:100%;display:flex;flex-direction:column;overflow-y:hidden;background-color:#222">
  <header>
    <layout-header></layout-header>
  </header>
  <ng-container *ngIf="auth.user | async; then authenticated else guest"></ng-container>
  <ng-template #authenticated>
    <mat-sidenav-container autosize="true" style="flex:1;min-height:0px;height:100%">
      <mat-sidenav #activitySideNav role="activity" opened="true" mode="side" disableClose="true" [ngClass]="activitySideBarState == 'open' ? 'sideNavOpen' : 'sideNavClosed'">
        <ng-template #activityComponent></ng-template>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-template>
  <ng-template #guest>
    <div style="flex:1;min-height:0px;background-color:#fff">
      <div style="height:100%" fxLayout="row">
        <div fxFlex="1 1 auto">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </ng-template>
  <footer>
    <layout-footer></layout-footer>
  </footer>
</div>