<div style="display:flex;flex-direction:column;overflow-y:auto;padding:10px 20px 10px 20px">
	<form [formGroup]="serviceGroup" novalidate>
		<!-- header -->
		<div style="flex:none">
			<div style="display:flex;flex-direction:row;align-items:center">
				<h4 style="flex:none">Services(<ng-container *ngIf="total | async as t"><ng-container [ngSwitch]="t"><ng-container *ngSwitchCase="-1">0</ng-container><ng-container *ngSwitchDefault>{{ t }}</ng-container></ng-container></ng-container>)</h4>
				<div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end;align-items:center">
					<div style="flex:none;display:flex;flex-direction:row;margin-right:5px">
						<mat-form-field style="flex:none;width:150px">
							<mat-select formControlName="paymentType" #select="matSelect" (selectionChange)="changePaymentType()">
								<!-- <mat-select-trigger>{{ select.selected?.value }}</mat-select-trigger> -->
								<mat-option *ngFor="let t of paymentTypes" [value]="t">{{ t }}</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div style="flex:none;margin-right:5px">
						<mat-checkbox formControlName="includeTagsInSearch" matTooltip="Include Tags" matTooltipPosition="above" (change)="includeTagsInSearchClick()"></mat-checkbox>
					</div>
					<back></back>
				</div>
			</div>
			<div style="border:1px solid #a0a0a0;padding:10px;margin-bottom:10px;border-radius:2px">
				<!-- service search -->
				<div>
					<mat-form-field style="width:100%">
						<input matInput placeholder="Type a service" [formControl]="searchServiceCtrl">
					</mat-form-field>
				</div>
				<!-- tag search -->
				<div>
					<mat-form-field style="width:100%">
						<input matInput placeholder="Type a tag" [matAutocomplete]="autoSearchTag" [formControl]="serviceSearchTagCtrl">
						<mat-autocomplete #autoSearchTag="matAutocomplete" [displayWith]="autoSearchTagDisplayFn">
							<mat-option *ngFor="let tag of matAutoCompleteSearchTags | async" (onSelectionChange)="searchTagsSelectionChange(tag)" [value]="tag">
								<p>{{ tag.tag }}</p>
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
				</div>
				<!-- show tags -->
				<ng-container *ngIf="searchTags.length > 0; else nosearchtags">
					<div style="display:flex;flex-direction:row;justify-content:flex-start;overflow-x:auto;margin-bottom:10px">
						<div class="label label-default" style="flex:none;display:flex;flex-direction:row;align-items:center;margin-right:5px"
							*ngFor="let tag of searchTags; trackBy: trackSearchTags">
							<span>{{ tag.tag }}</span>
							<i class="material-icons" (click)="removeSearchTag(tag)" style="cursor:pointer" matTooltip="Remove">close</i>
						</div>
					</div>
				</ng-container>
				<ng-template #nosearchtags>
					<p style="color:#999;font-size:90%">
						<i>No Tags</i>
					</p>
				</ng-template>
			</div>
		</div>
		<!-- search results -->
		<loading-spinner *ngIf="loading | async"></loading-spinner>
		<div *ngIf="!(loading | async)" style="flex:1;display:flex;flex-direction:column">
			<ng-container *ngIf="services | async;let serviceItems">
				<ng-container *ngIf="serviceItems.length > 0; then showservices else noservices"></ng-container>
				<ng-template #showservices>
					<ng-container *ngFor="let service of serviceItems; trackBy: trackServices">
						<div [ngClass]="service.paymentType == 'Free' ? 'alert alert-success' : 'alert alert-info'" style="flex:none;display:flex;flex-direction:column;margin-bottom:5px">
							<div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
								<ng-container *ngIf="service.defaultServiceImage | async; then showdefaultserviceimage"></ng-container>
								<ng-template #showdefaultserviceimage>
									<ng-container *ngIf="service.defaultServiceImage | async;let image">
										<div style="flex:none;margin-right:10px">
											<ng-container *ngIf="image.url == '../../../assets/defaultThumbnail.jpg'; then noimage else showimage"></ng-container>
											<ng-template #showimage>
												<img [src]="image.url" [routerLink]="['/user/service/detail']" [queryParams]='{ userId: service.uid, serviceId: service.serviceId }' style="cursor:pointer">
											</ng-template>
											<ng-template #noimage>
												<img [src]="image.url">
											</ng-template>
										</div>
									</ng-container>
								</ng-template>
								<div style="flex:1;margin-right:5px">
									<p style="word-break: break-all">
										<a [routerLink]="['/user/service/detail']" [queryParams]="{ userId: service.uid, serviceId: service.serviceId }" style="color:#1B1B1B" matTooltip="{{ service.title }}">{{ service.title | noTitle | truncate: 35 }} <i *ngIf="service.description.length > 0">- {{ service.description | truncate: 80 }}</i></a>
									</p>
								</div>
								<div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
									<!-- other button controls -->
									<div style="flex:none;margin-right:5px">
										<star-rating-control
												[rating]="service.rate"
												[showHalfStars]="true"
												[starType]="'svg'"
												[readOnly]="true">
											</star-rating-control>
									</div>
									<div style="flex:none;margin-right:5px">
										<p style="background-color:rgb(131, 122, 122);border-radius:2px;padding:4px;color:#FFFDD0" matTooltip="{{ service.creationDate.toDate() | date: 'MMM d, y, h:mm:ss a' }}">{{ service.creationDate.toDate() | amTimeAgo }}</p>
									</div>
									<div style="flex:none;margin-right:5px">
										<ng-container *ngIf="service.type == 'Public'; then showpublictype else showprivatetype"></ng-container>
										<ng-template #showpublictype>
											<mat-icon onclick="event.stopPropagation()" (click)="changeType(service)" style="cursor:pointer;color:#1B1B1B" matTooltip="Public">lock_open</mat-icon>
										</ng-template>
										<ng-template #showprivatetype>
											<mat-icon onclick="event.stopPropagation()" (click)="changeType(service)" style="cursor:pointer;color:#1B1B1B" matTooltip="Private">lock</mat-icon>
										</ng-template>
									</div>
									<div style="flex:none;margin-right:5px">
										<mat-icon [routerLink]="['/user/service/edit']" [queryParams]="{ serviceId: service.serviceId }" style="cursor:pointer;color:#1B1B1B" matTooltip="Edit">edit</mat-icon>
									</div>
									<div style="flex:none;margin-right:5px">
										<mat-icon onclick="event.stopPropagation()" (click)="delete(service)" style="cursor:pointer;color:#1B1B1B" matTooltip="Delete">delete</mat-icon>
									</div>
									<div style="flex:none;margin-right:5px">
										<mat-checkbox *ngIf="service.title.length > 0" matTooltip="Index" [checked]="service.indexed" (change)="indexDeindexService(service)"></mat-checkbox>
										<mat-checkbox *ngIf="service.title.length == 0" matTooltip="Index" [checked]="service.indexed" disabled="true"></mat-checkbox>
									</div>
									<div style="flex:none;margin-right:5px">
										<mat-icon [routerLink]="['/user/service/detail']" [queryParams]="{ userId: service.uid, serviceId: service.serviceId }" style="cursor:pointer;color:#1B1B1B" matTooltip="View details">description</mat-icon>
									</div>
									<div style="flex:none;margin-right:5px">
										<mat-icon [routerLink]="['/user/service/detail']" [queryParams]="{ userId: service.uid, serviceId: service.serviceId }" style="cursor:pointer;color:#1B1B1B" matTooltip="Add forum">add_box</mat-icon>
									</div>
									<div style="flex:none;margin-right:5px">
										<mat-icon [routerLink]="['/user/forum/new']" [queryParams]="{ userId: service.uid, serviceId: service.serviceId }" style="cursor:pointer;color:#1B1B1B" matTooltip="Create forum">add_circle</mat-icon>
									</div>
								</div>
							</div>
							<ng-container *ngIf="service.serviceTags | async;let serviceTagItems">
								<div style="flex:none;display:flex;flex-direction:row">
									<ng-container *ngIf="serviceTagItems.length > 0; then showtags"></ng-container>
									<ng-template #showtags>
										<div style="flex:1;display:flex;flex-direction:row;margin-top:5px">
											<ng-container *ngFor="let serviceTag of serviceTagItems">
												<span [ngClass]="service.paymentType == 'Free' ? 'label label-success' : 'label label-info'" style="flex:none;margin-right:5px;padding:5px">{{ serviceTag.tag }}</span>
											</ng-container>
										</div>
									</ng-template>
									<ng-container *ngIf="service.paymentType == 'Payment'">
										<ng-container *ngIf="serviceTagItems.length > 0; then showtagswithpayment else showtagswithoutpayment"></ng-container>
										<ng-template #showtagswithpayment>
											<div style="flex:none">
												<a [routerLink]="['/user/payment/new']" [queryParams]="{ userId: service.uid, serviceId: service.serviceId }" style="color:#1B1B1B" matTooltip="Buy">{{ service.currency.toUpperCase() }} {{ service.amount.toFixed(2) }}</a>
											</div>
										</ng-template>
										<ng-template #showtagswithoutpayment>
											<div style="flex:1;text-align:right">
												<a [routerLink]="['/user/payment/new']" [queryParams]="{ userId: service.uid, serviceId: service.serviceId }" style="color:#1B1B1B" matTooltip="Buy">{{ service.currency.toUpperCase() }} {{ service.amount.toFixed(2) }}</a>
											</div>
										</ng-template>
									</ng-container>
								</div>
							</ng-container>
						</div>
					</ng-container>
				</ng-template>
				<ng-template #noservices>
					<p style="flex:none;color:#999;font-size:90%">
						<i>No Services</i>
					</p>
				</ng-template>
			</ng-container>
		</div>
		<!-- paging -->
		<div *ngIf='prevKeys?.length || nextKey' style="flex:none;padding:5px;display:flex;flex-direction:row;justify-content:flex-end">		 
			<button class="btn" style="flex:none" (click)="onPrev()" *ngIf='prevKeys?.length'>Prev</button>
			<button class="btn" style="flex:none" (click)="onNext()" *ngIf='nextKey'>Next</button>
		</div>
	</form>
</div>