<loading-spinner *ngIf="loading | async"></loading-spinner>
<div *ngIf="!(loading | async)" style="height:100%;display:flex;flex-direction:column;overflow-x:hidden;overflow-y:auto;padding:10px 20px 10px 20px">
	<ng-container *ngIf="payment | async;let paymentItem">
		<div style="flex:none;display:flex;flex-direction:row;align-items:center">
			<h4 style="flex:none">Payment View</h4>
			<div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
				<back></back>
			</div>
		</div>
		<div style="flex:1">
			<!-- START OF USER DETAILS SECTION -->
			<form [formGroup]="paymentGroup" novalidate>
				<div class="alert alert-info" style="flex:none;display:flex;flex-direction:column;padding:10px;margin-bottom:10px">
					<div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
						<ng-container *ngIf="sellerDefaultServiceImage | async; then showsellerdefaultserviceimage"></ng-container>
						<ng-template #showsellerdefaultserviceimage>
							<ng-container *ngIf="sellerDefaultServiceImage | async;let image">
								<div style="flex:none;margin-right:10px">
									<ng-container *ngIf="image.url == '../../../assets/defaultThumbnail.jpg'; then noimage else showimage"></ng-container>
									<ng-template #showimage>
										<img *ngIf="paymentItem.sellerType == 'Private'" [src]="image.url" [routerLink]="['/user/service/detail']" [queryParams]='{ userId: paymentItem.sellerUid, serviceId: paymentItem.sellerServiceId }' style="cursor:pointer">
										<img *ngIf="paymentItem.sellerType == 'Public'" [src]="image.url" [routerLink]="['/service/detail']" [queryParams]='{ serviceId: paymentItem.sellerServiceId }' style="cursor:pointer">
									</ng-template>
									<ng-template #noimage>
										<img [src]="image.url">
									</ng-template>
								</div>
							</ng-container>
						</ng-template>
						<div style="flex:1;margin-right:5px">
							<p style="word-break: break-all">
								<a *ngIf="paymentItem.sellerType == 'Private'" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: paymentItem.sellerUid, serviceId: paymentItem.sellerServiceId }" style="color:#1B1B1B" matTooltip="{{ paymentItem.sellerTitle }}{{ paymentItem.sellerDescription.length > 0 ? (' - ' + paymentItem.sellerDescription | truncate: 80) : '' }}">{{ paymentItem.sellerTitle | noTitle | truncate: 35 }} <i *ngIf="paymentItem.sellerDescription.length > 0">- {{ paymentItem.sellerDescription | truncate: 80 }}</i></a>
								<a *ngIf="paymentItem.sellerType == 'Public'" [routerLink]="['/service/detail']" [queryParams]="{ serviceId: paymentItem.sellerServiceId }" style="color:#1B1B1B" matTooltip="{{ paymentItem.sellerTitle }}{{ paymentItem.sellerDescription.length > 0 ? (' - ' + paymentItem.sellerDescription | truncate: 80) : '' }}">{{ paymentItem.sellerTitle | noTitle | truncate: 35 }} <i *ngIf="paymentItem.sellerDescription.length > 0">- {{ paymentItem.sellerDescription | truncate: 80 }}</i></a>
							</p>
						</div>
						<div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
							<!-- other button controls -->							
							<div style="flex:none;margin-right:5px">
								<ng-container *ngIf="paymentItem.status == 'Pending'">
									<span style="padding:5px" class="label label-warning">Pending</span>
								</ng-container>
								<ng-container *ngIf="paymentItem.status == 'Success'">
									<span style="padding:5px" class="label label-success">Success</span>
								</ng-container>
								<ng-container *ngIf="paymentItem.status == 'Failed'">
									<span style="padding:5px" class="label label-danger">Failed</span>
								</ng-container>
							</div>
							<span style="padding:5px;margin-right:5px" class="label label-default" matTooltip="Payment Id">{{ paymentItem.paymentId }}</span>
							<div class="label label-default" matTooltip="{{ paymentItem.creationDate.toDate() | date: 'MMM d, y, h:mm:ss a' }}" style="flex:none;padding:5px">
								{{ paymentItem.creationDate.toDate() | amTimeAgo }}
							</div>
						</div>
					</div>
					<ng-container *ngIf="sellerServiceTags | async;let sellerServiceTagItems">
						<div style="flex:none;display:flex;flex-direction:row;align-items:center">
							<ng-container *ngIf="sellerServiceTagItems.length > 0; then showtags"></ng-container>
							<ng-template #showtags>
								<div style="flex:1;display:flex;flex-direction:row;margin-top:5px">
									<ng-container *ngFor="let serviceTag of sellerServiceTagItems">
										<span class="label label-info" style="flex:none;margin-right:5px;padding:5px">{{ serviceTag.tag }}</span>
									</ng-container>
								</div>
							</ng-template>
							<ng-container *ngIf="sellerServiceTagItems.length > 0; then showtagswithpayment else showtagswithoutpayment"></ng-container>
							<ng-template #showtagswithpayment>
								<div [ngClass]="paymentItem.buyerPaymentType == 'Free' ? 'alert alert-success' : 'alert alert-info'" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin-right:5px;flex-wrap:wrap">
									<ng-container *ngIf="buyerDefaultServiceImage | async; then showbuyerdefaultserviceimage"></ng-container>
									<ng-template #showbuyerdefaultserviceimage>
										<ng-container *ngIf="buyerDefaultServiceImage | async;let image">
											<div style="flex:none;margin-right:10px">
												<ng-container *ngIf="image.url == '../../../assets/defaultTiny.jpg'; then noimage else showimage"></ng-container>
												<ng-template #showimage>
													<img *ngIf="paymentItem.buyerType == 'Private'" [src]="image.url" [routerLink]="['/user/service/detail']" [queryParams]='{ userId: paymentItem.buyerUid, serviceId: paymentItem.buyerServiceId }' style="cursor:pointer">
													<img *ngIf="paymentItem.buyerType == 'Public'" [src]="image.url" [routerLink]="['/service/detail']" [queryParams]='{ serviceId: paymentItem.buyerServiceId }' style="cursor:pointer">
												</ng-template>
												<ng-template #noimage>
													<img [src]="image.url">
												</ng-template>
											</div>
										</ng-container>
									</ng-template>
									<div style="flex:1;margin-right:5px">
										<p style="word-break: break-all">
											<a *ngIf="paymentItem.buyerType == 'Private'" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: paymentItem.buyerUid, serviceId: paymentItem.buyerServiceId }" style="color:#1B1B1B" matTooltip="{{ paymentItem.buyerTitle }}{{ paymentItem.buyerDescription.length > 0 ? (' - ' + paymentItem.buyerDescription | truncate: 80) : '' }}">{{ paymentItem.buyerTitle | noTitle | truncate: 35 }} <i *ngIf="paymentItem.buyerDescription.length > 0">- {{ paymentItem.buyerDescription | truncate: 80 }}</i></a>
											<a *ngIf="paymentItem.buyerType == 'Public'" [routerLink]="['/service/detail']" [queryParams]="{ serviceId: paymentItem.buyerServiceId }" style="color:#1B1B1B" matTooltip="{{ paymentItem.buyerTitle }}{{ paymentItem.buyerDescription.length > 0 ? (' - ' + paymentItem.buyerDescription | truncate: 80) : '' }}">{{ paymentItem.buyerTitle | noTitle | truncate: 35 }} <i *ngIf="paymentItem.buyerDescription.length > 0">- {{ paymentItem.buyerDescription | truncate: 80 }}</i></a>
										</p>
									</div>
								</div>
							</ng-template>
							<ng-template #showtagswithoutpayment>
								<div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
									<div [ngClass]="paymentItem.buyerPaymentType == 'Free' ? 'alert alert-success' : 'alert alert-info'" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin:0 5px 0 0;flex-wrap:wrap">
										<ng-container *ngIf="buyerDefaultServiceImage | async; then showbuyerdefaultserviceimage"></ng-container>
										<ng-template #showbuyerdefaultserviceimage>
											<ng-container *ngIf="buyerDefaultServiceImage | async;let image">
												<div style="flex:none;margin-right:10px">
													<ng-container *ngIf="image.url == '../../../assets/defaultTiny.jpg'; then noimage else showimage"></ng-container>
													<ng-template #showimage>
														<img *ngIf="paymentItem.buyerType == 'Private'" [src]="image.url" [routerLink]="['/user/service/detail']" [queryParams]='{ userId: paymentItem.buyerUid, serviceId: paymentItem.buyerServiceId }' style="cursor:pointer">
														<img *ngIf="paymentItem.buyerType == 'Public'" [src]="image.url" [routerLink]="['/service/detail']" [queryParams]='{ serviceId: paymentItem.buyerServiceId }' style="cursor:pointer">
													</ng-template>
													<ng-template #noimage>
														<img [src]="image.url">
													</ng-template>
												</div>
											</ng-container>
										</ng-template>
										<div style="flex:1;margin-right:5px">
											<p style="word-break: break-all">
												<a *ngIf="paymentItem.buyerType == 'Private'" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: paymentItem.buyerUid, serviceId: paymentItem.buyerServiceId }" style="color:#1B1B1B" matTooltip="{{ paymentItem.buyerTitle }}{{ paymentItem.buyerDescription.length > 0 ? (' - ' + paymentItem.buyerDescription | truncate: 80) : '' }}">{{ paymentItem.buyerTitle | noTitle | truncate: 35 }} <i *ngIf="paymentItem.buyerDescription.length > 0">- {{ paymentItem.buyerDescription | truncate: 80 }}</i></a>
												<a *ngIf="paymentItem.buyerType == 'Public'" [routerLink]="['/service/detail']" [queryParams]="{ serviceId: paymentItem.buyerServiceId }" style="color:#1B1B1B" matTooltip="{{ paymentItem.buyerTitle }}{{ paymentItem.buyerDescription.length > 0 ? (' - ' + paymentItem.buyerDescription | truncate: 80) : '' }}">{{ paymentItem.buyerTitle | noTitle | truncate: 35 }} <i *ngIf="paymentItem.buyerDescription.length > 0">- {{ paymentItem.buyerDescription | truncate: 80 }}</i></a>
											</p>
										</div>
									</div>
								</div>
							</ng-template>
							<div style="flex:none;padding:5px;color:#1B1B1B">{{ paymentItem.currency.toUpperCase() }} {{ paymentItem.amount.toFixed(2) }}</div>
						</div>
					</ng-container>
				</div>
				<!-- user forums -->
				<ng-container *ngIf="userForums | async;let userForumItems">
					<ng-container *ngIf="userForumItems.length > 0; then showservices"></ng-container>
					<ng-template #showservices>
						<div style="flex:none;display:flex;flex-direction:row;justify-content:flex-end">
							<div style="flex:none">
								<mat-form-field>
									<mat-select #select="matSelect" (selectionChange)="addForum()" placeholder="Add to forum" [formControl]="userForumsCtrl" style="margin-top:5px">
										<mat-option *ngFor="let forum of userForumItems; trackBy: trackUserForums" [value]="forum" matTooltip="{{ forum.title }}">{{ forum.title | truncate: 35 }}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
					</ng-template>
					<div style="flex:none;display:flex;flex-direction:row;justify-content:flex-end;align-items:center;margin-bottom:5px">
						<a [routerLink]="['/user/forum/new']" [queryParams]='{ userId: paymentItem.sellerUid, serviceId: paymentItem.sellerServiceId }' style="flex:none;color:#1B1B1B;margin-right:5px">Create forum</a>
						<a [routerLink]="['/user/forum/new']" [queryParams]='{ userId: paymentItem.sellerUid, serviceId: paymentItem.sellerServiceId }' style="flex:none;color:#1B1B1B;text-decoration:none" class="material-icons" matTooltipPosition="left">keyboard_arrow_right</a>
					</div>
				</ng-container>
			</form>
		</div>
	</ng-container>
</div>