<footer>
  <div class="navbar navbar-inverse" style="margin:0px;display:flex;flex-direction:row;justify-content:center;align-items:center">
    <p style="flex:none;color:#fff">&copy; <span style="letter-spacing:0.5px">Eleutherios {{ date | date: 'yyyy' }}</span></p>
    <div style="flex:none;margin-left:10px">
      <a href="https://www.facebook.com/groups/2982366048442234/" style="color:#fff;cursor:pointer;font-size:0.9em" target="_blank">Help</a>
    </div>
    <div style="flex:none;margin-left:5px">
      <span style="color:rgba(189, 188, 188, 0.157)">|</span>
    </div>
    <div style="flex:none;margin-left:10px">
      <a [routerLink]="['/about']" style="flex:none;color:#fff;cursor:pointer;font-size:0.9em">About</a>
    </div>
    <div style="flex:none;margin-left:5px">
      <span style="color:rgba(189, 188, 188, 0.157)">|</span>
    </div>
    <div style="flex:none;margin-left:10px">
      <a [routerLink]="['/tos']" style="flex:none;color:#fff;cursor:pointer;font-size:0.9em">TOS</a>
    </div>
    <div style="flex:none;margin-left:5px">
      <span style="color:rgba(189, 188, 188, 0.157)">|</span>
    </div>
    <div style="flex:none;margin-left:10px">
      <a [routerLink]="['/privacy']" style="flex:none;color:#fff;cursor:pointer;font-size:0.9em">Privacy</a>
    </div>
    <div style="flex:none;margin-left:5px">
      <span style="color:rgba(189, 188, 188, 0.157)">|</span>
    </div>
    <div style="flex:none;margin-left:10px">
      <a [routerLink]="['/aup']" style="flex:none;color:#fff;cursor:pointer;font-size:0.9em">AUP</a>
    </div>
  </div>
</footer>