<loading-spinner *ngIf="loading | async"></loading-spinner>
<div *ngIf="!(loading | async)" style="height:100%;display:flex;flex-direction:column;overflow-x:hidden;overflow-y:auto;padding:10px 20px 10px 20px">
	<ng-container *ngIf="receipt | async;let receiptItem">
		<div style="flex:none;display:flex;flex-direction:row;align-items:center">
			<h4 style="flex:none">Receipt View</h4>
			<div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
				<back></back>
			</div>
		</div>
		<div style="flex:1">
			<!-- START OF USER DETAILS SECTION -->
			<form [formGroup]="receiptGroup" novalidate>
				<div [ngClass]="receiptGroup.get('buyerPaymentType').value == 'Free' ? 'alert alert-success' : receiptGroup.get('buyerPaymentType').value == 'Payment' ? 'alert alert-info' : 'alert alert-warning'" style="display:flex;flex-direction:column;padding:10px;margin-bottom:5px">
					<div style="flex:1;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
						<ng-container *ngIf="buyerDefaultServiceImage | async; then showbuyerdefaultserviceimage"></ng-container>
						<ng-template #showbuyerdefaultserviceimage>
							<ng-container *ngIf="buyerDefaultServiceImage | async;let image">
								<div style="flex:none;margin-right:10px">
									<ng-container *ngIf="image.url == '../../../assets/defaultThumbnail.jpg'; then noimage else showimage"></ng-container>
									<ng-template #showimage>
										<img *ngIf="receiptGroup.get('buyerPaymentType').value != 'No service'" [src]="image.url" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: receiptGroup.get('buyerUid').value, serviceId: receiptGroup.get('buyerServiceId').value }" style="cursor:pointer">
                    <img *ngIf="receiptGroup.get('buyerPaymentType').value == 'No service'" [src]="image.url">
									</ng-template>
									<ng-template #noimage>
										<img [src]="image.url">
									</ng-template>
								</div>
							</ng-container>
						</ng-template>
						<div style="flex:1;margin-right:5px">
							<p style="word-break: break-all">
                <a *ngIf="receiptGroup.get('buyerPaymentType').value != 'No service'" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: receiptGroup.get('buyerUid').value, serviceId: receiptGroup.get('buyerServiceId').value }" style="color:#1B1B1B" matTooltip="{{ receiptGroup.get('buyerTitle').value }}{{ receiptGroup.get('buyerDescription').value.length > 0 ? (' - ' + receiptGroup.get('buyerDescription').value | truncate: 80) : '' }}">{{ receiptGroup.get('buyerTitle').value | noTitle | truncate: 35 }} <i *ngIf="receiptGroup.get('buyerDescription').value.length > 0">- {{ receiptGroup.get('buyerDescription').value | truncate: 80 }}</i></a>
                <span *ngIf="receiptGroup.get('buyerPaymentType').value == 'No service'" style="color:#1B1B1B">{{ receiptGroup.get('buyerTitle').value }}</span>
							</p>
						</div>
						<div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
							<!-- other button controls -->
							<div style="flex:none;margin-right:5px">
								<ng-container *ngIf="receiptGroup.get('status').value == 'Pending'">
									<span style="padding:5px" class="label label-warning">Pending</span>
								</ng-container>
								<ng-container *ngIf="receiptGroup.get('status').value == 'Success'">
									<span style="padding:5px" class="label label-success">Success</span>
								</ng-container>
								<ng-container *ngIf="receiptGroup.get('status').value == 'Failed'">
									<span style="padding:5px" class="label label-danger">Failed</span>
								</ng-container>
							</div>
							<div style="flex:none;margin-right:5px"><span style="padding:5px" class="label label-default" matTooltip="Receipt Id">{{ receiptGroup.get('receiptId').value }}</span></div>
							<div class="label label-default" matTooltip="{{ receiptGroup.get('creationDate').value.toDate() | date: 'MMM d, y, h:mm:ss a' }}" style="flex:none;padding:5px">
								{{ receiptGroup.get('creationDate').value.toDate() | amTimeAgo }}
							</div>
						</div>
					</div>
					<ng-container *ngIf="buyerServiceTags | async;let buyerServiceTagItems">
						<div style="flex:1;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
							<ng-container *ngIf="buyerServiceTagItems.length > 0; then showtags"></ng-container>
							<ng-template #showtags>
								<div style="flex:1;display:flex;flex-direction:row">
									<ng-container *ngFor="let serviceTag of buyerServiceTagItems">
										<span class="label label-info" style="flex:none;margin-right:5px;padding:5px">{{ serviceTag.tag }}</span>
									</ng-container>
								</div>
							</ng-template>
							<ng-container *ngIf="buyerServiceTagItems.length > 0; then showtagswithreceipt else showtagswithoutreceipt"></ng-container>
							<ng-template #showtagswithreceipt>
								<div [ngClass]="receiptGroup.get('sellerPaymentType').value == 'Free' ? 'alert alert-success' : receiptGroup.get('sellerPaymentType').value == 'Payment' ? 'alert alert-info' : 'alert alert-warning'" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin:0 5px 0 0;flex-wrap:wrap">
									<ng-container *ngIf="sellerDefaultServiceImage | async; then showsellerdefaultserviceimage"></ng-container>
									<ng-template #showsellerdefaultserviceimage>
										<ng-container *ngIf="sellerDefaultServiceImage | async;let image">
											<div style="flex:none;margin-right:10px">
												<ng-container *ngIf="image.url == '../../../assets/defaultTiny.jpg'; then noimage else showimage"></ng-container>
												<ng-template #showimage>
													<img *ngIf="receiptGroup.get('sellerPaymentType').value != 'No service'" [src]="image.url" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: receiptGroup.get('sellerUid').value, serviceId: receiptGroup.get('sellerServiceId').value }" style="cursor:pointer">
                          <img *ngIf="receiptGroup.get('sellerPaymentType').value == 'No service'" [src]="image.url">
												</ng-template>
												<ng-template #noimage>
													<img [src]="image.url">
												</ng-template>
											</div>
										</ng-container>
									</ng-template>
									<div style="flex:1;margin-right:5px">
										<p style="word-break: break-all">
											<a *ngIf="receiptGroup.get('sellerPaymentType').value != 'No service'" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: receiptGroup.get('sellerUid').value, serviceId: receiptGroup.get('sellerServiceId').value }" style="color:#1B1B1B" matTooltip="{{ receiptGroup.get('sellerTitle').value }}{{ receiptGroup.get('sellerDescription').value.length > 0 ? (' - ' + receiptGroup.get('sellerDescription').value | truncate: 80) : '' }}">{{ receiptGroup.get('sellerTitle').value | noTitle | truncate: 35 }}</a>
                      <span *ngIf="receiptGroup.get('sellerPaymentType').value == 'No service'" style="color:#1B1B1B">{{ receiptGroup.get('sellerTitle').value }}</span>
										</p>
									</div>
								</div>
							</ng-template>
							<ng-template #showtagswithoutreceipt>
								<div style="flex:1;display:flex;flex-direction:row;align-items:center;justify-content:flex-end">
									<div [ngClass]="receiptGroup.get('sellerPaymentType').value == 'Free' ? 'alert alert-success' : receiptGroup.get('sellerPaymentType').value == 'Payment' ? 'alert alert-info' : 'alert alert-warning'" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin:0 5px 0 0;flex-wrap:wrap">
										<ng-container *ngIf="sellerDefaultServiceImage | async; then showsellerdefaultserviceimage"></ng-container>
										<ng-template #showsellerdefaultserviceimage>
											<ng-container *ngIf="sellerDefaultServiceImage | async;let image">
												<div style="flex:none;margin-right:10px">
													<ng-container *ngIf="image.url == '../../../assets/defaultTiny.jpg'; then noimage else showimage"></ng-container>
													<ng-template #showimage>
														<img *ngIf="receiptGroup.get('sellerPaymentType').value != 'No service'" [src]="image.url" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: receiptGroup.get('sellerUid').value, serviceId: receiptGroup.get('sellerServiceId').value }" style="cursor:pointer">
                            <img *ngIf="receiptGroup.get('sellerPaymentType').value == 'No service'" [src]="image.url">
													</ng-template>
													<ng-template #noimage>
														<img [src]="image.url">
													</ng-template>
												</div>
											</ng-container>
										</ng-template>
										<div style="flex:1;margin-right:5px">
											<p style="word-break: break-all">
												<a *ngIf="receiptGroup.get('sellerPaymentType').value != 'No service'" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: receiptGroup.get('sellerUid').value, serviceId: receiptGroup.get('sellerServiceId').value }" style="color:#1B1B1B" matTooltip="{{ receiptGroup.get('sellerTitle').value }}{{ receiptGroup.get('sellerDescription').value.length > 0 ? (' - ' + receiptGroup.get('sellerDescription').value | truncate: 80) : '' }}">{{ receiptGroup.get('sellerTitle').value | noTitle | truncate: 35 }}</a>
                        <span *ngIf="receiptGroup.get('sellerPaymentType').value == 'No service'" style="color:#1B1B1B">{{ receiptGroup.get('sellerTitle').value }}</span>
											</p>
										</div>
									</div>
								</div>
							</ng-template>
							<div style="flex:none;color:#1B1B1B">{{ receiptGroup.get('currency').value.toUpperCase() }} {{ receiptGroup.get('amount').value.toFixed(2) }}</div>
						</div>
					</ng-container>
				</div>
				<!-- user forums -->
				<ng-container *ngIf="userForums | async;let userForumItems">
					<ng-container *ngIf="userForumItems.length > 0; then showservices"></ng-container>
					<ng-template #showservices>
						<div style="display:flex;flex-direction:row;justify-content:flex-end">
							<div style="flex:none">
								<mat-form-field>
									<mat-select #select="matSelect" (selectionChange)="addForum()" placeholder="Add to forum" [formControl]="userForumsCtrl" style="margin-top:5px">
										<mat-option *ngFor="let forum of userForumItems; trackBy: trackUserForums" [value]="forum" matTooltip="{{ forum.title }}">{{ forum.title | truncate: 35 }}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
					</ng-template>
					<div style="display:flex;flex-direction:row;justify-content:flex-end;align-items:center;margin-bottom:5px">
						<a [routerLink]="['/user/forum/new']" [queryParams]="{ userId: receiptGroup.get('buyerUid').value, serviceId: receiptGroup.get('buyerServiceId').value }" style="flex:none;color:#1B1B1B;margin-right:5px">Create forum</a>
						<a [routerLink]="['/user/forum/new']" [queryParams]="{ userId: receiptGroup.get('buyerUid').value, serviceId: receiptGroup.get('buyerServiceId').value }" style="flex:none;color:#1B1B1B;text-decoration:none" class="material-icons" matTooltipPosition="left">keyboard_arrow_right</a>
					</div>
				</ng-container>
			</form>
		</div>
	</ng-container>
</div>
