<loading-spinner *ngIf="loading | async"></loading-spinner>
<div *ngIf="!(loading | async)" style="height:100%;display:flex;flex-direction:column;overflow-x:hidden;overflow-y:auto;padding:10px 20px 10px 20px">
	<ng-container *ngIf="receipt | async;let receiptItem">
		<div style="flex:none;display:flex;flex-direction:row;align-items:center">
			<h4 style="flex:none">Receipt View</h4>
			<div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
				<back></back>
			</div>
		</div>
		<div style="flex:1">
			<!-- START OF USER DETAILS SECTION -->
			<form [formGroup]="receiptGroup" novalidate>
				<div [ngClass]="receiptItem.buyerPaymentType == 'Free' ? 'alert alert-success' : 'alert alert-info'" style="flex:none;display:flex;flex-direction:column;padding:10px;margin-bottom:5px">
					<div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
						<ng-container *ngIf="buyerDefaultServiceImage | async; then showbuyerdefaultserviceimage"></ng-container>
						<ng-template #showbuyerdefaultserviceimage>
							<ng-container *ngIf="buyerDefaultServiceImage | async;let image">
								<div style="flex:none;margin-right:10px">
									<ng-container *ngIf="image.url == '../../../assets/defaultThumbnail.jpg'; then noimage else showimage"></ng-container>
									<ng-template #showimage>
										<img *ngIf="receiptItem.buyerType == 'Private'" [src]="image.url" [routerLink]="['/user/service/detail']" [queryParams]='{ userId: receiptItem.buyerUid, serviceId: receiptItem.buyerServiceId }' style="cursor:pointer">
										<img *ngIf="receiptItem.buyerType == 'Public'" [src]="image.url" [routerLink]="['/service/detail']" [queryParams]='{ serviceId: receiptItem.buyerServiceId }' style="cursor:pointer">
									</ng-template>
									<ng-template #noimage>
										<img [src]="image.url">
									</ng-template>
								</div>
							</ng-container>
						</ng-template>
						<div style="flex:1;margin-right:5px">
							<p style="word-break: break-all">
								<a *ngIf="receiptItem.buyerType == 'Private'" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: receiptItem.buyerUid, serviceId: receiptItem.buyerServiceId }" style="color:#1B1B1B" matTooltip="{{ receiptItem.buyerTitle }}{{ receiptItem.buyerDescription.length > 0 ? (' - ' + receiptItem.buyerDescription | truncate: 80) : '' }}">{{ receiptItem.buyerTitle | noTitle | truncate: 35 }} <i *ngIf="receiptItem.buyerDescription.length > 0">- {{ receiptItem.buyerDescription | truncate: 80 }}</i></a>
								<a *ngIf="receiptItem.buyerType == 'Public'" [routerLink]="['/service/detail']" [queryParams]="{ serviceId: receiptItem.buyerServiceId }" style="color:#1B1B1B" matTooltip="{{ receiptItem.buyerTitle }}{{ receiptItem.buyerDescription.length > 0 ? (' - ' + receiptItem.buyerDescription | truncate: 80) : '' }}">{{ receiptItem.buyerTitle | noTitle | truncate: 35 }} <i *ngIf="receiptItem.buyerDescription.length > 0">- {{ receiptItem.buyerDescription | truncate: 80 }}</i></a>
							</p>
						</div>
						<div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
							<!-- other button controls -->
							<div style="flex:none;margin-right:5px"><span style="padding:5px" class="label label-default" matTooltip="Receipt Id">{{ receiptItem.receiptId }}</span></div>
							<div style="flex:none;margin-right:5px">
								<ng-container *ngIf="receiptItem.status == 'Pending'">
									<span style="padding:5px" class="label label-warning">Pending</span>
								</ng-container>
								<ng-container *ngIf="receiptItem.status == 'Success'">
									<span style="padding:5px" class="label label-success">Success</span>
								</ng-container>
								<ng-container *ngIf="receiptItem.status == 'Failed'">
									<span style="padding:5px" class="label label-danger">Failed</span>
								</ng-container>
							</div>
							<div class="label label-default" matTooltip="{{ receiptItem.creationDate.toDate() | date: 'MMM d, y, h:mm:ss a' }}" style="flex:none;padding:5px">
								{{ receiptItem.creationDate.toDate() | amTimeAgo }}
							</div>
						</div>
					</div>
					<ng-container *ngIf="buyerServiceTags | async;let buyerServiceTagItems">
						<div style="flex:none;display:flex;flex-direction:row;align-items:center">
							<ng-container *ngIf="buyerServiceTagItems.length > 0; then showtags"></ng-container>
							<ng-template #showtags>
								<div style="flex:1;display:flex;flex-direction:row;margin-top:5px">
									<ng-container *ngFor="let serviceTag of buyerServiceTagItems">
										<span class="label label-info" style="flex:none;margin-right:5px;padding:5px">{{ serviceTag.tag }}</span>
									</ng-container>
								</div>
							</ng-template>
							<ng-container *ngIf="buyerServiceTagItems.length > 0; then showtagswithreceipt else showtagswithoutreceipt"></ng-container>
							<ng-template #showtagswithreceipt>
								<div [ngClass]="receiptItem.sellerPaymentType == 'Free' ? 'alert alert-success' : 'alert alert-info'" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin-right:5px;flex-wrap:wrap">
									<ng-container *ngIf="sellerDefaultServiceImage | async; then showsellerdefaultserviceimage"></ng-container>
									<ng-template #showsellerdefaultserviceimage>
										<ng-container *ngIf="sellerDefaultServiceImage | async;let image">
											<div style="flex:none;margin-right:10px">
												<ng-container *ngIf="image.url == '../../../assets/defaultTiny.jpg'; then noimage else showimage"></ng-container>
												<ng-template #showimage>
													<img *ngIf="receiptItem.sellerType == 'Private'" [src]="image.url" [routerLink]="['/user/service/detail']" [queryParams]='{ userId: receiptItem.sellerUid, serviceId: receiptItem.sellerServiceId }' style="cursor:pointer">
													<img *ngIf="receiptItem.sellerType == 'Public'" [src]="image.url" [routerLink]="['/service/detail']" [queryParams]='{ serviceId: receiptItem.sellerServiceId }' style="cursor:pointer">
												</ng-template>
												<ng-template #noimage>
													<img [src]="image.url">
												</ng-template>
											</div>
										</ng-container>
									</ng-template>
									<div style="flex:1;margin-right:5px">
										<p style="word-break: break-all">
											<a *ngIf="receiptItem.sellerType == 'Private'" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: receiptItem.sellerUid, serviceId: receiptItem.sellerServiceId }" style="color:#1B1B1B" matTooltip="{{ receiptItem.sellerTitle }}{{ receiptItem.sellerDescription.length > 0 ? (' - ' + receiptItem.sellerDescription | truncate: 80) : '' }}">{{ receiptItem.sellerTitle | noTitle | truncate: 35 }} <i *ngIf="receiptItem.sellerDescription.length > 0">- {{ receiptItem.sellerDescription | truncate: 80 }}</i></a>
											<a *ngIf="receiptItem.sellerType == 'Public'" [routerLink]="['/service/detail']" [queryParams]="{ serviceId: receiptItem.sellerServiceId }" style="color:#1B1B1B" matTooltip="{{ receiptItem.sellerTitle }}{{ receiptItem.sellerDescription.length > 0 ? (' - ' + receiptItem.sellerDescription | truncate: 80) : '' }}">{{ receiptItem.sellerTitle | noTitle | truncate: 35 }} <i *ngIf="receiptItem.sellerDescription.length > 0">- {{ receiptItem.sellerDescription | truncate: 80 }}</i></a>
										</p>
									</div>
								</div>
							</ng-template>
							<ng-template #showtagswithoutreceipt>
								<div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
									<div [ngClass]="receiptItem.sellerPaymentType == 'Free' ? 'alert alert-success' : 'alert alert-info'" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin:0 5px 0 0;flex-wrap:wrap">
										<ng-container *ngIf="sellerDefaultServiceImage | async; then showsellerdefaultserviceimage"></ng-container>
										<ng-template #showsellerdefaultserviceimage>
											<ng-container *ngIf="sellerDefaultServiceImage | async;let image">
												<div style="flex:none;margin-right:10px">
													<ng-container *ngIf="image.url == '../../../assets/defaultTiny.jpg'; then noimage else showimage"></ng-container>
													<ng-template #showimage>
														<img *ngIf="receiptItem.sellerType == 'Private'" [src]="image.url" [routerLink]="['/user/service/detail']" [queryParams]='{ userId: receiptItem.sellerUid, serviceId: receiptItem.sellerServiceId }' style="cursor:pointer">
														<img *ngIf="receiptItem.sellerType == 'Public'" [src]="image.url" [routerLink]="['/service/detail']" [queryParams]='{ serviceId: receiptItem.sellerServiceId }' style="cursor:pointer">
													</ng-template>
													<ng-template #noimage>
														<img [src]="image.url">
													</ng-template>
												</div>
											</ng-container>
										</ng-template>
										<div style="flex:1;margin-right:5px">
											<p style="word-break: break-all">
												<a *ngIf="receiptItem.sellerType == 'Private'" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: receiptItem.sellerUid, serviceId: receiptItem.sellerServiceId }" style="color:#1B1B1B" matTooltip="{{ receiptItem.sellerTitle }}{{ receiptItem.sellerDescription.length > 0 ? (' - ' + receiptItem.sellerDescription | truncate: 80) : '' }}">{{ receiptItem.sellerTitle | noTitle | truncate: 35 }} <i *ngIf="receiptItem.sellerDescription.length > 0">- {{ receiptItem.sellerDescription | truncate: 80 }}</i></a>
												<a *ngIf="receiptItem.sellerType == 'Public'" [routerLink]="['/service/detail']" [queryParams]="{ serviceId: receiptItem.sellerServiceId }" style="color:#1B1B1B" matTooltip="{{ receiptItem.sellerTitle }}{{ receiptItem.sellerDescription.length > 0 ? (' - ' + receiptItem.sellerDescription | truncate: 80) : '' }}">{{ receiptItem.sellerTitle | noTitle | truncate: 35 }} <i *ngIf="receiptItem.sellerDescription.length > 0">- {{ receiptItem.sellerDescription | truncate: 80 }}</i></a>
											</p>
										</div>
									</div>
								</div>
							</ng-template>
							<div style="flex:none;padding:5px;color:#1B1B1B">{{ receiptItem.currency.toUpperCase() }} {{ receiptItem.amount.toFixed(2) }}</div>
						</div>
					</ng-container>
				</div>
			</form>
		</div>
	</ng-container>
</div>