<div style="height:100%;display:flex;flex-direction:column;overflow-x:hidden;overflow-y:auto;padding:10px 20px 10px 20px">
  <div style="flex:none;display:flex;flex-direction:row;align-items:center">
    <h4 style="flex:none">Privacy Policy</h4>
    <div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
      <back></back>
    </div>
  </div>
  <div style="flex:1">
    <p style="margin-bottom:8px">This policy is effective from May 29th of 2021.</p>
    <p>This privacy policy sets out how Eleutherios uses and protects any information that you give Eleutherios when you use this website.
      Eleutherios is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.
      Eleutherios may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes.</p>
    <p style="font-weight:bold;margin-top:8px;margin-bottom:8px">What we collect</p>
    <p>- Name</p>
    <p>- Email address</p>
    <p style="font-weight:bold;margin-top:8px;margin-bottom:8px">What we don't collect</p>
    <p>- Credit card</p>
    <p>- Date of birth</p>
    <p>- Street address</p>
    <p style="font-weight:bold;margin-top:8px;margin-bottom:8px">What we do with the information</p>
    <p>We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:</p>
    <p>- Internal record keeping.</p>
    <p>- We may use the information to improve our products and services.</p>
    <p>- We may use the information to customize the website according to your interests.</p>
    <p style="font-weight:bold;margin-top:8px;margin-bottom:8px">Security</p>
    <p>We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>
    <p style="font-weight:bold;margin-top:8px;margin-bottom:8px">How we use cookies</p>
    <p>A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the file is added and the cookie helps analyze web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences. </p>
    <br />
    <p>Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us. </p>
    <br />
    <p>You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.</p>
    <p style="font-weight:bold;margin-top:8px;margin-bottom:8px">Links to other websites</p>
    <p>Our website may contain links to enable you to visit other websites of interest easily. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.</p>
    <br />
    <br />
  </div>
</div>
