<loading-spinner *ngIf="loading | async"></loading-spinner>
<ng-container *ngIf="service | async;let serviceItem">
	<div *ngIf="!(loading | async)" style="height:100%;display:flex;flex-direction:column;overflow:auto;padding:10px 20px 10px 20px">
		<form [formGroup]="serviceGroup" novalidate>
			<div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap;margin-bottom:10px">
        <div style="flex:none;display:flex;flex-direction:column;align-items:center;margin-right:10px">
          <ng-container *ngIf="defaultServiceImage | async; then showdefaultserviceimage"></ng-container>
          <ng-template #showdefaultserviceimage>
            <ng-container *ngIf="defaultServiceImage | async;let image">
              <div style="flex:none;margin-right:10px">
								<img [src]="image.smallDownloadUrl">
              </div>
            </ng-container>
          </ng-template>
        </div>
        <h4 style="flex:none" matTooltip="{{ serviceItem.title }}{{ serviceItem.description.length > 0 ? (' - ' + serviceItem.description | truncate: 80) : '' }}">{{ serviceItem.title }} <i>images(<ng-container *ngIf="imageCount | async as t"><ng-container [ngSwitch]="t"><ng-container *ngSwitchCase="-1">0</ng-container><ng-container *ngSwitchDefault>{{ t }}</ng-container></ng-container></ng-container>)</i></h4>
        <div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end;align-items:center">
          <back></back>
        </div>
      </div>
			<div style="flex:1">
				<div style="display:flex;flex-direction:row;margin-bottom:10px">
					<ng-container *ngIf="serviceTags | async;let serviceTagItems">
						<ng-container *ngIf="serviceTagItems.length > 0; else noservicetags">
							<div style="flex:1;display:flex;flex-direction:row;justify-content:flex-start;overflow-x:auto;margin-bottom:10px">
								<ng-container *ngFor="let serviceTag of serviceTagItems; trackBy: trackServiceTags">
									<span [ngClass]="serviceItem.paymentType == 'Free' ? 'label label-success' : 'label label-info'" style="flex:none;margin-right:5px;padding:5px">{{ serviceTag.tag }}</span>
								</ng-container>
							</div>
						</ng-container>
						<ng-template #noservicetags></ng-template>
					</ng-container>
				</div>
				<ng-container *ngIf="serviceImages | async;let serviceImageItems">
					<ng-container *ngIf="serviceImageItems.length > 0; then showserviceimages else noserviceimages"></ng-container>
					<ng-template #showserviceimages>
						<div style="display:flex;flex-direction:row;align-items:center;justify-content:center;margin-bottom:10px">
							<div style="flex:none">
								<mat-icon onclick="event.stopPropagation()" (click)="onPrev()" *ngIf='prevKeys?.length' style="cursor:pointer;color:#999" matTooltip="Previous">arrow_back_ios</mat-icon>
							</div>
							<div style="flex:none">
								<mat-icon onclick="event.stopPropagation()" (click)="onNext()" *ngIf='nextKey' style="cursor:pointer;color:#999" matTooltip="Next">arrow_forward_ios</mat-icon>
							</div>
						</div>
						<div style="display:flex;flex-direction:row;align-items:center;justify-content:center">
							<div *ngFor="let serviceImage of serviceImageItems; trackBy: trackServiceImages">
								<img [src]="serviceImage.largeDownloadUrl" matTooltip="{{ serviceImage.name }}">
							</div>
						</div>
					</ng-template>
					<ng-template #noserviceimages>
						<p style="color:#999;font-size:90%">
							<i style="animation:2s ease 0s normal forwards 1 fadein;-webkit-animation:2s ease 0s normal forwards 1 fadein;opacity:1">No Images</i>
						</p>
					</ng-template>
				</ng-container>
			</div>
		</form>
	</div>
</ng-container>
