<div style="display:flex;flex-direction:column;overflow-y:auto;padding:10px 20px 10px 20px">
	<!-- header -->
	<div style="flex:none;display:flex;flex-direction:row">
    <h4 style="flex:1">Tags(<ng-container *ngIf="total | async as t"><ng-container [ngSwitch]="t"><ng-container *ngSwitchCase="-1">0</ng-container><ng-container *ngSwitchDefault>{{ t }}</ng-container></ng-container></ng-container>)</h4>
    <back></back>
	</div>
	<!-- search results -->
	<loading-spinner *ngIf="loading | async"></loading-spinner>
	<div *ngIf="!(loading | async)" style="flex:1">
		<ng-container *ngIf="tags | async;let tagItems">
			<ng-container *ngIf="tagItems.length > 0; then showtags else notags"></ng-container>
			<ng-template #showtags>
				<ng-container *ngFor="let tag of tagItems; trackBy: trackTags">
					<div class="panel panel-default" style="display:flex;flex-direction:row;padding:10px;margin-bottom:5px;align-items:center">
						<p style="flex:1">{{ tag.tag }}</p>
						<div style="flex:none;margin-right:5px">
							<span class="btn btn-circle" style="Cursor:text !important; Text-Decoration: None !important;background-color:#f2dede" matTooltip="Forums">{{ tag.forumCount }}</span>
						</div>
						<div style="flex:none;margin-right:5px">
							<span class="btn btn-circle" style="Cursor:text !important; Text-Decoration: None !important;background-color:#d9edf7" matTooltip="Services">{{ tag.serviceCount }}</span>
						</div>
						<div style="flex:none;margin-right:5px">
							<span class="btn btn-circle" style="Cursor:text !important; Text-Decoration: None !important;background-color:#f1f1f1" matTooltip="Notifications">{{ tag.notificationCount }}</span>
						</div>
            <mat-icon onclick="event.stopPropagation()" (click)="delete(tag)" style="flex:none;margin-left:5px;cursor:pointer" matTooltipPosition="before" matTooltip="Delete">delete</mat-icon>
          </div>
				</ng-container>
			</ng-template>
			<ng-template #notags>
				<p style="color:#999;font-size:90%">
					<i>No Tags</i>
				</p>
			</ng-template>
		</ng-container>
	</div>
	<!-- paging -->
	<div *ngIf='prevKeys?.length || nextKey' style="flex:none;padding:5px;display:flex;flex-direction:row;justify-content:flex-end">		 
		<button class="btn" style="flex:none" (click)="onPrev()" *ngIf='prevKeys?.length'>Prev</button>
		<button class="btn" style="flex:none" (click)="onNext()" *ngIf='nextKey'>Next</button>
	</div>
</div>