@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/css-star-rating/css/star-rating.css";

html, body {
	height: 100%;
	margin: 0;
}

p {
	margin:0;
	padding:0;
}

.green-snackbar {
	background: #2E7D32;
	text-align:center;
}

.red-snackbar {
	background: rgb(195, 34, 34);
	text-align:center;
}

.btn-circle {
  width: 28px;
  height: 28px;
  text-align: center;
  padding: 5px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

a.linkColor { color:#faebd7 }
a.linkColor:hover { color:#faebd7 }
a.viewPageLinkyClass { color:#337ab7 }
a.viewPageLinkyClass:hover { color:#337ab7 }