<loading-spinner *ngIf="loading | async"></loading-spinner>
<div *ngIf="!(loading | async)" style="height:100%;display:flex;flex-direction:column;overflow-x:hidden;overflow-y:auto">
  <!-- public forums -->
  <div class="panel panel-default" style="flex:none;flex-grow:0;overflow-x:auto;display:flex;flex-direction:row;margin:15px 15px 10px 15px;padding:10px">
    <ng-container *ngIf="publicForums | async;let publicForumItems">
      <ng-container *ngIf="publicForumItems.length > 0; then showpublicforums else nopublicforums"></ng-container>
      <ng-template #showpublicforums>
        <ng-container *ngFor="let forum of publicForumItems; trackBy: trackPublicForums">
          <div class="alert alert-danger" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin:0 10px 0 0;flex-wrap:nowrap">
            <ng-container *ngIf="forum.defaultForumImage | async; then showpublicdefaultforumimage"></ng-container>
            <ng-template #showpublicdefaultforumimage>
              <ng-container *ngIf="forum.defaultForumImage | async;let image">
                <div style="flex:none;margin-right:5px">
                  <img [src]="image.url">
                </div>
              </ng-container>
            </ng-template>
            <div style="flex:1;margin-right:5px">
              <ng-container *ngIf="forum.defaultRegistrant | async; then showdefaultregistrant else nodefaultregistrant"></ng-container>
              <ng-template #showdefaultregistrant>
                <a [routerLink]="['/user/forum/view']" [queryParams]="{ userId: forum.uid, forumId: forum.forumId }" style="flex:none;color:#1B1B1B" matTooltip="{{ forum.title }}{{ forum.description.length > 0 ? (' - ' + forum.description | truncate: 80) : '' }}">{{ forum.title | truncate: 35 }}</a>
              </ng-template>
              <ng-template #nodefaultregistrant>
                <a [routerLink]="['/forum/detail']" [queryParams]="{ forumId: forum.forumId }" style="flex:none;color:#1B1B1B" matTooltip="{{ forum.title }}{{ forum.description.length > 0 ? (' - ' + forum.description | truncate: 80) : '' }}">{{ forum.title | truncate: 35 }}</a>
              </ng-template>
            </div>
            <div *ngIf="forum.uid == loggedInUserId" style="flex:none">
              <!-- other button controls -->
              <mat-icon onclick="event.stopPropagation()" (click)="deleteForum(forum)" style="flex:none;cursor:pointer;color:#1B1B1B" matTooltip="Delete">close</mat-icon>
            </div>
          </div>
        </ng-container>
      </ng-template>
      <ng-template #nopublicforums>
        <p style="flex:none;color:#999;font-size:90%">
          <i>No Forums</i>
        </p>
      </ng-template>
    </ng-container>
  </div>
  <!-- public services -->
  <div class="panel panel-default" style="flex:none;flex-grow:0;overflow-x:auto;display:flex;flex-direction:row;margin:0px 15px 10px 15px;padding:10px">
    <ng-container *ngIf="publicServices | async;let publicServiceItems">
      <ng-container *ngIf="publicServiceItems.length > 0; then showpublicservices else nopublicservices"></ng-container>
      <ng-template #showpublicservices>
        <ng-container *ngFor="let service of publicServiceItems; trackBy: trackPublicServices">
          <div [ngClass]="service.paymentType == 'Free' ? 'alert alert-success' : 'alert alert-info'" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin:0 5px 0 0;flex-wrap:nowrap">
            <ng-container *ngIf="service.defaultServiceImage | async; then showpublicdefaultserviceimage"></ng-container>
            <ng-template #showpublicdefaultserviceimage>
              <ng-container *ngIf="service.defaultServiceImage | async;let image">
                <div style="flex:none;margin-right:5px">
                  <img [src]="image.url">
                </div>
              </ng-container>
            </ng-template>
            <div style="flex:1;margin-right:5px">
              <a [routerLink]="['/service/detail']" [queryParams]="{ serviceId: service.serviceId }" style="flex:none;color:#1B1B1B" matTooltip="{{ service.title }}{{ service.description.length > 0 ? (' - ' + service.description | truncate: 80) : '' }}">{{ service.title | truncate: 35 }}</a>
            </div>
            <div *ngIf="service.uid == loggedInUserId" style="flex:none">
              <!-- other button controls -->
              <mat-icon onclick="event.stopPropagation()" (click)="deleteService(service)" style="cursor:pointer;flex:none;color:#1B1B1B" matTooltip="Delete">close</mat-icon>
            </div>
          </div>
        </ng-container>
      </ng-template>
      <ng-template #nopublicservices>
        <p style="flex:none;color:#999;font-size:90%">
          <i>No Services</i>
        </p>
      </ng-template>
    </ng-container>
  </div>
  <div style="flex:1;overflow-x:hidden;display:flex;flex-direction:column">
    <!-- receipts -->
    <div class="panel panel-default" style="flex:50%;flex-grow:1;overflow-x:hidden;display:flex;flex-direction:column;margin:0px 15px 10px 15px;padding:10px;overflow-y:scroll">
      <ng-container *ngIf="receipts | async;let receiptItems">
        <ng-container *ngIf="receiptItems.length > 0; then showreceipts else noreceipts"></ng-container>
        <ng-template #showreceipts>
          <ng-container *ngFor="let receipt of receiptItems; trackBy: trackReceipts">
            <div [ngClass]="receipt.buyerPaymentType == 'Free' ? 'alert alert-success' : receipt.buyerPaymentType == 'Payment' ? 'alert alert-info' : 'alert alert-warning'" style="flex:none;display:flex;flex-direction:column;padding:10px;margin-bottom:5px">
              <div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
                <ng-container *ngIf="receipt.buyerDefaultServiceImage | async; then showbuyerdefaultserviceimage"></ng-container>
                <ng-template #showbuyerdefaultserviceimage>
                  <ng-container *ngIf="receipt.buyerDefaultServiceImage | async;let image">
                    <div style="flex:none;margin-right:10px">
                      <ng-container *ngIf="image.url == '../../../assets/defaultThumbnail.jpg'; then noimage else showimage"></ng-container>
                      <ng-template #showimage>
                        <img *ngIf="receipt.buyerPaymentType != 'No service'" [src]="image.url" [routerLink]="['/user/service/detail']" [queryParams]='{ userId: receipt.buyerUid, receipt: receipt.buyerServiceId }' style="cursor:pointer">
                        <img *ngIf="receipt.buyerPaymentType == 'No service'" [src]="image.url">
                      </ng-template>
                      <ng-template #noimage>
                        <img [src]="image.url">
                      </ng-template>
                    </div>
                  </ng-container>
                </ng-template>
                <div style="flex:1;margin-right:5px">
                  <p style="word-break: break-all">
                    <a *ngIf="receipt.buyerPaymentType != 'No service'" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: receipt.buyerUid, serviceId: receipt.buyerServiceId }" style="color:#1B1B1B" matTooltip="{{ receipt.buyerTitle }}{{ receipt.buyerDescription.length > 0 ? (' - ' + receipt.buyerDescription | truncate: 80) : '' }}">{{ receipt.buyerTitle | noTitle | truncate: 35 }} <i *ngIf="receipt.buyerDescription.length > 0">- {{ receipt.buyerDescription | truncate: 80 }}</i></a>
                    <span *ngIf="receipt.buyerPaymentType == 'No service'" style="color:#1B1B1B">{{ receipt.buyerTitle }}</span>
                  </p>
                </div>
                <div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
                  <!-- other button controls -->
                  <div style="flex:none;margin-right:5px">
                    <ng-container *ngIf="receipt.status == 'Pending'">
                      <span style="padding:5px" class="label label-warning">Pending</span>
                    </ng-container>
                    <ng-container *ngIf="receipt.status == 'Success'">
                      <span style="padding:5px" class="label label-success">Success</span>
                    </ng-container>
                    <ng-container *ngIf="receipt.status == 'Failed'">
                      <span style="padding:5px" class="label label-danger">Failed</span>
                    </ng-container>
                  </div>
                  <span style="flex:none;padding:5px;margin-right:5px" class="label label-default" matTooltip="Receipt Id">{{ receipt.receiptId }}</span>
                  <div class="label label-default" matTooltip="{{ receipt.creationDate.toDate() | date: 'MMM d, y, h:mm:ss a' }}" style="flex:none;padding:5px;margin-right:5px">
                    {{ receipt.creationDate.toDate() | amTimeAgo }}
                  </div>
                  <mat-icon onclick="event.stopPropagation()" (click)="deleteReceipt(receipt)" style="flex:none;cursor:pointer;color:#1B1B1B" matTooltip="Delete">delete</mat-icon>
                  <mat-icon [routerLink]="['/user/receipt/view']" [queryParams]="{ receiptId: receipt.receiptId }" style="flex:none;color:#1B1B1B;cursor:pointer" matTooltip="View details">description</mat-icon>
                </div>
              </div>
              <ng-container *ngIf="receipt.buyerServiceTags | async;let buyerServiceTagItems">
                <div style="flex:none;display:flex;flex-direction:row;align-items:center">
                  <ng-container *ngIf="buyerServiceTagItems.length > 0; then showtags"></ng-container>
                  <ng-template #showtags>
                    <div style="flex:1;display:flex;flex-direction:row;margin-top:5px">
                      <ng-container *ngFor="let serviceTag of buyerServiceTagItems">
                        <span class="label label-info" style="flex:none;margin-right:5px;padding:5px">{{ serviceTag.tag }}</span>
                      </ng-container>
                    </div>
                  </ng-template>
                  <ng-container *ngIf="buyerServiceTagItems.length > 0; then showtagswithreceipt else showtagswithoutreceipt"></ng-container>
                  <ng-template #showtagswithreceipt>
                    <div [ngClass]="receipt.sellerPaymentType == 'Free' ? 'alert alert-success' : receipt.sellerPaymentType == 'Payment' ? 'alert alert-info' : 'alert alert-warning'" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin:0 5px 0 0;flex-wrap:wrap">
                      <ng-container *ngIf="receipt.sellerDefaultServiceImage | async; then showsellerdefaultserviceimage"></ng-container>
                      <ng-template #showsellerdefaultserviceimage>
                        <ng-container *ngIf="receipt.sellerDefaultServiceImage | async;let image">
                          <div style="flex:none;margin-right:10px">
                            <ng-container *ngIf="image.url == '../../../assets/defaultTiny.jpg'; then noimage else showimage"></ng-container>
                            <ng-template #showimage>
                              <img *ngIf="receipt.sellerPaymentType != 'No service'" [src]="image.url" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: receipt.sellerUid, serviceId: receipt.sellerServiceId }" style="cursor:pointer">
                              <img *ngIf="receipt.sellerPaymentType == 'No service'" [src]="image.url">
                            </ng-template>
                            <ng-template #noimage>
                              <img [src]="image.url">
                            </ng-template>
                          </div>
                        </ng-container>
                      </ng-template>
                      <div style="flex:1;margin-right:5px">
                        <p style="word-break: break-all">
                          <a *ngIf="receipt.sellerPaymentType != 'No service'" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: receipt.sellerUid, serviceId: receipt.sellerServiceId }" style="color:#1B1B1B" matTooltip="{{ receipt.sellerTitle }}{{ receipt.sellerDescription.length > 0 ? (' - ' + receipt.sellerDescription | truncate: 80) : '' }}">{{ receipt.sellerTitle | noTitle | truncate: 35 }}</a>
                          <span *ngIf="receipt.sellerPaymentType == 'No service'" style="color:#1B1B1B">{{ receipt.sellerTitle }}</span>
                        </p>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template #showtagswithoutreceipt>
                    <div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
                      <div [ngClass]="receipt.sellerPaymentType == 'Free' ? 'alert alert-success' : receipt.sellerPaymentType == 'Payment' ? 'alert alert-info' : 'alert alert-warning'" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin:0 5px 0 0;flex-wrap:wrap">
                        <ng-container *ngIf="receipt.sellerDefaultServiceImage | async; then showsellerdefaultserviceimage"></ng-container>
                        <ng-template #showsellerdefaultserviceimage>
                          <ng-container *ngIf="receipt.sellerDefaultServiceImage | async;let image">
                            <div style="flex:none;margin-right:10px">
                              <ng-container *ngIf="image.url == '../../../assets/defaultTiny.jpg'; then noimage else showimage"></ng-container>
                              <ng-template #showimage>
                                <img *ngIf="receipt.sellerPaymentType != 'No service'" [src]="image.url" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: receipt.sellerUid, serviceId: receipt.sellerServiceId }" style="cursor:pointer">
                                <img *ngIf="receipt.sellerPaymentType == 'No service'" [src]="image.url">
                              </ng-template>
                              <ng-template #noimage>
                                <img [src]="image.url">
                              </ng-template>
                            </div>
                          </ng-container>
                        </ng-template>
                        <div style="flex:1;margin-right:5px">
                          <p style="word-break: break-all">
                            <!-- here rob do this throughout -->


                            <a *ngIf="receipt.sellerPaymentType != 'No service'" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: receipt.sellerUid, serviceId: receipt.sellerServiceId }" style="color:#1B1B1B" matTooltip="{{ receipt.sellerTitle }}{{ receipt.sellerDescription.length > 0 ? (' - ' + receipt.sellerDescription | truncate: 80) : '' }}">{{ receipt.sellerTitle | noTitle | truncate: 35 }}</a>
                            <span *ngIf="receipt.sellerPaymentType == 'No service'" style="color:#1B1B1B">{{ receipt.sellerTitle }}</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <div style="flex:none;padding:5px;color:#1B1B1B">{{ receipt.currency.toUpperCase() }} {{ receipt.amount.toFixed(2) }}</div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </ng-template>
        <ng-template #noreceipts>
          <p style="flex:none;color:#999;font-size:90%">
            <i>No Receipts</i>
          </p>
        </ng-template>
      </ng-container>
    </div>
    <!-- payments -->
    <div class="panel panel-default" style="flex:50%;flex-grow:1;overflow-x:hidden;display:flex;flex-direction:column;margin:0px 15px 10px 15px;padding:10px;overflow-y:scroll">
      <ng-container *ngIf="payments | async;let paymentItems">
        <ng-container *ngIf="paymentItems.length > 0; then showpayments else nopayments"></ng-container>
        <ng-template #showpayments>
          <ng-container *ngFor="let payment of paymentItems; trackBy: trackPayments">
            <div [ngClass]="payment.sellerPaymentType == 'Free' ? 'alert alert-success' : payment.sellerPaymentType == 'Payment' ? 'alert alert-info' : 'alert alert-warning'"style="flex:none;display:flex;flex-direction:column;padding:10px;margin-bottom:5px">
              <div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
                <ng-container *ngIf="payment.sellerDefaultServiceImage | async; then showsellerdefaultserviceimage"></ng-container>
                <ng-template #showsellerdefaultserviceimage>
                  <ng-container *ngIf="payment.sellerDefaultServiceImage | async;let image">
                    <div style="flex:none;margin-right:10px">
                      <ng-container *ngIf="image.url == '../../../assets/defaultThumbnail.jpg'; then noimage else showimage"></ng-container>
                      <ng-template #showimage>
                        <img *ngIf="payment.sellerPaymentType != 'No service'" [src]="image.url" [routerLink]="['/user/service/detail']" [queryParams]='{ userId: payment.sellerUid, serviceId: payment.sellerServiceId }' style="cursor:pointer">
                        <img *ngIf="payment.sellerPaymentType == 'No service'" [src]="image.url">
                      </ng-template>
                      <ng-template #noimage>
                        <img [src]="image.url">
                      </ng-template>
                    </div>
                  </ng-container>
                </ng-template>
                <div style="flex:1;margin-right:5px">
                  <p style="word-break: break-all">
                    <a *ngIf="payment.sellerPaymentType != 'No service'" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: payment.sellerUid, serviceId: payment.sellerServiceId }" style="color:#1B1B1B" matTooltip="{{ payment.sellerTitle }}{{ payment.sellerDescription.length > 0 ? (' - ' + payment.sellerDescription | truncate: 80) : '' }}">{{ payment.sellerTitle | noTitle | truncate: 35 }} <i *ngIf="payment.sellerDescription.length > 0">- {{ payment.sellerDescription | truncate: 80 }}</i></a>
                    <span *ngIf="payment.sellerPaymentType == 'No service'" style="color:#1B1B1B">{{ payment.sellerTitle }}</span>
                  </p>
                </div>
                <div style="flex:none;display:flex;flex-direction:row;align-items:center;flex-wrap:wrap">
                  <!-- other button controls -->
                  <div style="flex:none;margin-right:5px">
                    <ng-container *ngIf="payment.status == 'Pending'">
                      <span style="padding:5px" class="label label-warning">Pending</span>
                    </ng-container>
                    <ng-container *ngIf="payment.status == 'Success'">
                      <span style="padding:5px" class="label label-success">Success</span>
                    </ng-container>
                    <ng-container *ngIf="payment.status == 'Failed'">
                      <span style="padding:5px" class="label label-danger">Failed</span>
                    </ng-container>
                  </div>
                  <span style="padding:5px;margin-right:5px" class="label label-default" matTooltip="Payment Id">{{ payment.paymentId }}</span>
                  <div class="label label-default" matTooltip="{{ payment.creationDate.toDate() | date: 'MMM d, y, h:mm:ss a' }}" style="flex:none;padding:5px;margin-right:5px">
                    {{ payment.creationDate.toDate() | amTimeAgo }}
                  </div>
                  <mat-icon onclick="event.stopPropagation()" (click)="deletePayment(payment)" style="flex:none;cursor:pointer;color:#1B1B1B" matTooltip="Delete">delete</mat-icon>
                  <mat-icon [routerLink]="['/user/payment/view']" [queryParams]="{ paymentId: payment.paymentId }" style="flex:none;color:#1B1B1B;cursor:pointer" matTooltip="View details">description</mat-icon>
                </div>
              </div>
              <ng-container *ngIf="payment.sellerServiceTags | async;let sellerServiceTagItems">
                <div style="flex:none;display:flex;flex-direction:row;align-items:center">
                  <ng-container *ngIf="sellerServiceTagItems.length > 0; then showtags"></ng-container>
                  <ng-template #showtags>
                    <div style="flex:1;display:flex;flex-direction:row">
                      <ng-container *ngFor="let serviceTag of sellerServiceTagItems">
                        <span class="label label-info" style="flex:none;margin-right:5px;padding:5px">{{ serviceTag.tag }}</span>
                      </ng-container>
                    </div>
                  </ng-template>
                  <ng-container *ngIf="sellerServiceTagItems.length > 0; then showtagswithpayment else showtagswithoutpayment"></ng-container>
                  <ng-template #showtagswithpayment>
                    <div [ngClass]="payment.buyerPaymentType == 'Free' ? 'alert alert-success' : payment.buyerPaymentType == 'Payment' ? 'alert alert-info' : 'alert alert-warning'" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin:0 5px 0 0;flex-wrap:wrap">
                      <ng-container *ngIf="payment.buyerDefaultServiceImage | async; then showbuyerdefaultserviceimage"></ng-container>
                      <ng-template #showbuyerdefaultserviceimage>
                        <ng-container *ngIf="payment.buyerDefaultServiceImage | async;let image">
                          <div style="flex:none;margin-right:10px">
                            <ng-container *ngIf="image.url == '../../../assets/defaultTiny.jpg'; then noimage else showimage"></ng-container>
                            <ng-template #showimage>
                              <img *ngIf="payment.buyerPaymentType != 'No service'" [src]="image.url" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: payment.buyerUid, serviceId: payment.buyerServiceId }" style="cursor:pointer">
                              <img *ngIf="payment.buyerPaymentType == 'No service'" [src]="image.url">
                            </ng-template>
                            <ng-template #noimage>
                              <img [src]="image.url">
                            </ng-template>
                          </div>
                        </ng-container>
                      </ng-template>
                      <div style="flex:1;margin-right:5px">
                        <p style="word-break: break-all">
                          <a *ngIf="payment.buyerPaymentType != 'No service'" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: payment.buyerUid, serviceId: payment.buyerServiceId }" style="color:#1B1B1B" matTooltip="{{ payment.buyerTitle }}{{ payment.buyerDescription.length > 0 ? (' - ' + payment.buyerDescription | truncate: 80) : '' }}">{{ payment.buyerTitle | noTitle | truncate: 35 }}</a>
                          <span *ngIf="payment.buyerPaymentType == 'No service'" style="color:#1B1B1B">{{ payment.buyerTitle }}</span>
                        </p>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template #showtagswithoutpayment>
                    <div style="flex:1;display:flex;flex-direction:row;justify-content:flex-end">
                      <div [ngClass]="payment.buyerPaymentType == 'Free' ? 'alert alert-success' : payment.buyerPaymentType == 'Payment' ? 'alert alert-info' : 'alert alert-warning'" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin:0 5px 0 0;flex-wrap:wrap">
                        <ng-container *ngIf="payment.buyerDefaultServiceImage | async; then showbuyerdefaultserviceimage"></ng-container>
                        <ng-template #showbuyerdefaultserviceimage>
                          <ng-container *ngIf="payment.buyerDefaultServiceImage | async;let image">
                            <div style="flex:none;margin-right:10px">
                              <ng-container *ngIf="image.url == '../../../assets/defaultTiny.jpg'; then noimage else showimage"></ng-container>
                              <ng-template #showimage>
                                <img *ngIf="payment.buyerPaymentType != 'No service'" [src]="image.url" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: payment.buyerUid, serviceId: payment.buyerServiceId }" style="cursor:pointer">
                                <img *ngIf="payment.buyerPaymentType == 'No service'" [src]="image.url">
                              </ng-template>
                              <ng-template #noimage>
                                <img [src]="image.url">
                              </ng-template>
                            </div>
                          </ng-container>
                        </ng-template>
                        <div style="flex:1;margin-right:5px">
                          <p style="word-break: break-all">
                            <a *ngIf="payment.buyerPaymentType != 'No service'" [routerLink]="['/user/service/detail']" [queryParams]="{ userId: payment.buyerUid, serviceId: payment.buyerServiceId }" style="color:#1B1B1B" matTooltip="{{ payment.buyerTitle }}{{ payment.buyerDescription.length > 0 ? (' - ' + payment.buyerDescription | truncate: 80) : '' }}">{{ payment.buyerTitle | noTitle | truncate: 35 }}</a>
                            <span *ngIf="payment.buyerPaymentType == 'No service'" style="color:#1B1B1B">{{ payment.buyerTitle }}</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <div style="flex:none;padding:5px;color:#1B1B1B">{{ payment.currency.toUpperCase() }} {{ payment.amount.toFixed(2) }}</div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </ng-template>
        <ng-template #nopayments>
          <p style="flex:none;color:#999;font-size:90%">
            <i>No Payments</i>
          </p>
        </ng-template>
      </ng-container>
    </div>
  </div>
  <!-- private forums -->
  <div class="panel panel-default" style="flex:none;flex-grow:0;overflow-x:auto;display:flex;flex-direction:row;margin:0px 15px 10px 15px;padding:10px">
    <ng-container *ngIf="privateForums | async;let privateForumItems">
      <ng-container *ngIf="privateForumItems.length > 0; then showprivateforums else noprivateforums"></ng-container>
      <ng-template #showprivateforums>
        <ng-container *ngFor="let forum of privateForumItems; trackBy: trackPrivateForums">
          <div class="alert alert-danger" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin:0 10px 0 0;flex-wrap:nowrap">
            <ng-container *ngIf="forum.defaultForumImage | async; then showprivatedefaultforumimage"></ng-container>
            <ng-template #showprivatedefaultforumimage>
              <ng-container *ngIf="forum.defaultForumImage | async;let image">
                <div style="flex:none;margin-right:5px">
                  <img [src]="image.url">
                </div>
              </ng-container>
            </ng-template>
            <div style="flex:1;margin-right:5px">
              <ng-container *ngIf="forum.defaultRegistrant | async; then showdefaultregistrant else nodefaultregistrant"></ng-container>
              <ng-template #showdefaultregistrant>
                <a [routerLink]="['/user/forum/view']" [queryParams]="{ userId: forum.uid, forumId: forum.forumId }" style="flex:none;color:#1B1B1B" matTooltip="{{ forum.title }}{{ forum.description.length > 0 ? (' - ' + forum.description | truncate: 80) : '' }}">{{ forum.title | noTitle | truncate: 35 }}</a>
              </ng-template>
              <ng-template #nodefaultregistrant>
                <a [routerLink]="['/user/forum/detail']" [queryParams]="{ userId: forum.uid, forumId: forum.forumId }" style="flex:none;color:#1B1B1B" matTooltip="{{ forum.title }}{{ forum.description.length > 0 ? (' - ' + forum.description | truncate: 80) : '' }}">{{ forum.title | noTitle | truncate: 35 }}</a>
              </ng-template>
            </div>
            <div style="flex:none">
              <!-- other button controls -->
              <ng-container *ngIf="forum.type == 'Public'; then showpublicforumtype else showprivateforumtype"></ng-container>
              <ng-template #showpublicforumtype>
                <mat-icon onclick="event.stopPropagation()" (click)="changeForumType(forum)" style="cursor:pointer;color:#1B1B1B" matTooltip="Public">lock_open</mat-icon>
              </ng-template>
              <ng-template #showprivateforumtype>
                <mat-icon onclick="event.stopPropagation()" (click)="changeForumType(forum)" style="cursor:pointer;color:#1B1B1B" matTooltip="Private">lock</mat-icon>
              </ng-template>
              <mat-icon onclick="event.stopPropagation()" (click)="deleteForum(forum)" style="cursor:pointer;color:#1B1B1B" matTooltip="Delete">close</mat-icon>
            </div>
          </div>
        </ng-container>
      </ng-template>
      <ng-template #noprivateforums>
        <p style="flex:none;color:#999;font-size:90%">
          <i>No Forums</i>
        </p>
      </ng-template>
    </ng-container>
  </div>
  <!-- private services -->
  <div class="panel panel-default" style="flex:none;flex-grow:0;overflow-x:auto;display:flex;flex-direction:row;margin:0px 15px 20px 15px;padding:10px">
    <ng-container *ngIf="privateServices | async;let privateServiceItems">
      <ng-container *ngIf="privateServiceItems.length > 0; then showprivateservices else noprivateservices"></ng-container>
      <ng-template #showprivateservices>
        <ng-container *ngFor="let service of privateServiceItems; trackBy: trackPrivateServices">
          <div [ngClass]="service.paymentType == 'Free' ? 'alert alert-success' : 'alert alert-info'" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin:0 10px 0 0;flex-wrap:nowrap">
            <ng-container *ngIf="service.defaultServiceImage | async; then showprivatedefaultserviceimage"></ng-container>
            <ng-template #showprivatedefaultserviceimage>
              <ng-container *ngIf="service.defaultServiceImage | async;let image">
                <div style="flex:none;margin-right:5px">
                  <img [src]="image.url">
                </div>
              </ng-container>
            </ng-template>
            <div style="flex:1;margin-right:5px">
              <a [routerLink]="['/user/service/detail']" [queryParams]="{ userId: service.uid, serviceId: service.serviceId }" style="flex:none;color:#1B1B1B" matTooltip="{{ service.title }}{{ service.description.length > 0 ? (' - ' + service.description | truncate: 80) : '' }}">{{ service.title | noTitle | truncate: 35 }}</a>
            </div>
            <div style="flex:none">
              <!-- other button controls -->
              <ng-container *ngIf="service.type == 'Public'; then showpublicservicetype else showprivateservicetype"></ng-container>
              <ng-template #showpublicservicetype>
                <mat-icon onclick="event.stopPropagation()" (click)="changeServiceType(service)" style="cursor:pointer;color:#1B1B1B" matTooltip="Public">lock_open</mat-icon>
              </ng-template>
              <ng-template #showprivateservicetype>
                <mat-icon onclick="event.stopPropagation()" (click)="changeServiceType(service)" style="cursor:pointer;color:#1B1B1B" matTooltip="Private">lock</mat-icon>
              </ng-template>
              <mat-icon onclick="event.stopPropagation()" (click)="deleteService(service)" style="cursor:pointer;color:#1B1B1B" matTooltip="Delete">close</mat-icon>
            </div>
          </div>
        </ng-container>
      </ng-template>
      <ng-template #noprivateservices>
        <p style="flex:none;color:#999;font-size:90%">
          <i>No Services</i>
        </p>
      </ng-template>
    </ng-container>
  </div>
</div>
