<loading-spinner *ngIf="loading | async"></loading-spinner>
<div *ngIf="!(loading | async)" style="height:100%;display:flex;flex-direction:column;overflow-x:hidden;overflow-y:auto">
  <!-- public forums -->
  <div class="panel panel-default" style="flex:none;flex-grow:0;overflow-x:auto;display:flex;flex-direction:row;margin:15px 15px 10px 15px;padding:10px">
    <ng-container *ngIf="publicForums | async;let publicForumItems">
      <ng-container *ngIf="publicForumItems.length > 0; then showpublicforums else nopublicforums"></ng-container>
      <ng-template #showpublicforums>
        <ng-container *ngFor="let forum of publicForumItems; trackBy: trackPublicForums">
          <div class="alert alert-danger" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin:0 10px 0 0;flex-wrap:nowrap">
            <ng-container *ngIf="forum.defaultForumImage | async; then showpublicdefaultforumimage"></ng-container>
            <ng-template #showpublicdefaultforumimage>
              <ng-container *ngIf="forum.defaultForumImage | async;let image">
                <div style="flex:none;margin-right:5px">
                  <img [src]="image.url">
                </div>
              </ng-container>
            </ng-template>
            <div style="flex:1;margin-right:5px">
              <ng-container *ngIf="forum.defaultRegistrant | async; then showdefaultregistrant else nodefaultregistrant"></ng-container>
              <ng-template #showdefaultregistrant>
                <a [routerLink]="['/user/forum/view']" [queryParams]="{ userId: forum.uid, forumId: forum.forumId }" style="flex:none;color:#1B1B1B" matTooltip="{{ forum.title }}{{ forum.description.length > 0 ? (' - ' + forum.description | truncate: 80) : '' }}">{{ forum.title | truncate: 35 }}</a>
              </ng-template>
              <ng-template #nodefaultregistrant>
                <a [routerLink]="['/forum/detail']" [queryParams]="{ forumId: forum.forumId }" style="flex:none;color:#1B1B1B" matTooltip="{{ forum.title }}{{ forum.description.length > 0 ? (' - ' + forum.description | truncate: 80) : '' }}">{{ forum.title | truncate: 35 }}</a>
              </ng-template>
            </div>
            <div *ngIf="forum.uid == auth.uid" style="flex:none">
              <!-- other button controls -->
              <mat-icon onclick="event.stopPropagation()" (click)="deleteForum(forum)" style="flex:none;cursor:pointer;color:#1B1B1B" matTooltip="Delete">close</mat-icon>
            </div>
          </div>
        </ng-container>
      </ng-template>
      <ng-template #nopublicforums>
        <p style="flex:none;color:#999;font-size:90%">
          <i>No Forums</i>
        </p>
      </ng-template>
    </ng-container>
  </div>
  <!-- public services -->
  <div class="panel panel-default" style="flex:none;flex-grow:0;overflow-x:auto;display:flex;flex-direction:row;margin:0px 15px 10px 15px;padding:10px">
    <ng-container *ngIf="publicServices | async;let publicServiceItems">
      <ng-container *ngIf="publicServiceItems.length > 0; then showpublicservices else nopublicservices"></ng-container>
      <ng-template #showpublicservices>
        <ng-container *ngFor="let service of publicServiceItems; trackBy: trackPublicServices">
          <div [ngClass]="service.paymentType == 'Free' ? 'alert alert-success' : 'alert alert-info'" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin:0 5px 0 0;flex-wrap:nowrap">
            <ng-container *ngIf="service.defaultServiceImage | async; then showpublicdefaultserviceimage"></ng-container>
            <ng-template #showpublicdefaultserviceimage>
              <ng-container *ngIf="service.defaultServiceImage | async;let image">
                <div style="flex:none;margin-right:5px">
                  <img [src]="image.url">
                </div>
              </ng-container>
            </ng-template>
            <div style="flex:1;margin-right:5px">
              <a [routerLink]="['/service/detail']" [queryParams]="{ serviceId: service.serviceId }" style="flex:none;color:#1B1B1B" matTooltip="{{ service.title }}{{ service.description.length > 0 ? (' - ' + service.description | truncate: 80) : '' }}">{{ service.title | truncate: 35 }}</a>
            </div>
            <div *ngIf="service.uid == auth.uid" style="flex:none">
              <!-- other button controls -->
              <mat-icon onclick="event.stopPropagation()" (click)="deleteService(service)" style="cursor:pointer;flex:none;color:#1B1B1B" matTooltip="Delete">close</mat-icon>
            </div>
          </div>
        </ng-container>
      </ng-template>
      <ng-template #nopublicservices>
        <p style="flex:none;color:#999;font-size:90%">
          <i>No Services</i>
        </p>
      </ng-template>
    </ng-container>
  </div>
  <!-- alerts -->
  <div class="panel panel-default" style="flex:1;flex-grow:1;overflow-x:hidden;display:flex;flex-direction:column;margin:0px 15px 10px 15px;padding:10px;overflow-y:scroll">
    <p style="flex:none;color:#999;font-size:90%">
      <i>To be completed</i>
    </p>
  </div>
  <!-- private forums -->
  <div class="panel panel-default" style="flex:none;flex-grow:0;overflow-x:auto;display:flex;flex-direction:row;margin:0px 15px 10px 15px;padding:10px">
    <ng-container *ngIf="privateForums | async;let privateForumItems">
      <ng-container *ngIf="privateForumItems.length > 0; then showprivateforums else noprivateforums"></ng-container>
      <ng-template #showprivateforums>
        <ng-container *ngFor="let forum of privateForumItems; trackBy: trackPrivateForums">
          <div class="alert alert-danger" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin:0 10px 0 0;flex-wrap:nowrap">
            <ng-container *ngIf="forum.defaultForumImage | async; then showprivatedefaultforumimage"></ng-container>
            <ng-template #showprivatedefaultforumimage>
              <ng-container *ngIf="forum.defaultForumImage | async;let image">
                <div style="flex:none;margin-right:5px">
                  <img [src]="image.url">
                </div>
              </ng-container>
            </ng-template>
            <div style="flex:1;margin-right:5px">
              <ng-container *ngIf="forum.defaultRegistrant | async; then showdefaultregistrant else nodefaultregistrant"></ng-container>
              <ng-template #showdefaultregistrant>
                <a [routerLink]="['/user/forum/view']" [queryParams]="{ userId: forum.uid, forumId: forum.forumId }" style="flex:none;color:#1B1B1B" matTooltip="{{ forum.title }}{{ forum.description.length > 0 ? (' - ' + forum.description | truncate: 80) : '' }}">{{ forum.title | noTitle | truncate: 35 }}</a>
              </ng-template>
              <ng-template #nodefaultregistrant>
                <a [routerLink]="['/user/forum/detail']" [queryParams]="{ userId: forum.uid, forumId: forum.forumId }" style="flex:none;color:#1B1B1B" matTooltip="{{ forum.title }}{{ forum.description.length > 0 ? (' - ' + forum.description | truncate: 80) : '' }}">{{ forum.title | noTitle | truncate: 35 }}</a>
              </ng-template>
            </div>
            <div style="flex:none">
              <!-- other button controls -->
              <ng-container *ngIf="forum.type == 'Public'; then showpublicforumtype else showprivateforumtype"></ng-container>
              <ng-template #showpublicforumtype>
                <mat-icon onclick="event.stopPropagation()" (click)="changeForumType(forum)" style="cursor:pointer;color:#1B1B1B" matTooltip="Public">lock_open</mat-icon>
              </ng-template>
              <ng-template #showprivateforumtype>
                <mat-icon onclick="event.stopPropagation()" (click)="changeForumType(forum)" style="cursor:pointer;color:#1B1B1B" matTooltip="Private">lock</mat-icon>
              </ng-template>
              <mat-icon onclick="event.stopPropagation()" (click)="deleteForum(forum)" style="cursor:pointer;color:#1B1B1B" matTooltip="Delete">close</mat-icon>
            </div>
          </div>
        </ng-container>
      </ng-template>
      <ng-template #noprivateforums>
        <p style="flex:none;color:#999;font-size:90%">
          <i>No Forums</i>
        </p>
      </ng-template>
    </ng-container>
  </div>
  <!-- private services -->
  <div class="panel panel-default" style="flex:none;flex-grow:0;overflow-x:auto;display:flex;flex-direction:row;margin:0px 15px 20px 15px;padding:10px">
    <ng-container *ngIf="privateServices | async;let privateServiceItems">
      <ng-container *ngIf="privateServiceItems.length > 0; then showprivateservices else noprivateservices"></ng-container>
      <ng-template #showprivateservices>
        <ng-container *ngFor="let service of privateServiceItems; trackBy: trackPrivateServices">
          <div [ngClass]="service.paymentType == 'Free' ? 'alert alert-success' : 'alert alert-info'" style="flex:none;display:flex;flex-direction:row;align-items:center;padding:5px;margin:0 10px 0 0;flex-wrap:nowrap">
            <ng-container *ngIf="service.defaultServiceImage | async; then showprivatedefaultserviceimage"></ng-container>
            <ng-template #showprivatedefaultserviceimage>
              <ng-container *ngIf="service.defaultServiceImage | async;let image">
                <div style="flex:none;margin-right:5px">
                  <img [src]="image.url">
                </div>
              </ng-container>
            </ng-template>
            <div style="flex:1;margin-right:5px">
              <a [routerLink]="['/user/service/detail']" [queryParams]="{ userId: service.uid, serviceId: service.serviceId }" style="flex:none;color:#1B1B1B" matTooltip="{{ service.title }}{{ service.description.length > 0 ? (' - ' + service.description | truncate: 80) : '' }}">{{ service.title | noTitle | truncate: 35 }}</a>
            </div>
            <div style="flex:none">
              <!-- other button controls -->
              <ng-container *ngIf="service.type == 'Public'; then showpublicservicetype else showprivateservicetype"></ng-container>
              <ng-template #showpublicservicetype>
                <mat-icon onclick="event.stopPropagation()" (click)="changeServiceType(service)" style="cursor:pointer;color:#1B1B1B" matTooltip="Public">lock_open</mat-icon>
              </ng-template>
              <ng-template #showprivateservicetype>
                <mat-icon onclick="event.stopPropagation()" (click)="changeServiceType(service)" style="cursor:pointer;color:#1B1B1B" matTooltip="Private">lock</mat-icon>
              </ng-template>
              <mat-icon onclick="event.stopPropagation()" (click)="deleteService(service)" style="cursor:pointer;color:#1B1B1B" matTooltip="Delete">close</mat-icon>
            </div>
          </div>
        </ng-container>
      </ng-template>
      <ng-template #noprivateservices>
        <p style="flex:none;color:#999;font-size:90%">
          <i>No Services</i>
        </p>
      </ng-template>
    </ng-container>
  </div>
</div>
